[2021-07-30 18:52] mikeghen opened #9 "Replace 0 and Na"

[2021-08-08 13:46] mikeghen opened #11 "Show the Number of Streamers for each exchange"
There should be a metric in each exchange showing how many streamers are streaming, just a count of the wallet addresses. This is already logged by @JoelJesudason in the console. See screenshot below. This metric can go under the `Total Value Streamed` metric.
<img width="2240" alt="Screen Shot 2021-08-08 at 9 43 17 AM" src="https://user-images.githubusercontent.com/5077880/128634132-133a2807-d531

[2021-08-08 15:06] mikeghen commented on #11
Closed bt #12, thanks @iamsahu

[2021-08-08 15:06] #11 closed

[2021-08-08 15:07] mikeghen opened #13 "Redo README.md"
Just remove the boilerplate text and replace it with:
- description of Ricochet
- frontend screenshot
- etc.

[2021-08-08 15:44] mikeghen opened #15 "Block streams with less than 24 hours of balance to stream"
There is a block in superfluid dashboard to prevent streams that won't last 8 hours, we should implement the same restriction to prevent SF liquidations from happening.

[2021-08-10 12:50] mikeghen opened #16 "Add View of Hourly Distributions"
These events are logged: https://github.com/Ricochet-Exchange/ricochet/blob/main/01-Contracts/contracts/StreamExchangeHelper.sol#L24
<img width="643" alt="Screen Shot 2021-08-10 at 8 49 19 AM" src="https://user-images.githubusercontent.com/5077880/128869622-293028e3-2dea-45dd-9a61-d406d4101b27.png">

[2021-08-13 21:55] sunnyjaycer opened #17 "Max Button"
Add a button such that when your upgrading all your tokens you don't have to put in the number manually and can just hit max. Will have to put a buffer for the downgrading because a user may already be streaming and hence the balance is dynamically decreasing.

[2021-08-22 15:53] mikeghen opened #19 "Fix Total Streamers count"
This metric only counts up, once someone stops streaming, it doesn't go down:
<img width="483" alt="Screen Shot 2021-08-22 at 11 53 18 AM" src="https://user-images.githubusercontent.com/5077880/130361612-d1363880-eb53-4700-a64a-e1f592f7e7ab.png">

[2021-08-27 12:55] mikeghen opened #24 "Use Faster Gas"
The gas seems to just use low and so transactions take a while. It would be better to use fastest gas so users don't wait long. Transactions on polygon are so check 1 gas price vs. 10 gas price won't really make a difference.

[2021-09-09 15:19] mikeghen opened #28 "Add message to alert uses of the Superfluid Deposit"
We need to have a similar message in our application

<img width="384" alt="Screen Shot 2021-09-09 at 11 17 37 AM" src="https://user-images.githubusercontent.com/5077880/132714114-3be7cf75-c19e-4ec7-b78e-37b495f05421.png">

[2021-09-09 16:53] mikeghen commented on #16
This informations should be available on the Superfluid Graph API

[2021-09-16 00:21] sunnyjaycer opened #30 "Change content description in index.html"
https://github.com/Ricochet-Exchange/ricochet-frontend/search?q=create-react-app

Change it to "Automatic Real-Time Crypto Investing"

[2021-09-17 13:27] sunnyjaycer opened #31 "Add "Use At Your Own Risk" and a 2% fee message"
1. "While reviewed by the Superfluid team, these contracts have not been audited, use at your own risk"
    - perhaps in a thin banner on top like what https://mean.finance does
2. "Ricochet takes a 2% fee on swaps"
    - maybe in a banner on the bottom of the page

[2021-09-25 08:17] abstractpoint commented on #17
Nice one, will attempt at his today. Thanks for tagging me

[2021-09-25 15:25] abstractpoint commented on #17
In progress 👍

[2021-09-30 20:21] mikeghen opened #33 "Max button unavailable after approve"
After approving the max, the button is disabled and the value is cleared, so the max button doesn't work for upgrading, only approving, see image
<img width="675" alt="Screen Shot 2021-09-30 at 4 19 23 PM" src="https://user-images.githubusercontent.com/5077880/135524841-046d9d5c-73dd-41b9-b905-1f498df3cfcd.png">

[2021-10-01 13:27] #33 closed

[2021-10-01 13:27] #17 closed

[2021-10-01 13:27] mikeghen commented on #15
I put in an 8 hour block

[2021-10-01 13:27] #15 closed

[2021-10-12 08:34] abstractpoint opened #35 "Lint fix causing hook error"

[2021-10-16 13:48] #30 closed

[2021-10-19 17:33] #35 closed, assigned to nobody

[2021-10-19 17:38] abstractpoint opened #40 "Support for Coinbase Wallet link and WalletConnect?"
With Coinbase soon supporting Polygon withdrawals, might be good time to look into adding these as an alternative to Metamask. Might also be able to render the app showing some basic info without having to login at all, allowing easier use on mobile.

[2021-10-26 14:01] mikeghen opened #43 "Total streams metric"
This issue involves porting the "Total streams" metric to the new UI

<img width="363" alt="Screen Shot 2021-10-26 at 10 00 20 AM" src="https://user-images.githubusercontent.com/5077880/138894696-5b419bda-dae2-41c7-b6f1-e5dfc53a0861.png">

[2021-10-26 20:09] mikeghen opened #46 "Bring users active stream markets to the top"
If a user is streaming to a market, then that market should show up at the top of the list. This issue involves sorting the markets for each user based on how much they're streaming to it. Even better might be to put markets with active streams at the top in a special box to call them out separately

[2021-10-26 20:44] mikeghen opened #47 "Align token icons"
This issue involves aligning all the token logos in Ricochet, see the image below. They're all out of alignment:
<img width="323" alt="Screen Shot 2021-10-26 at 4 43 32 PM" src="https://user-images.githubusercontent.com/5077880/138958097-6462a5fc-05b1-4028-8514-679d82d0bde2.png">

[2021-10-28 08:29] abstractpoint opened #49 "Re-add max buttons on upgrade/downgrade"

[2021-10-29 15:29] mikeghen opened #52 "Loading feedback when transactions are pending"
This issue involves adding loading animations while a transaction is pending, currently the experience is just greyed out buttons.
<img width="1387" alt="Screen Shot 2021-10-29 at 11 27 15 AM" src="https://user-images.githubusercontent.com/5077880/139462017-4a39c556-9532-4511-915e-fec425a910f5.png">

[2021-10-30 17:29] sunnyjaycer commented on #49
![image](https://user-images.githubusercontent.com/62968241/139543120-20dcea2b-66fd-4b0a-a827-7f97608a7caf.png)

Resolved

[2021-10-30 17:29] #49 closed

[2021-10-30 18:01] sunnyjaycer opened #54 "Not correctly capturing amount approved for upgrade widget"
On the new UI (on main branch), the upgrade widget is not correctly capturing the amount of token approved by the user to the super token contract.

Pictured here, the user has not approved enough allowance of MKR to the MKRx contract and yet the UI is showing that the user _has_ approved enough and has enabled upgrade button enabled.

The old UI is able to correctly detect amount approved. Old UI

[2021-11-01 10:26] abstractpoint opened #55 "Incorrect total flow shown on the last market row"
The total flow currently is 4696.300
<img width="1071" alt="Screenshot 2021-11-01 at 10 24 15" src="https://user-images.githubusercontent.com/3032975/139657779-ff272802-be8c-4f22-9089-0da1c8e8b312.png">

[2021-11-01 11:41] abstractpoint commented on #47
Fix: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/56

[2021-11-01 13:33] mikeghen commented on #47
Much better
<img width="267" alt="Screen Shot 2021-11-01 at 9 33 23 AM" src="https://user-images.githubusercontent.com/5077880/139679886-d2b5f5b7-2395-4178-869a-ce247f1a6c7b.png">

[2021-11-01 13:33] #47 closed

[2021-11-01 13:35] mikeghen commented on #43
The code for this can be found in the earlier versions of Ricochet Exchange

[2021-11-01 14:29] abstractpoint opened #58 "Searching for REX does not find anything"
The new rexslpx token market is not found when using the search box on the page

[2021-11-03 19:27] jo-chemla commented on #55
Seems to be correct now on a development build  of main branch. Maybe the exchange is not built from the latest main?
![image](https://user-images.githubusercontent.com/16822841/140179282-feb48989-3c2b-47cb-95ca-ceac4a4254af.png)

[2021-11-03 19:49] abstractpoint commented on #55
Yes its been merged but looks like not deployed

[2021-11-03 19:53] abstractpoint opened #60 "Prevent failing transactions when amount is too low"
When user enters $2/mo stream amount that results in almost a 0 value per second flow, which gets rejected by contract. We should find a way to warn user and prevent such transaction. Important to fix as new users want to test the app with low amounts, so important to give a good first impression, and not a failed transaction without any explanation.

[2021-11-03 23:53] #24 closed

[2021-11-04 00:07] #58 closed

[2021-11-04 12:30] jo-chemla commented on #43
Screenshot of PR:
![image](https://user-images.githubusercontent.com/16822841/140313642-814c580c-560e-4dd1-96aa-9266eee3f0f5.png)

[2021-11-04 12:30] jo-chemla commented on #31
Screenshot of PR:
![image](https://user-images.githubusercontent.com/16822841/140313711-432f8f12-b3f3-409f-86f8-cf5f94b44903.png)

[2021-11-04 12:31] jo-chemla commented on #58
Screenshot of PR
![image](https://user-images.githubusercontent.com/16822841/140313783-e02a9c67-348f-4512-9973-3ea9ed5981f9.png)

[2021-11-04 13:42] mikeghen commented on #60
The minimum amount that you can use is `1e9` units/second which works can be amortized to a monthly number. Problem with USDC is it only has 6 decimals, so 1e9 is actually a rather significant amount

[2021-11-04 13:45] jo-chemla commented on #46
PR Screenshot:
![image](https://user-images.githubusercontent.com/16822841/140324602-088bb73e-39de-4735-a6d3-8f13373e72fb.png)

[2021-11-04 14:45] #43 closed

[2021-11-04 16:04] jo-chemla commented on #31
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/66 should fix the banner on mobile and desktop!

[2021-11-04 17:08] abstractpoint opened #67 "Should our wallet screen now support additional incoming tokens from rex?"
We could add here a way to see your SLPx and REX balances (Maybe not REX as that gets burned)
<img width="515" alt="Screenshot 2021-11-04 at 17 06 59" src="https://user-images.githubusercontent.com/3032975/140386140-874e1735-b2cb-4dfc-99d1-0661cf14e37d.png">

[2021-11-05 00:54] jo-chemla commented on #28
PR Screenshot:
![image](https://user-images.githubusercontent.com/16822841/140440365-cf0c7296-7225-4f8a-94a6-7dbb245d5809.png)

[2021-11-05 13:00] josefrichter opened #70 "Clickable User Balance for Max up/downgrade"
current behavior: clicking current balance opens coin picker dialog

expected behavior: clicking current balance fills the input field next to it with the value of current balance. this is common behavior on most DEXes, bridges, etc.

[2021-11-05 14:29] #28 closed

[2021-11-05 14:33] mikeghen commented on #70
Good issue @josefrichter, this is basically the max button, I would like to **remove the max button** in favor of just click the balance, I think that's most defi users expected way to do a max
<img width="708" alt="Screen Shot 2021-11-05 at 10 32 06 AM" src="https://user-images.githubusercontent.com/5077880/140527302-a291fcf7-cff1-4053-913d-fb8248217f50.png">

[2021-11-05 14:34] mikeghen commented on #67
@abstractpoint, no becauses users will never up/downgrade rexSLP tokens, the upgrade and downgrade is controlled by the stream exchange contracts, rexSLP tokens only exist in your while **while you're streaming**

[2021-11-05 14:34] #67 closed

[2021-11-05 14:41] mikeghen commented on #46
looking good on app.ricochet, nice work @jo-chemla :+1:

[2021-11-05 14:41] #46 closed

[2021-11-05 16:08] #31 closed

[2021-11-05 18:35] josefrichter commented on #70
It's amazing I didn't notice the "max" button at all :-o I guess if there's explicit max button, then it's usually inside the input. Which would be fine solution as well. Maybe even more explicit, and more "correct" from classic UX perspective.

[2021-11-06 17:29] FullNodeMeditator commented on #40
I suggest a web3 modal such as this: [https://github.com/ChangoMan/web3modal-example]

The WalletConnect and the Coinbase wallet integration are crucial for fiat to Polygon ramps as both provide near-term solutions for US citizens (and others) to bring liquidity efficiently to Ricochet.

[2021-11-07 13:33] mikeghen opened #75 "Input fields not clickable on mobile"
The input rate input doesn't work on mobile 😿

![IMG_4340](https://user-images.githubusercontent.com/5077880/140647221-81a402d3-bb84-4464-9847-6dff1b6d40ee.png)

[2021-11-07 17:47] mikeghen opened #76 "Better header info on mobile"
I’d like to see the wallet address I’m connected with and my ric balance when I’m on mobile. This info shows on desktop.
![5945C8E7-781B-415E-95EF-19EAF59E6BEC](https://user-images.githubusercontent.com/5077880/140655886-9e839fb5-aa2e-4ce4-ab90-7a2d42086799.jpeg)

[2021-11-07 18:45] mikeghen commented on #75
Nice work @jo-chemla

[2021-11-07 18:45] #75 closed

[2021-11-07 18:47] mikeghen commented on #70
This issue is actually still open, @qasimmehdi moved the Max button which was a big enhancement, but when you click on the balance, it still pops open the coin list as @josefrichter mentions

[2021-11-12 18:54] mikeghen commented on #70
All done

[2021-11-12 18:54] #70 closed

[2021-11-14 15:26] mikeghen opened #77 "Handle MATIC upgrade correctly"
Upgrading WMATIC is not supported and should be removed. Native MATIC should be added. Upgrading MATIC needs to use the `upgradeByETH` method on the MATICx supertoken. This issues involves removing WMATIC and replacing it with MATIC, and using `upgradeByETH` to upgrade MATIC

[2021-11-14 16:11] #55 closed

[2021-11-15 20:41] mikeghen opened #80 "Add Yield to REX Tokens"
Display the yield on the underlying token on sushiswap:
<img width="1130" alt="Screen Shot 2021-11-15 at 3 41 04 PM" src="https://user-images.githubusercontent.com/5077880/141850876-1eb59d75-aa9f-4b78-8d55-c8371f9773b4.png">

[2021-11-15 20:44] mikeghen commented on #80
handled in #78

[2021-11-16 00:22] mikeghen commented on #80
Nice work @jo-chemla

[2021-11-16 00:22] #80 closed

[2021-11-16 21:26] abstractpoint commented on #16
What do you mean by "view" here? show inline somehow, or create a separate section in the app (or page). Should it be countdown to the next expected distribution, or only show the past? Should it only included successful tx and not any reverts/fails?

In the mean time I will also ask this user why are they looking for this.
Thanks

[2021-11-16 21:32] abstractpoint opened #83 "WIP Add Ramp.network widget to the site"
Ramp.network allows users to onboard funds directly from their bank account into mainnet or polygon mainnet (Only outside of US currently). They have a JS SDK that can be used to add a button on the site.

For an example behaviour take a look at Zerion dapp.
![Screenshot 2021-11-16 at 21 36 08](https://user-images.githubusercontent.com/3032975/142069649-709b2309-ac0e-4ba8-b7a7-7038054f4a15.png)

[2021-11-16 21:34] abstractpoint opened #84 "Should we add Moon Pay to the site?"
I have noticed that Zerion app offers both, Ramp network and Moon Pay to onboard funds.

Is Moon Pay available in US and on Polygon? Should we also consider integrating with it?
![Screenshot 2021-11-16 at 21 35 59](https://user-images.githubusercontent.com/3032975/142069690-a8248507-4506-49e9-bc53-a3c6799fc517.png)

[2021-11-17 01:52] mikeghen commented on #84
I shared the specifications for v2 and it includes added in embedded cash onramp like Ramp.network, Dharma, etc., so we should certainly add something like Moon Pay

[2021-11-17 01:53] mikeghen commented on #83
Yes, this deserves a $2500 bounty so I'll make a label for that 💰

[2021-11-17 01:54] mikeghen commented on #84
I think we should just do #83, I'll close this and we'll focus on Ramp.network 🎯

[2021-11-17 01:54] #84 closed

[2021-11-17 01:58] mikeghen commented on #83
I've already reviewed the docs and this is exactly what we want, it doesn't currently support US-based withdraws to polygon, but I imagine it will soon as will EVERYONE, Ramp has by far the most flexibility and will help us keep the experience within Ricochet, if I understand how this will work correctly.

[2021-11-17 21:00] abstractpoint commented on #83
Soon™️
<img width="975" alt="Screenshot 2021-11-17 at 20 59 49" src="https://user-images.githubusercontent.com/3032975/142281709-5a9c550e-def3-44b0-8c82-3f7de7234326.png">

[2021-11-17 21:40] mikeghen commented on #83
This is amazing @abstractpoint

[2021-11-17 23:41] jo-chemla commented on #83
Any hint about why you are using [Ramp.network](https://docs.ramp.network/sdk-reference/) over [Transak](https://www.notion.so/Integrate-Transak-f43cbb5dc7fa4d068a044ef9589879bf)? Just wondering which one is recommended depending on the project!

[2021-11-18 19:58] abstractpoint commented on #83
Still in progress. Facing a strange issue with the SDK at the moment. Asked on Ramp discord, I think might be ok in prod.

[2021-11-18 20:01] abstractpoint commented on #83
@jo-chemla They have a simple SDK and are really well known in the space. I was one of their early beta testers/users. We will look into other solutions soon after, depending on how much Ramp would be used I guess.

[2021-11-18 21:36] abstractpoint commented on #83
PR here: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/87

Not completely tested all the way through as I was getting a strange error locally with my Bank. I will deploy my own version to prod and test to confirm it works.

[2021-11-19 17:01] jo-chemla opened #89 "Handle USDC/WBTC upgrade not working"
Handle USDC/WBTC upgrade not working, halting most users onboarding ricochet - at least all those not streaming DAI but USDC)

[2021-11-19 17:02] jo-chemla opened #90 "Add stream end date"
This is computed using the formula:
`end_time = current_time + balance / (net_flow_rate)`

[2021-11-19 17:05] jo-chemla opened #91 "Display RIC distribution rates and end of distribution period"
Display RIC distribution rates and end of distribution period.
Probably using a small 🚰 robinet emoji icon, which would display these distribution rates in a popover on hover.

[2021-11-19 19:04] #89 closed

[2021-11-19 22:04] mikeghen opened #93 "Clean up market views on mobile"
These two exchanges are just a little messy looking on mobile, this issue involves laying this information out more cleanly on mobile.
<img width="552" alt="Screen Shot 2021-11-19 at 5 00 13 PM" src="https://user-images.githubusercontent.com/5077880/142697363-fe86ff61-39f4-406a-8bb4-82f1e52fa9d8.png">

[2021-11-19 22:08] mikeghen commented on #76
Nice work @grandzero, don't forget to submit to claim this bounty here: https://docs.ricochet.exchange/business/bounty-hunters#completed-a-bounty

[2021-11-19 22:08] #76 closed

[2021-11-20 10:31] abstractpoint opened #94 "Audit and reduce JS bundle size"
The new UI seems significantly slower than the old one and the current JS bundle has grown to over 2mb in size.

With loads of users from countries with slower internet connection and using mobile discovering Ricochet we need to make sure site is fast and doesn't use so much data transfer.

We should audit bundle using tools like webpack bundle analyzer and try to remove what is not used anymore.

[2021-11-22 14:37] mikeghen commented on #83
Really well done

[2021-11-22 14:37] #83 closed

[2021-11-23 20:47] mikeghen opened #95 "REX Launchpad Page"
Create a separate page for REX Launchpads that shows the active launchpads. This should be a listing of active launchpads. Separate it out from the main “invest” page.

[2021-11-23 20:48] mikeghen opened #96 "REX Trade Page"
- Create a swap tool that lets users swap super tokens for other super tokens
- This should present as a uniswap style swap page in the app

The REXSuperSwap contract to use for this is deployed here: 0x0983c50085C81A7F41598Eb46a29001989102119

[2021-11-23 20:50] mikeghen opened #97 "Interactive Stream Manager"
- Show users a visualization of their streams and allow them to create, edit, delete flows from the visualization
- The idea is to have inputs and outputs, the lines connecting them are the flow rates and they can be edited
![2527f45c-758f-4f8b-9cc6-d56ba4d7fe1a](https://user-images.githubusercontent.com/5077880/143113629-66297691-0afd-42c6-a055-c7ff3da20630.png)

[2021-11-23 20:51] mikeghen opened #98 "Improved Wallet Page"
- Make the Ricochet DApp Wallet page look more like Superfluid’s wallet page
- Using the +/- buttons for up/downgrade
- monthly netflow is the sum of inbound and outbound streams in the "Incoming/Outgoing..." column
- Have a table of assets in the wallet
- Yes, we want to show inbound streams to the user, not just their outbound streams to Ricochet because that's useful info to the user so they kn

[2021-11-23 20:53] mikeghen commented on #77
Handled in #87

[2021-11-23 20:53] #77 closed

[2021-11-23 20:54] mikeghen commented on #54
handled in #89

[2021-11-23 20:54] #54 closed

[2021-11-23 20:59] mikeghen opened #99 "REX Bank Page"
- Create a separate page for REX Bank that shows the available lending options
- Consolidate the bank.ricochet app into app.ricochet

![83da661e-e5e3-4c89-b6f7-cec050334d20](https://user-images.githubusercontent.com/5077880/143120440-512744fa-8193-4796-989c-0e3fe161afe0.png)

[2021-11-24 04:51] cryptoguru0125 commented on #40
Hi, I can help you

[2021-11-24 12:50] FullNodeMeditator commented on #40
Excellent.   Welcome aboard. Can I ask how you found out about this bounty?  Here are the details for working on bounties [https://docs.ricochet.exchange/business/bounty-hunters](https://docs.ricochet.exchange/business/bounty-hunters)

A good next step might be to connect with us in Discord as well:
https://discord.gg/vFFyxpKT

Shepardblue is our led dev and might be able to answer any questions.

[2021-11-24 13:41] abstractpoint commented on #95
I'm interested to pick this up, since I'm so much into these launchpads.

[2021-11-25 15:08] mikeghen commented on #40
@cryptoguru0125, thanks for volunteering, let me know if you have any questions

[2021-11-25 15:15] mikeghen commented on #91
This can be done with the price, that's the easiest metric to understand, or as price in the input units

[2021-11-25 15:19] mikeghen commented on #91
@jo-chemla, I added this to version two and bumped up the bounty a lot

[2021-11-26 16:12] mikeghen commented on #90
Nice work @jo-chemla 🙏

[2021-11-26 16:12] #90 closed

[2021-11-26 16:29] mikeghen opened #101 "Reduce header height on mobile"
The header takes up a lot of space on the mobile phone, this issue is to make the height smaller when using mobile. The area to reduce is highlighted below:

<img width="502" alt="Screen Shot 2021-11-26 at 11 27 41 AM" src="https://user-images.githubusercontent.com/5077880/143609742-aeff7d53-68cd-40e9-8f87-28b152ef908a.png">

[2021-11-28 10:06] abstractpoint opened #103 "[performance] Subgraph/price api endpoints called 150+ times on load"
On load for some reason the app is calling `matic-minichef` `price` `matic-exchange` endpoints repeatedly. This causes the app to take a few seconds to start
<img width="409" alt="Screenshot 2021-11-27 at 21 10 15" src="https://user-images.githubusercontent.com/3032975/143763622-31ba1d3d-31e4-401b-b986-4e3bd7128bf6.png">
.

[2021-11-28 15:38] mindsgn commented on #101
would love to attempt this for my first bounty.

[2021-11-28 16:40] mindsgn commented on #101
I have finished this bounty: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/104

[2021-11-28 16:52] mindsgn commented on #93
has this been resolved?.

[2021-11-29 01:32] mindsgn commented on #52
I will take this on.

[2021-11-29 19:22] mikeghen opened #106 "Round the RIC price to 2 decimals"
I think we've moved beyond needing 6 decimals for the price here:
<img width="181" alt="Screen Shot 2021-11-29 at 2 22 02 PM" src="https://user-images.githubusercontent.com/5077880/143929539-91e5e1fb-bc67-420c-b796-748307912023.png">

[2021-11-29 19:29] mikeghen commented on #101
Thanks @mindsgn! 👏

[2021-11-29 19:29] #101 closed

[2021-11-29 20:12] sunnyjaycer opened #107 "RIC Rewards End Date"
![image](https://user-images.githubusercontent.com/62968241/143935842-97ad92bc-3221-4a28-ba6d-40717c42e4c3.png)

[2021-11-30 04:53] sunnyjaycer commented on #107
Closing this issue as Issue 91 already lists providing the end of distribution period as an item for completion:

https://github.com/Ricochet-Exchange/ricochet-frontend/issues/91

[2021-11-30 04:53] #107 closed

[2021-11-30 04:54] sunnyjaycer commented on #91
![image](https://user-images.githubusercontent.com/62968241/143987890-301a9444-1be9-4da4-9142-28a683c45c0a.png)

Just missing that rewards end date

[2021-11-30 08:06] mindsgn commented on #106
done: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/108

[2021-11-30 14:33] mikeghen commented on #106
Nice work @mindsgn 👏

[2021-11-30 14:37] mikeghen commented on #93
I think #110  solves this but Im doing QA on it right now

[2021-11-30 14:43] mikeghen commented on #93
<img width="400" alt="Screen Shot 2021-11-30 at 9 43 10 AM" src="https://user-images.githubusercontent.com/5077880/144068289-f849d09f-7162-4341-837f-3372226e6d16.png">

[2021-11-30 14:43] #93 closed

[2021-11-30 14:43] mikeghen commented on #93
Nice work as usual @mindsgn

[2021-11-30 14:43] mikeghen commented on #91
Nice work @jo-chemla 👏 👏

[2021-11-30 14:43] #91 closed

[2021-11-30 14:54] #103 closed

[2021-11-30 14:56] mindsgn commented on #96
I am keen on trying this.

[2021-12-01 13:15] vaibhavgeek commented on #98
Hi @mikeghen ,
I would love to pick this up, is there a way I can reach out to you so that I can start working on this?

[2021-12-01 19:08] mikeghen opened #111 "Better Token Selector on Wallet page"
[code]

<img width="609" alt="Screen Shot 2021-12-01 at 2 06 37 PM" src="https://user-images.githubusercontent.com/5077880/144297690-fb35fe0a-3616-4434-bc56-ac18615afe98.png">

[2021-12-01 19:11] mikeghen opened #112 "Extend decimal precision on deposit amount"
<img width="471" alt="Screen Shot 2021-12-01 at 2 10 29 PM" src="https://user-images.githubusercontent.com/5077880/144298254-35f57e23-3aa3-4cb6-a1bd-7574f70d58a2.png">

[2021-12-01 23:23] jo-chemla commented on #98
Sure, please reach out on the ricochet [discord](https://discord.gg/VaANYUJN)!

[2021-12-01 23:38] elvijsTDL commented on #112
Done in #113

[2021-12-03 11:21] mikeghen commented on #112
Thanks @elvijsTDL 👏

[2021-12-03 11:21] #112 closed

[2021-12-04 17:16] sunnyjaycer opened #115 "Show app even when Metamask not installed"
Currently, if you don't have a browser wallet, the app is hidden. This reduces visibility for people who are just trying to get a look at the app.

Everything in the app should render (Total Value Streaming, Total Streamers, rexLP yield %, $RIC price, etc.), except the personal stream details and the ability to do transactions will obviously not be enabled (obviously because there's no wallet conn

[2021-12-04 17:25] sunnyjaycer opened #116 "Downgrade widget user protection"
If a user is streaming with a token, downgrading the token their streaming with puts them at risk of liquidation.

![image](https://user-images.githubusercontent.com/62968241/144718515-5ad36d7f-437c-4aa5-bcf0-2cdb07726ed4.png)

For instance, I've got a bunch of outbound DAIx streams. If I downgrade all my DAIx as shown here, all my streams become liquidated (cancelled) because I'm out of DAIx and

[2021-12-04 20:50] mikeghen opened #118 "Find and fix start stream for IDLE-ETH rexLP"
This issue appears on this branch:
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/117

Once I made the changes in #117, the start stream button for rexLP throws an error in the app, specifically USDC-ETH which was working before.

Complete this issue by reviewing the PR, find where the issue is, and fix it.

rexLP for IDLE-ETH is not deployed to a network yet but will go live soon.

[2021-12-04 20:54] mikeghen opened #119 "Parameterize LpAPY to support many rexLPs"
The `LpAPY` has a hard coded address in the query it uses. This issue involves parameterizing this so we can get the APY for many rexLP markets.

This can be done on the main branch of on the branch from #117

[2021-12-05 19:04] elvijsTDL commented on #116
I'll do this one

[2021-12-06 17:12] mikeghen opened #120 "Resolve big number error"
* This was fixed at one point, need to use a method like `toLocaleString` or something:
<img width="616" alt="Screen Shot 2021-12-06 at 12 12 30 PM" src="https://user-images.githubusercontent.com/5077880/144890845-5a92b809-2eee-4780-993a-ea8d97189eb0.png">

[2021-12-07 19:28] mikeghen commented on #120
Resolved: https://github.com/mikeghen/ricochet-frontent/commit/02416657b0b30cce4eecaf7817b9a101ef731862

[2021-12-07 19:28] #120 closed

[2021-12-07 19:28] mikeghen commented on #119
I got it

[2021-12-07 19:28] #119 closed

[2021-12-07 19:29] mikeghen commented on #118
I got it

[2021-12-07 19:29] #118 closed

[2021-12-07 19:29] sunnyjaycer opened #121 "Next Distribution In... animation"
Note: To be completed once each Ricochet product has been separated into individual tabs. Will be marked as "help wanted" when ready

![image](https://user-images.githubusercontent.com/62968241/145092741-0c66045d-8fbe-4613-a2e8-91370402ba10.png)

Put an animation that shows when the next distribution is to occur. As of writing this, distributions for rexMarkets are at 20-minute intervals, the rexL

[2021-12-08 16:58] mindsgn commented on #52
PR: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/122

[2021-12-10 13:48] mikeghen commented on #52
Nicely done @mindsgn

[2021-12-10 13:48] #52 closed

[2021-12-10 14:06] mindsgn commented on #40
hey @cryptoguru0125 any progress with this bounty?.

[2021-12-10 16:58] abstractpoint commented on #95
PR here: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/123

[2021-12-11 13:50] mikeghen commented on #115
This probably warrants a larger bounty so I raised it to 5000

[2021-12-11 16:39] mikeghen opened #124 "Approve Button Loading when not Loading"
The approve button just spins sometimes without me doing anything
<img width="813" alt="Screen Shot 2021-12-11 at 11 38 11 AM" src="https://user-images.githubusercontent.com/5077880/145684438-292a30cd-1627-4431-a0f8-df1c52a603d6.png">
And when I try to downgrade I get all these spinners
<img width="706" alt="Screen Shot 2021-12-11 at 11 32 30 AM" src="https://user-images.githubusercontent.com/5077

[2021-12-11 19:11] mikeghen opened #126 "Round the main container"
Make the bottom of the page end cleaner by rounding the edges and removing the discontinuity in the background:
<img width="1375" alt="Screen Shot 2021-12-11 at 2 09 19 PM" src="https://user-images.githubusercontent.com/5077880/145688683-60be09aa-de88-4d36-961a-170ef1257cc6.png">

[2021-12-11 19:14] mikeghen commented on #95
Nice work
<img width="1363" alt="Screen Shot 2021-12-11 at 2 14 13 PM" src="https://user-images.githubusercontent.com/5077880/145688769-2364acfa-74b0-4e7a-9949-385942e56dcf.png">
!

[2021-12-11 19:14] #95 closed

[2021-12-11 19:48] msoni89 commented on #126
I will look into it.

@mikeghen

[2021-12-11 20:12] msoni89 commented on #126
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/127

![image](https://user-images.githubusercontent.com/65469737/145690242-4bb16255-7c04-4769-8dca-9642d595b06a.png)

[2021-12-11 20:17] msoni89 commented on #115
@mikeghen I will take care of it.

[2021-12-11 21:17] msoni89 commented on #124
@mikeghen I will take care of it.

[2021-12-11 22:25] msoni89 commented on #124
![image](https://user-images.githubusercontent.com/65469737/145692413-7e63df85-7c43-4c28-b9b0-877dbfb05c49.png)
![image](https://user-images.githubusercontent.com/65469737/145692419-42429c4d-344a-4b30-9821-a724db24cf59.png)
![image](https://user-images.githubusercontent.com/65469737/145692427-7cde93c6-62da-4533-84d3-575f2268d4d6.png)

[2021-12-11 22:28] msoni89 commented on #124
loading state
![image](https://user-images.githubusercontent.com/65469737/145693476-33d9274a-00fe-41f4-8992-0c79d75a0d11.png)
disabled state
![image](https://user-images.githubusercontent.com/65469737/145693479-0ca7e7e3-dca2-4fe3-8b61-398604e4f698.png)
![image](https://user-images.githubusercontent.com/65469737/145693489-e04a8b79-70ec-41d9-90ce-0b8a22776821.png)
enabled state
![image](https://user

[2021-12-11 22:28] msoni89 commented on #124
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/128 @mikeghen

[2021-12-12 15:44] mikeghen commented on #126
Nice work @msoni89! 👏 🚰

[2021-12-12 15:44] #126 closed

[2021-12-12 15:45] mikeghen commented on #116
I took the help-wanted label off this issue @elvijsTDL

[2021-12-12 16:50] abstractpoint opened #131 "Display total streaming value for each market in USDC"
<img width="405" alt="Screenshot 2021-12-12 at 13 49 43" src="https://user-images.githubusercontent.com/3032975/145721460-01a3722c-8939-451d-81fe-e18b7a10c98e.png">

Here the value for this ETH market should be converted to and shown in USDC

[2021-12-12 17:19] abstractpoint opened #132 "Integration with Wyre for wallet funding"
There has been discussions with Wyre team and we are ready to add Wyre as a second onramp in addition to Ramp.network in the site.

The objective is to enable support for US users going straight to Polygon from Apple Pay or CC using USDC token. Also an added benefit is to have a backup solution in case primary solution (Ramp.network) currently fails.

Integration would require creating a new Modal

[2021-12-12 21:09] mikeghen commented on #124
I took a look and this seems to work fine in staging, way to go @msoni89! 👏

[2021-12-12 21:09] #124 closed

[2021-12-12 21:24] mikeghen commented on #132
I followed up with nathan about KYB @abstractpoint

[2021-12-12 22:59] elvijsTDL commented on #116
👍  I will finish it up tomorrow evening

[2021-12-13 00:14] elvijsTDL commented on #131
@abstractpoint Would just getting the token dollar price from somewhere like coingecko be fine or it has to be specific to USDC? And the end result should be showing something like 37345$/mo instead of 9,437 Eth/mo right? If thats ok I will do this one

[2021-12-13 01:42] elvijsTDL commented on #116
Done in #133

[2021-12-13 17:32] mikeghen commented on #131
Yes, exactly, show the USD value AND the ETH value, emphasis on USD value

[2021-12-14 02:01] harshitsinghai77 commented on #40
Hey, if you want maybe I can help with this stuff.

[2021-12-14 13:35] mikeghen opened #134 "Ledger Live DApp Integration"
This issue involves getting the Ricochet DApp into Ledger Live's app marketplace so Ledger Live users can interact with Ricochet through Ledger Live.

This is probably the place to start: https://developers.ledger.com/docs/live-app/start-here/

[2021-12-14 13:37] alacombe-ledger commented on #134
actually https://developers.ledger.com/docs/dapp/process/

[2021-12-14 13:38] alacombe-ledger commented on #134
so the scope is both adaptation of the Ricochet dapp to use Ledger's iframe provider and Nano plugin.

[2021-12-14 13:41] mikeghen opened #135 "Gnosis Safe Integration"
This issue involves adapting the frontend so it works when loaded as a Gnosis Safe App.

[2021-12-14 13:47] msoni89 commented on #134
@mikeghen I will take care of it.

[2021-12-14 13:47] msoni89 commented on #135
@mikeghen I will take care of it.

[2021-12-14 13:48] alacombe-ledger commented on #134
do you need any help with the plugin in `c` @msoni89 or not at all?

[2021-12-14 14:03] #111 closed

[2021-12-14 14:07] mikeghen commented on #115
Nicely done @msoni89

[2021-12-14 14:07] #115 closed

[2021-12-14 20:47] FullNodeMeditator commented on #40
@

Yes, please.  We still need support with this bounty.  Hop into the discord server and discuss if you have any questions.  Otherwise, go right ahead and start coding.

[2021-12-14 20:55] elvijsTDL opened #136 "Transactions get created with 0 WEI gas price"
Very often transactions get created with 0 gas price even if Metamask gas price is set and it causes transactions to get stuck even if you try to speed them up afterwards

![image](https://user-images.githubusercontent.com/77115130/146077772-ec5e1946-108f-4776-92fd-5f44704b507f.png)

[2021-12-16 12:34] mikeghen commented on #116
@elvijsTDL, I had to remove this it was not passing the build, there were ES lint errors for white spacing.
[code]

[2021-12-16 13:20] elvijsTDL commented on #116
@mikeghen Pardon, ES lint errors fixed #137

[2021-12-16 17:29] jasonngov commented on #97
@mikeghen I'd be interested in picking this up.

[2021-12-16 19:17] msoni89 commented on #134
@alacombe-ledger definitely I will connect you if needed any help or guidance,

[2021-12-16 21:10] mikeghen opened #139 "Fix IDLE icon size"
<img width="541" alt="Screen Shot 2021-12-16 at 4 10 03 PM" src="https://user-images.githubusercontent.com/5077880/146449476-c5a8fae0-4786-4d92-a176-740dc0bab492.png">

[2021-12-17 18:51] abstractpoint commented on #94
I have also noticed that on my 5mbit connection atm it takes many seconds to actually download this js chunk. Could be related in some way, or throttling on the hosting plan maybe, not sure
<img width="710" alt="Screenshot 2021-12-13 at 13 40 32" src="https://user-images.githubusercontent.com/3032975/146593628-f7b4c7c9-4111-4df0-b760-a8485063255d.png">

[2021-12-17 21:42] msoni89 commented on #139
@mikeghen
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/142

[2021-12-18 18:26] sunnyjaycer opened #143 "Notice Banner"
Add a banner to the top of the app stating:

"Ricochet Exchange has partnered with Idle Finance to offer real-time $IDLE investing. Try the $IDLE rexMarket today"

Kinda like where it says "SIGNUP TODAY AND ..." on this image:

![image](https://user-images.githubusercontent.com/62968241/146651840-088b730f-eab7-4a96-b779-499af55a82db.png)

You'll want to replace that statement with the "Ricochet Ex

[2021-12-19 16:21] sunnyjaycer opened #144 ""Do not use USDC->IDLE/WETH rexLP" controls"
The USDC->IDLE/WETH rexLP is not working and some UI notices could prevent further users from using it. Details in the below tweet.

https://twitter.com/ricochetxchange/status/1472357615011250177

For this issue:
- add a message on the row saying "Out of order - if you are a current user, CANCEL YOUR STREAM"
- Disable the "Start/Edit" button

This rexLP didn't have a huge user base to start with a

[2021-12-19 21:08] abstractpoint opened #145 "Referral System Front End"
As part of the protocol described here: https://github.com/Ricochet-Exchange/ricochet-protocol/issues/3

This issue scope is on required Front End for the Rex referral contract:

- URL that accepts ref id as param
- cookie with 30 days duration persisting ref id - landing on ref url always replaces the cookie
- checking that referrer id is valid and is in the rexReferrer contract
- encode id as us

[2021-12-20 14:14] #144 closed

[2021-12-20 17:36] mikeghen commented on #132
Im going to close tihs @abstractpoint, we can reopen it if we ever come back to this

[2021-12-20 17:36] #132 closed

[2021-12-21 02:08] elvijsTDL commented on #131
Work in progress

[2021-12-22 05:02] 0xMihir commented on #40
Currently working on this + improving UX
![image](https://user-images.githubusercontent.com/93171064/147038383-ad6c2f64-df01-446c-bce7-bc9ed7b6d911.png)

[2021-12-23 00:18] elvijsTDL commented on #131
Done in #154

[2021-12-23 22:47] mikeghen commented on #98
nice work again @vaibhavgeek 👏

[2021-12-23 22:47] #98 closed

[2021-12-23 22:48] mikeghen commented on #40
Because of the complexity of the issue, @abstractpoint and I would like to raise the bounty

[2021-12-23 23:38] mikeghen opened #156 "Move Market Price Below User Balance"
This issue involve removing the token price column from the page and move the market price below the user balance, like shown below:
<img width="358" alt="Screen Shot 2021-12-22 at 10 10 53 AM" src="https://user-images.githubusercontent.com/5077880/147299657-fbb8012f-9888-44e9-b737-8a9a5eb32e70.png">

[2021-12-23 23:42] mikeghen opened #157 "Show token balances on mobile wallet view"
Right now the balances of the tokens you hold arent shown, can these balances, supertoken and non-supertoken balance, be shown here?
<img width="496" alt="Screen Shot 2021-12-23 at 6 40 52 PM" src="https://user-images.githubusercontent.com/5077880/147299817-c62b4c5f-54a3-4c0b-8572-65c867d5795c.png">

[2021-12-24 02:44] elvijsTDL commented on #156
I will do this one

[2021-12-24 02:44] elvijsTDL commented on #157
I will do this one

[2021-12-27 08:46] msoni89 commented on #134
Hi @mikeghen, I and rne (@n4l5u0r) from Ledger are working on this.

[2021-12-27 08:54] adrienlacombe-ledger commented on #134
FTR @n4l5u0r is not from Ledger org.

[2021-12-27 09:02] msoni89 commented on #134
noted

[2021-12-27 13:53] dreamdaura commented on #143
Hi, want to do this !

[2021-12-27 14:04] dreamdaura commented on #143
[#163](https://github.com/Ricochet-Exchange/ricochet-frontend/pull/163#issue-1089263398)

[2021-12-27 19:30] mikeghen commented on #131
Nice work @elvijsTDL :clap: 👏

[2021-12-27 19:30] #131 closed

[2021-12-28 17:22] sunnyjaycer opened #165 "Wallet page - rows hanging off"
![image](https://user-images.githubusercontent.com/62968241/147591162-e295c769-9729-4bca-9646-ef1490a5e07f.png)

The white container section should extend to contain all of the rows the way it does on the Invest tab.

[2021-12-28 17:30] sunnyjaycer opened #166 "Tutorial button"
Add a little tutorial pop out option below rexBank. Should look like what's shown below:

![image](https://user-images.githubusercontent.com/62968241/147591793-34c94458-d6ce-446b-827d-c3e1fdcff2ee.png)

[2021-12-29 13:53] mikeghen commented on #96
@mindsgn, still interested in this?

[2021-12-29 14:44] #99 closed

[2021-12-29 18:21] nishit-g commented on #166
Hey @sunnyjaycer can I take this on ? Where should the Tutorial button take user ?

[2021-12-29 21:09] dreamdaura commented on #165
hi, i can do this!

[2021-12-29 21:11] dreamdaura commented on #121
Hi, i want to take this issue

[2021-12-29 21:16] sunnyjaycer commented on #166
Let's link it to here: https://docs.ricochet.exchange/tutorial/using-the-dapp

Double whammy - they get their tutorial and they're exposed to the docs 😤

[2021-12-29 21:18] sunnyjaycer commented on #166
Also @nishit-g, could you capitalize the "S" in "streams" in that top button while you're at it

[2021-12-30 07:19] mindsgn commented on #96
yes I am, currently busy with it.

[2021-12-30 10:22] nishit-g commented on #166
Hey @sunnyjaycer , is this GTG ?

<img width="1440" alt="Screenshot 2021-12-30 at 3 52 22 PM" src="https://user-images.githubusercontent.com/32142878/147743142-6a68c7a6-dab0-48e6-b182-36ef59d54656.png">

[2021-12-30 13:34] sunnyjaycer commented on #166
Almost. Tiny tweaks:

- get rid of that faint blue background around the rexBank and Tutorial buttons so it's just white like before
- add back the pop out icon to the rexBank button
- add a space between "tutorial" and the pop out icon on the tutorial button

[2021-12-30 15:10] mikeghen opened #170 "$0 when wallet not connected"
#154 Introduced an issue where USD values show up as 0 when no wallet is connected. The $0 value should be an actual value.
<img width="277" alt="Screen Shot 2021-12-30 at 10 07 43 AM" src="https://user-images.githubusercontent.com/5077880/147763803-707008d7-f836-46cd-8b8c-a974c065644e.png">

[2021-12-30 15:11] nishit-g commented on #166
@sunnyjaycer , updated !

Just wanted to make sure, currently the rexBank option doesn't take user to any external link, right ? ( As currently in the app it just renders other component, I have also removed the active class styling from this as it looked weird)

<img width="1440" alt="Screenshot 2021-12-30 at 8 36 33 PM" src="https://user-images.githubusercontent.com/32142878/147763496-70630346-c

[2021-12-30 15:35] msoni89 commented on #170
![image](https://user-images.githubusercontent.com/65469737/147765920-5f2c981b-e42c-4a76-be5f-98ad9d86509d.png)

[2021-12-30 18:37] abstractpoint opened #172 "Streams not showing in streams section or showing zero flows in markets"
Issue reported here: https://discord.com/channels/862796510604296263/866147230255546418/925445918453538867

[2021-12-30 18:49] abstractpoint commented on #172
PR ready: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/173

[2021-12-30 23:56] sunnyjaycer commented on #166
Oh my bad @nishit-g! The rexBank button actually should have that faint blue background. I forgot that we integrated it into the app already!

[2021-12-30 23:57] sunnyjaycer commented on #166
All good to go otherwise 💯

[2021-12-31 00:11] abstractpoint opened #174 "More dropdown content in header obscured when open"
Looks like a problem with z-index after Bank integration
<img width="522" alt="Screenshot 2021-12-30 at 21 09 29" src="https://user-images.githubusercontent.com/3032975/147795673-42be6266-6d95-441a-a164-889c016e00e8.png">

[2021-12-31 00:40] nishit-g commented on #166
in #175

[2021-12-31 09:59] msoni89 commented on #174
@mikeghen I handled it, please check https://github.com/Ricochet-Exchange/ricochet-frontend/pull/177/files

[2021-12-31 19:40] mikeghen commented on #174
Nice work @msoni89, thanks for reporting @abstractpoint ✋

[2021-12-31 19:40] #174 closed

[2022-01-01 17:20] mikeghen opened #178 ""Max Withdraw" button for Rex Bank"
This issue is to add a max button to the withdraw collateral on rex bank page (see below). There's a max button for repaying the debt you can reference.
<img width="1366" alt="Screen Shot 2022-01-01 at 12 18 07 PM" src="https://user-images.githubusercontent.com/5077880/147856255-ceb8241f-b8f9-4968-8683-6292a9e354d9.png">

[2022-01-02 22:07] jasonngov commented on #178
Working on this as first issue!

[2022-01-02 22:15] elvijsTDL commented on #178
@mikeghen Shouldn't this issue be in https://github.com/Ricochet-Exchange/rex-bank-frontend ?

[2022-01-03 01:28] jasonngov commented on #178
@mikeghen Interested in picking this up. Would you mind assigning me the ticket?

[2022-01-04 17:03] abstractpoint commented on #94
Update. The app now takes 2 minutes to load on Fast 3G connection. I have started looking into trimming the bloat. Looks like bundle now is a whopping 9MB
<img width="1430" alt="Screenshot 2022-01-04 at 14 01 57" src="https://user-images.githubusercontent.com/3032975/148096027-5d80cf5c-b423-4d97-b179-18a01f116986.png">

[2022-01-04 17:36] sunnyjaycer commented on #166
Great work @nishit-g. Looks like that video icon didn't appear when your code was added to the app, but that's an easy future fix.

[2022-01-04 17:36] #166 closed

[2022-01-05 03:48] bigint opened #179 "Add ENS avatar support"
Something like this

![Screenshot 2022-01-05 at 9 18 10 AM](https://user-images.githubusercontent.com/69431456/148157745-2a12f161-3089-4567-b29f-949f53891109.png)

[2022-01-05 03:49] bigint opened #180 "Improve README design of this repo"
It would be great if we have better readme with badges, links and docs

[2022-01-05 03:55] bigint opened #181 "Add link to buy in Sushiswap and Quickswap"
Something like this

![image](https://user-images.githubusercontent.com/69431456/148158257-20db78b0-5988-42bd-8c61-ff4f861e889b.png)

[2022-01-05 03:59] bigint opened #182 "Center align icons UPGRADE and DOWNGRADE icon"
![Screenshot 2022-01-05 at 9 28 54 AM](https://user-images.githubusercontent.com/69431456/148158596-9528091c-3a82-414a-8c41-56b2d4c1b815.png)

[2022-01-05 04:10] rashtrakoff commented on #178
Hey @jasonngov , are you still interested in this issue ? I can assign you to the same if you are.

[2022-01-05 08:20] bigint opened #183 "Don't allow to stop the stream if user balance is zero"
https://user-images.githubusercontent.com/69431456/148184031-085e6a44-aef1-407e-996e-1b8ba7988f90.mov

I'll work on this 🤗

[2022-01-05 08:34] bigint opened #184 "Align tutorial link to left side"
![Screenshot 2022-01-05 at 2 04 36 PM](https://user-images.githubusercontent.com/69431456/148186089-84e20bf0-8291-4fc5-bd83-b31e745aeae4.png)

[2022-01-05 08:37] bigint opened #185 "Add cursor pointer to more dropdown button/icon"
![Screenshot 2022-01-05 at 2 07 35 PM](https://user-images.githubusercontent.com/69431456/148186556-4961c2b0-b82d-4764-80fc-4604f337a166.png)

[2022-01-05 13:58] jasonngov commented on #178
@rashtrakoff  Yes, please do.

[2022-01-05 16:55] sunnyjaycer opened #187 "RIC token logo change"
Currently, the RIC token is represented just with the black Ricochet logo here on the rexLaunchpad

![image](https://user-images.githubusercontent.com/62968241/148256888-c2627474-711a-4a7f-95e2-185ee1fab583.png)

Replace that with the new RIC token logo provided below

https://drive.google.com/drive/u/1/folders/11qupOOgvlxhPpTsJnfaXL2IoSfNgLXE3

[2022-01-05 21:24] jasonngov commented on #187
Working on this.

[2022-01-05 22:01] jasonngov commented on #187
![image](https://user-images.githubusercontent.com/40685033/148295778-297a6bd4-d760-400e-95d3-4c9d0324437d.png)

[2022-01-05 23:38] sunnyjaycer commented on #187
Looks too small @jasonngov, could you size it up to the usdc logo?

[2022-01-06 00:00] jasonngov commented on #187
![image](https://user-images.githubusercontent.com/40685033/148306922-f8dfb9d4-e36c-449d-b1aa-6d8d127d570e.png)
Done.

[2022-01-06 00:05] sunnyjaycer commented on #187
Perfect. Thanks for the speedy work @jasonngov

[2022-01-06 23:20] abstractpoint commented on #145
This is in progress, and now awaiting V2 Rex contracts to be deployed

[2022-01-06 23:21] abstractpoint commented on #94
This is somewhat blocked at the moment, due to requirement to migrate to Superfluid SDK-core or SDK-redux instead of JS-SDK which is deprectated.

[2022-01-10 01:56] jasonngov commented on #97
Is this being worked on? Looking to pick it back up

[2022-01-10 15:58] vaibhavgeek commented on #182
@bigint / @mikeghen This seems like an issue from my work, please assign this to me.

[2022-01-10 15:58] sunnyjaycer commented on #97
Here's the original figma of the concept: https://www.figma.com/file/Wbr92wkrSLLVY3u5EHwft4/Ricochet?node-id=111%3A902

[2022-01-10 16:09] abstractpoint opened #190 "Moving ETHDAI market up and hiding subsidies if expired"

[2022-01-10 16:10] abstractpoint commented on #190
<img width="1157" alt="Screenshot 2022-01-10 at 13 08 18" src="https://user-images.githubusercontent.com/3032975/148798720-102cd1d7-10ee-4b36-8c89-443176c757f5.png">

[2022-01-10 17:15] sunnyjaycer commented on #40
Hey @0xMihir, what's the status of this?

[2022-01-11 11:56] #172 closed

[2022-01-11 11:59] abstractpoint commented on #190
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/191

[2022-01-11 11:59] #190 closed

[2022-01-11 15:14] vaibhavgeek commented on #182
Screenshot of centered icons
<img width="1512" alt="Screenshot 2022-01-11 at 8 43 46 PM" src="https://user-images.githubusercontent.com/1227925/148969080-167c83a2-6290-40b9-95df-520b76d7e0d9.png">

[2022-01-11 15:28] vaibhavgeek commented on #165
This has been resolve in the PR : https://github.com/Ricochet-Exchange/ricochet-frontend/pull/195
<img width="1512" alt="Screenshot 2022-01-11 at 8 52 32 PM" src="https://user-images.githubusercontent.com/1227925/148970659-c06ac519-72ff-4e34-8558-e6167b33d0c4.png">

[2022-01-11 15:47] vaibhavgeek commented on #182
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/195

[2022-01-11 15:56] sunnyjaycer commented on #181
Let's not do this when you can get RIC on the launchpad/

[2022-01-11 15:56] #181 closed

[2022-01-11 17:32] n4l5u0r commented on #134
@mikeghen @msoni89 @adrienlacombe-ledger `c` plugin part is now complete: https://github.com/blooo-io/LedgerHQ-app-plugin-ricochet

[2022-01-11 20:44] elvijsTDL opened #196 "RexBank and RexVault issues"
rexVault button not visible before opening rexBank
<img width="187" alt="Screenshot 2022-01-11 at 22 31 42" src="https://user-images.githubusercontent.com/77115130/149016797-4a1f80e4-c3d2-41b3-ad55-c55c33756246.png">

  rexVault button appears under “Tutorial” hyperlink  
<img width="179" alt="Screenshot 2022-01-11 at 22 32 26" src="https://user-images.githubusercontent.com/77115130/149016896-bdcd

[2022-01-11 20:44] elvijsTDL commented on #196
I will work on these

[2022-01-13 15:33] sunnyjaycer commented on #196
Great attention to detail @elvijsTDL. Added bounty comp

[2022-01-13 21:26] d3centra opened #208 "Repaying USDCx to bank not working"
When accessing the rexVault via https://app.ricochet.exchange/vaults, it is not possible to repay USDCx to the bank - at least if the user hasn't prior given the allowance to access funds through https://bank.ricochet.exchange/vaults.

This issue has to do with the fact that after clicking "give allowance", no MetaMask pop-up is opened that the user could sign.

Interestingly enough, this apparent

[2022-01-14 10:43] mindsgn commented on #185
Done: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/212

[2022-01-14 11:19] mindsgn commented on #184
done: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/213

[2022-01-14 14:00] mikeghen commented on #187
I closed #188, if you two want to change the logo, get the logo approved by token holders first. Also, this PR was open for 9 days and neither of you said anything about getting it in, so I question whether anyone wants this done.

[2022-01-14 14:00] #187 closed

[2022-01-14 14:01] jasonngov commented on #208
Working on this ticket.

[2022-01-14 14:08] jasonngov commented on #187
Hey Mike, I gave a PR update on 1/05 about this being completed in the Discord. No one reviewed it?

[2022-01-14 14:09] mikeghen commented on #187
Lets take this conversation to #proposals if you two want to change the logo

[2022-01-15 13:20] mikeghen opened #218 "Expand input field on Wallet page"
The input box is too small:
<img width="600" alt="Screen Shot 2022-01-15 at 8 10 14 AM" src="https://user-images.githubusercontent.com/5077880/149623200-adeca68e-8a34-4040-b3fc-3d494a2efcf5.png">

[2022-01-15 14:52] nishit-g commented on #218
Working on this @mikeghen

[2022-01-15 18:15] jasonngov commented on #218
I also am getting started on this.

[2022-01-15 20:20] mindsgn commented on #121
got the animation working just finding a way to get when the next distribution will happen.

[2022-01-15 21:03] jasonngov commented on #218
![image](https://user-images.githubusercontent.com/40685033/149637626-18595358-d2eb-494a-bb6d-592802562f16.png)
Looks like this has already been addressed.

[2022-01-16 12:33] elvijsTDL commented on #182
@vaibhavgeek Might be a little bit nitpicky, but it would be great to see the Currency and the upgrade/downgrade buttons be right aligned to the headers like rest of the collumns , I think it would give a more polished look , and looks like the lines for some of the collumns are gone too

[2022-01-16 13:43] vaibhavgeek commented on #182
@elvijsTDL The lines for some of the columns did not exist by design in the first place, the idea was to separate different sections of the table.

[2022-01-17 07:10] vaibhavgeek commented on #182
@elvijsTDL I have right aligned the buttons.

<img width="1427" alt="Screenshot 2022-01-17 at 12 38 12 PM" src="https://user-images.githubusercontent.com/1227925/149723318-53699bf4-937a-46db-9227-e830c1bd33ae.png">

[2022-01-17 15:42] mikeghen opened #221 "Make Balance and Address readable"
<img width="260" alt="Screen Shot 2022-01-17 at 10 41 39 AM" src="https://user-images.githubusercontent.com/5077880/149799754-da1d3ef7-d208-4ff5-9e5e-60d5d9966d77.png">

Use locale strings (10K) and make sure the address is ALWAYS visible

[2022-01-17 16:45] msoni89 commented on #221
@mikeghen I will take care of this.

[2022-01-17 20:34] msoni89 commented on #221
![image](https://user-images.githubusercontent.com/65469737/149832428-d6226cf9-2a53-4fbd-9d80-054ca650b602.png)
![image](https://user-images.githubusercontent.com/65469737/149833155-80769161-6341-48d5-b56f-8bd370a3c580.png)
![image](https://user-images.githubusercontent.com/65469737/149833263-ace2e396-b029-447e-a91a-29c9b82c491f.png)
![image](https://user-images.githubusercontent.com/65469737/1498

[2022-01-18 19:05] shreyaspapi commented on #96
Regarding https://github.com/Ricochet-Exchange/ricochet-protocol/pull/35, frontend will have to use https://docs.uniswap.org/sdk/guides/auto-router for getting the optimal params including `path`, `poolFees` and `amountOutMin`.

[2022-01-19 14:59] #221 closed

[2022-01-19 15:00] mikeghen opened #246 "Don't hard code gas"
Yes its hard coded here - https://github.com/Ricochet-Exchange/ricochet-frontend/blob/b7ac5f9c89b5de6162a96f2b3cf0dac4ba5b434a/src/api/ethereum.ts#L17

[2022-01-19 15:20] #165 closed

[2022-01-19 22:37] shreyaspapi opened #248 "Fix alignment of `-` button."
<img width="157" alt="Screenshot 2022-01-20 at 4 06 38 AM" src="https://user-images.githubusercontent.com/22324802/150229605-96d22c6b-1ff4-4137-a136-719c78cc19d5.png">

[2022-01-19 23:14] #248 closed

[2022-01-20 12:49] mikeghen opened #249 "Redesign REX Bank Page"
The current page has A LOT of white space, that's the main issue.
Secondly, its not so easy to see what's borrow token and collateral token, you have to look at token symbols, it would be better to use token symbols which are already in the assets folder
Third, I think we will have a lot of REX Banks in the future, so I would like to have the interface look more like Aave's markets page, things ar

[2022-01-20 19:12] mikeghen commented on #246
@MrSquiggles13 is on this

[2022-01-20 19:13] mikeghen opened #250 "Add RIC on the wallet page"
Please, why isn't it there already 😿
<img width="567" alt="Screen Shot 2022-01-20 at 2 11 47 PM" src="https://user-images.githubusercontent.com/5077880/150406404-597ebebc-d424-4bdd-a3da-f0ba6200dff4.png">

[2022-01-20 21:04] msoni89 commented on #250
![image](https://user-images.githubusercontent.com/65469737/150421832-aa9de1cc-32b0-436d-b891-47b1f05908f9.png)

[2022-01-21 14:13] #40 closed

[2022-01-21 17:54] #178 closed

[2022-01-22 14:59] mikeghen opened #257 "App not properly sending transactions"
<img width="717" alt="Screen Shot 2022-01-22 at 9 48 10 AM" src="https://user-images.githubusercontent.com/5077880/150643738-fb7adf30-28ed-429b-ae10-1f41501649e6.png">

Seems EIP-1559 related

[2022-01-22 16:24] mikeghen commented on #257
This is an RPC issue with Alchemtyyy

[2022-01-22 16:24] #257 closed

[2022-01-22 16:49] mikeghen commented on #246
Nicely done @MrSquiggles13

[2022-01-22 16:49] #246 closed

[2022-01-22 16:50] mikeghen commented on #218
I still have this issue

[2022-01-22 16:53] #250 closed

[2022-01-22 16:57] mikeghen opened #259 "Dynamically set Priority gas"
Seems the priority fee is hardcode to 2.5, other apps like Sushiswap have it getting set dynamically. This task is to make the prioty fee dynamic so transactions wont get stuck under eip-1559
<img width="265" alt="Screen Shot 2022-01-22 at 11 49 24 AM" src="https://user-images.githubusercontent.com/5077880/150648138-d3652c60-dc15-4b73-8c4b-7a03790ea96e.png">

[2022-01-22 17:45] mindsgn commented on #184
@mikeghen please close this.

[2022-01-22 17:45] mindsgn commented on #185
@mikeghen please close this.

[2022-01-22 17:45] jasonngov commented on #259
I can explore this.

[2022-01-22 17:52] jasonngov commented on #218
I am unable to reproduce this on local or in PROD. I'll defer for someone else to take a look.

[2022-01-22 18:08] #185 closed

[2022-01-22 18:08] #184 closed

[2022-01-22 18:51] MrSquiggles13 commented on #259
Oh no again i gotta stop claiming these in the discord

[2022-01-22 19:06] mindsgn commented on #121
please check this out. https://github.com/Ricochet-Exchange/ricochet-frontend/pull/220

[2022-01-23 00:55] josealonso commented on #196
@sunnyjaycer, can you add a *help wanted* label, since @elvijsTDL cannot keep working on Ricochet issues during January and February.

[2022-01-23 14:40] jojudre commented on #143
#211

[2022-01-23 20:19] jasonngov commented on #259
Completed in #260

[2022-01-23 23:00] #157 closed

[2022-01-24 00:02] sunnyjaycer commented on #196
done @josealonso

[2022-01-24 12:09] mikeghen commented on #259
Nicely done team

[2022-01-24 12:13] mikeghen commented on #208
Can someone try to reproduce this issue?

[2022-01-24 13:15] jasonngov commented on #249
To clarify, this would be a complete overhaul of our existing UI in the Banks page?  Would @mikeghen or @sunnyjaycer be able to provide a specific mockup for REX Bank, or do we just to use AAVE as the template. I can explore potentially taking on this ticket if the requirements are well-defined before development.
![image](https://user-images.githubusercontent.com/40685033/150789180-832364a8-24dc-

[2022-01-24 22:42] MrSquiggles13 commented on #143
@jojudre is this issue closed? @sunnyjaycer  did you pay this out?

[2022-01-24 22:43] MrSquiggles13 commented on #135
@msoni89 i need a progress update on this or we will reassign the bounty

[2022-01-24 22:44] MrSquiggles13 commented on #134
@n4l5u0r is this issue closed? @msoni89 ?

[2022-01-24 22:50] MrSquiggles13 commented on #96
@mindsgn are you still doing this one? I need a progress update

[2022-01-24 23:03] sunnyjaycer commented on #143
I don't think we'll be merging this, but I recall @mikeghen did mention a banner like this may be appropriated for drawing attention to new v2 markets. I suppose we can close for now and then reopen the issue and adjust this code when we revisit.

[2022-01-24 23:17] MrSquiggles13 commented on #143
@sunnyjaycer  we can leave it alone im gonna just track bounties from now on and do this clean up weekly

[2022-01-25 00:35] mindsgn commented on #96
@MrSquiggles13  yes, I am looking to get things completed end of this week.

[2022-01-25 05:25] msoni89 commented on #134
@MrSquiggles13 @n4l5u0r is working on plugin part, frontend side is ready.

[2022-01-25 07:04] n4l5u0r commented on #134
One last round of optimization is necessary as the smart contracts logic on `CallAgreement` is not something standard within plugin API. So need to write some of the decode custom logic. Hope yo complete this by eod.

[2022-01-25 13:57] mikeghen opened #265 "Contributor Guide"
Make a contributor guide `CONTRIBUTE.md`

[2022-01-25 14:17] samirsalem commented on #265
i'll take this task if it's ok for you

[2022-01-25 14:33] mikeghen opened #266 "REXBank Action Button incorrect"
Always says withdraw, even when deposit/repay/borrow:
<img width="874" alt="Screen Shot 2022-01-25 at 9 31 14 AM" src="https://user-images.githubusercontent.com/5077880/150996425-c6919c42-2655-45f5-bd37-69091ca2494d.png">

[2022-01-25 14:52] jasonngov commented on #266
Done in #267

[2022-01-25 16:25] jojudre commented on #143
@MrSquiggles13 Hi, i can fix this in the future, if it needed

[2022-01-25 20:26] mikeghen opened #270 "Fix Max Repay to account for interest"
The max repayment does not properly account for the interest, this is due to how the frontend uses `getDebtAmount` vs `getVaultRepayAmount` method. You don't want to use `getDebtAmount` so somewhere in the repay flow, the repay amount is calculated using `getDebtAmount` when it should use `getValutRepayAmount`. Below are two references to where this is happening in the code:

https://github.com/Ri

[2022-01-25 20:28] MrSquiggles13 commented on #270
Im on it

[2022-01-25 20:38] mikeghen commented on #218
Thank you @spitko 👏

[2022-01-25 20:38] #218 closed

[2022-01-25 20:38] #266 closed

[2022-01-25 20:39] mikeghen commented on #266
Nice work, thanks for the quick turn around @jasonngov

[2022-01-25 22:50] n4l5u0r commented on #134
@MrSquiggles13
cc: @msoni89
code completed on `c` side for the plugin, tests added. : https://github.com/blooo-io/LedgerHQ-app-plugin-ricochet
now time to deploy this on ledger side, will sync with ledger to cover this part.

[2022-01-26 02:04] serotoninexperience commented on #156
This issue seems to be resolved.

[2022-01-26 02:29] serotoninexperience opened #271 "Adding feedback on hovers to improve UX"
I propose adding feedback to user input such as hovering over buttons or switching between pages to make the experience more intuitive.
(Similar work to background color change on user setting dropdown.)
So far I've caught 3 different places this could be implemented

[2022-01-26 02:41] serotoninexperience opened #272 "Improving Nav and dashboard look"
![proposal2](https://user-images.githubusercontent.com/69639595/151095139-1841d397-8ab3-493b-a5e2-39153456570f.jpg)

I propose improving the dashboard and left side nav to improve user experience and allow for better navigation/more intuitive design

[2022-01-26 13:27] mikeghen commented on #271
What would this look like? share those 3 places you want to implement this

[2022-01-26 13:28] mikeghen commented on #183
Nicely done @lucasz-hu

[2022-01-26 13:28] #183 closed

[2022-01-26 13:28] mikeghen commented on #182
Is this done?

[2022-01-26 13:29] mikeghen commented on #179
@bigint, I raised the bounty on this since it hasn't gotten done in 20+ days, I hope this helps

[2022-01-26 13:29] #170 closed

[2022-01-26 13:30] #156 closed

[2022-01-26 13:30] mikeghen commented on #143
Closed as not doing

[2022-01-26 13:30] #143 closed

[2022-01-26 13:30] vaibhavgeek commented on #182
Yes, @mikeghen , it has been approved and merged as well

[2022-01-26 13:30] #139 closed

[2022-01-26 15:12] bigint commented on #179
@mikeghen I'll take care 🤗

[2022-01-26 20:31] serotoninexperience opened #275 "Text size issues"
Mobile version text is not formatted correctly causing this issue

![Screenshot_20220126-152545_Samsung Internet.jpg](https://user-images.githubusercontent.com/69639595/151241824-f8be1464-ceaa-46f2-830c-6918c63228cc.jpg)

I propose removing the upgrade downgrade buttons and replacing them with arrows that can stack on top of eachother.

Also remove the word balance from the column titles.
(It's in

[2022-01-26 23:21] serotoninexperience commented on #272
This should be done.

[2022-01-27 06:42] msoni89 commented on #135
@MrSquiggles13 it's already finished and merged into master

[2022-01-27 06:59] msoni89 commented on #134
@mikeghen @MrSquiggles13 this is ready to merge, but if I need to update it's manifest url to support prod.

[2022-01-27 17:55] mindsgn commented on #272
thank you @serotoninexperience.

[2022-01-27 17:55] #272 closed

[2022-01-27 22:04] msoni89 commented on #134
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/207

[2022-01-28 15:45] mikeghen opened #279 "Remove the Fund Wallet button"
Since we're a DAO, no payment processor will work with us, so we'll have to remove this, sadly 😿
<img width="510" alt="Screen Shot 2022-01-28 at 10 42 26 AM" src="https://user-images.githubusercontent.com/5077880/151577342-f677bc83-bdc0-469a-83af-5287700a857b.png">

[2022-01-28 15:47] MrSquiggles13 commented on #279
On it

[2022-01-28 16:03] lucasz-hu commented on #279
#280 Finished

[2022-01-28 16:39] mikeghen opened #282 "Make Sure the app `yarn builds` successfully before passing check"
The build to staging/production still fails periodically because there are linting errors when running `yarn build`. This issue is to run `yarn build` to make sure the build doesn't break when its deployed out to staging/production environments.

[2022-01-28 16:40] mikeghen commented on #282
This is an example of a commit that broke the build:
https://github.com/Ricochet-Exchange/ricochet-frontend/commit/bba152efb98d38785fe6b9fbde61cecc5df4128d

[2022-01-28 16:42] MrSquiggles13 commented on #279
@lucasz-hu  next time make sure you get approved to work on a bounty before you undercut someone else.  @mikeghen  made this issue for me to do and gave me this bounty to work.

[2022-01-28 17:02] lucasz-hu commented on #279
@MrSquiggles13 Sorry I read on discord that bounties were no longer going to be claimed and done on a first-delivered basis. Could we get clarification about this?

I'm fine with giving you the bounty though.

[2022-01-28 21:25] lucasz-hu commented on #196
Working on this

[2022-01-28 23:05] samirsalem commented on #282
Issue has been fixed, Added a build step at the beginning of the workflow and increased heap memory to avoid heap JS error.
if build fails workflow fails and env is not created

[2022-01-29 00:55] MrSquiggles13 commented on #279
@lucasz-hu @mikeghen  was just suggesting that we never agreed upon it. You already did it so just take it

[2022-01-29 19:55] mikeghen opened #287 "Can't approve repayment to the bank"
see video

https://user-images.githubusercontent.com/5077880/151675662-a661c8a3-6ed7-457e-9e81-a2bbbae609cc.mov

[2022-01-29 22:26] msoni89 commented on #287
![image](https://user-images.githubusercontent.com/65469737/151679512-514ec6a5-462a-4d98-ba12-3b0f21dc1f2e.png)

 It works fine, if you have enough approved value then it automatically switches to repay field, or else it will trigger approval.

Below code snippoet
![image](https://user-images.githubusercontent.com/65469737/151679536-5908ce3f-97b5-4d74-ae9a-8ec95c6d5585.png)

[2022-01-30 14:25] mikeghen commented on #282
@samirsalem, thank you 🙏

[2022-01-30 14:30] mikeghen opened #291 "Include links to REXMarket contract addresses in the frontend"
Im not sure where it would be best to put it but we need to include a link to Polygonscan in the frontend so its easy to jump to the contracts there. As a customer, I would want to be able to see the contract addresses on chain so I can review them (either the code or just the historic activity on chain)

[2022-01-30 16:48] mikeghen commented on #259
@jasonngov please implement this on all the transactions in the app, you didn't do this for any of the bank transactions that show up at the bottom of `ethereum.ts`

[2022-01-30 16:54] MrSquiggles13 commented on #259
@mikeghen I'd do it but i let him have the entire bounty 😂

[2022-01-30 17:20] serotoninexperience opened #292 "Create visual feedback for Vault page transactions."
When creating a vault the user must deposit some funds (RIC) to gain access to USDc borrowing.
On user's attempt to repay borrowed USDc a transaction starts in the metamask extension opening a pop up the user must approve.

The issue is while this is happening the Front-end hides all interactive buttons and doesn't show progress for the metamask transaction, in this 2 to 10 minute window users mig

[2022-01-30 17:33] mikeghen commented on #259
@MrSquiggles13 problem is @jasonngov was already paid the bounty, maybe he will pay you to clean this up, its first come first serve but this bounty was paid and not completed, its my fault for thinking it was done completely without me verifying it, you can have 20% of the bounty if you do it and we can call it a QA bounty for you

[2022-01-30 17:37] MrSquiggles13 commented on #259
@mikeghen I mean thats partly my fault as well. I can just clean it up and from now on if i collab with someone ill make sure its completely done as well as take my part of the bounty

[2022-01-30 17:43] jasonngov commented on #259
Thought the payout was because all transactions I needed were verified. @MrSquiggles13 feel free to take on this issue, I will not be able to work on this today.

[2022-01-31 11:50] josealonso commented on #291
@mikeghen said on discord
[code]

[2022-01-31 19:49] josealonso commented on #287
@msoni89, did you open a PR ?

[2022-01-31 19:52] josealonso commented on #282
@samirsalem, did you open a PR ? I don't know how you handle issues with the CI tool. Let me know if I can close it. Thanks !!

[2022-01-31 19:56] josealonso commented on #279
@lucasz-hu, did you claim the bounty for this task ?

[2022-01-31 19:59] josealonso commented on #275
Are you working on this, @serotoninexperience ?

[2022-01-31 20:02] josealonso commented on #271
@serotoninexperience, let us know if you're working on this. You opened a bunch of issues !!

[2022-01-31 20:09] josealonso commented on #259
@jasonngov's part is done. @MrSquiggles13 is doing it for the bank transactions.

[2022-01-31 20:10] josealonso commented on #249
Are you working on this, @jasonngov ?

[2022-01-31 20:14] jasonngov commented on #249
Yes, I should have the final prototype done by end of week.

[2022-01-31 20:14] josealonso commented on #208
Is this still an issue, @d3centra ?

[2022-01-31 20:17] josealonso commented on #196
@lucasz-hu, does these changes apply to the new design recently proposed by @serotoninexperience ?

[2022-01-31 20:21] #182 closed

[2022-01-31 20:38] serotoninexperience commented on #271
Not working on this anymore since we've changed the layout, will close issue.

[2022-01-31 20:38] #271 closed

[2022-01-31 20:39] serotoninexperience commented on #275
Yes, working on this. Taking long because changing 1 item changes all of them.

[2022-01-31 21:15] josealonso commented on #271
Great, thanks !!

[2022-01-31 21:25] josealonso commented on #179
My avatar is as it were @spitko's. @spitko, let me know when this is merged, so I can close this issue. Thanks !!

[2022-01-31 21:32] #135 closed

[2022-01-31 21:39] josealonso commented on #121
@mindsgn, I read your PR on this. Can this issue be closed ?

[2022-01-31 21:43] josealonso commented on #97
@jasonngov, who is working on this ?

[2022-01-31 21:46] josealonso commented on #96
@mindsgn, can I assign to you ? This task is quite big, do you need some help ?

[2022-01-31 22:08] josealonso commented on #292
@serotoninexperience, sorry to bother you again. Should I assign this task to you ?

[2022-01-31 22:08] serotoninexperience commented on #292
Yes please.

[2022-02-01 01:09] mindsgn commented on #121
hey, can you test the PR here: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/264

[2022-02-01 11:48] mindsgn commented on #179
@bigint  I think some worked on this: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/274

[2022-02-01 11:50] mindsgn commented on #179
I was not able to review since I do not have an ens avatar.

[2022-02-01 13:19] spitko commented on #179
Yes, this is done but only tested locally by me.
If anyone has an ENS avatar, please confirm if it shows up in the PR env, thanks.

[2022-02-01 15:00] jasonngov commented on #97
I believe someone else is working on this.

[2022-02-02 00:15] serotoninexperience commented on #275
Fixed text issues and did minor improvements to overall styles:
PR below:
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/297

[2022-02-02 00:15] #275 closed

[2022-02-02 00:19] serotoninexperience commented on #292
Updates:

Still working on this issue, have to read all the bank / vault page code to ensure no breaking mistakes are made.
Will need another 2 to 3 days to complete.

[2022-02-02 16:07] mikeghen opened #298 "List REXTwoWayMarket"
The REXTwoWay market USDC<>ETH is live at this contract address: 0xF6a03FCf12Cdc8066aFaf12255105CA301E15ba6

This is ready to be added to the app, but as a two-way market it works a little different, here's some notes on how:

* The two way market is 1 contract address for two tokens, so USDC<>ETH contract needs to support opening streams to the contract
* The approvals are done differently, when

[2022-02-02 18:05] mikeghen commented on #287
No one is able to reproduce it so Im closing it

[2022-02-02 18:05] #287 closed

[2022-02-03 01:28] lucasz-hu commented on #196
@josealonso Sorry for slow response, I'm on vacation for CNY so I'm not always available.

I believe so. The recent layout changes didn't seem to change the RexBank/RexVault pages.

Also BTW, I will be back on the weekend. So if someone wants to take over, feel free to.

[2022-02-03 02:09] lucasz-hu commented on #279
@josealonso Yes, however my PR was closed? Not sure why. I might've been too quick to submit I guess.

[2022-02-03 12:49] vaibhavgeek commented on #298
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/299

[2022-02-03 15:46] vaibhavgeek commented on #298
<img width="1504" alt="Screenshot 2022-02-03 at 9 15 38 PM" src="https://user-images.githubusercontent.com/1227925/152377013-dcbb6fcd-7cff-4c4a-9072-8d474906baf8.png">

[2022-02-03 17:07] josealonso commented on #279
The button is still there. I was too quick when I closed it, sorry. Reopening it.

[2022-02-04 01:15] serotoninexperience commented on #292
Complete

[2022-02-04 01:15] #292 closed

[2022-02-04 01:16] serotoninexperience commented on #291
I will work on this tomorrow if everyone is okay with that

[2022-02-04 03:46] Seroxdesign commented on #196
@josealonso I made some changes to the vault in #301 I will work on all these as well.

[2022-02-04 11:00] samirsalem commented on #282
@josealonso to answer your wuestion,  in order to work changes must be merged in main branch, you can close this PR :)

[2022-02-04 11:06] #282 closed

[2022-02-04 12:09] mindsgn commented on #96
@josealonso yes please assign it to me.

[2022-02-05 05:17] Seroxdesign commented on #196
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/302

Fixes in this PR:

Gave the sign in a background color to distinguish it.
![new log in](https://user-images.githubusercontent.com/69639595/152629640-46c10f75-23ba-4c6d-9656-cec41029b708.jpg)

Disabled all buttons on repay until the user gives allowance
![allowence](https://user-images.githubusercontent.com/69639595/152629655-378754e1

[2022-02-05 07:01] lucasz-hu commented on #180
@samirsalem How is progress on this?

[2022-02-05 07:17] bigint commented on #180
will submit a PR today @lucasz-hu

[2022-02-05 07:27] bigint commented on #180
![image](https://user-images.githubusercontent.com/69431456/152632895-bb3ca4c7-a439-4e99-87d3-9a03d39dae45.png)

@lucasz-hu

[2022-02-05 07:42] lucasz-hu commented on #265
How is progress on this?

[2022-02-05 07:43] lucasz-hu commented on #180
Look's good! Was just browsing through older issues, glad to see it's done now. :)

[2022-02-05 09:18] #180 closed

[2022-02-05 12:25] bigint opened #304 "Add issue and PR templates"
![Screenshot 2022-02-05 at 5 55 30 PM](https://user-images.githubusercontent.com/69431456/152642040-8395e7b6-5124-495c-952f-8d6b8bc61d2b.png)

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-05 12:28] bigint opened #306 "Add dependabot integration"
Add dependabot integration to keep all the dependencies up to date 📦

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-05 12:37] bigint opened #307 "Border radius is squared on hovering over the item in dropdown"
![image](https://user-images.githubusercontent.com/69431456/152642400-455823ea-71ff-40d3-8000-4dfcc3680ef6.png)
![Screenshot 2022-02-05 at 6 06 48 PM](https://user-images.githubusercontent.com/69431456/152642427-7b8a271e-87a7-4596-85a6-4f29f0a8c466.png)

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-05 15:07] josealonso commented on #265
Closing it thanks to this PR ---> https://github.com/Ricochet-Exchange/ricochet-frontend/pull/305

[2022-02-05 15:44] Seroxdesign commented on #196
Also users can't use negative numbers in the input field

[2022-02-05 16:01] josealonso commented on #279
@lucasz-hu, not sure whether Ricochet will work with a payment processor. I guess it won't. You can ask @mikeghen or @sunnyjaycer.

[2022-02-05 16:10] josealonso commented on #265
I'm sorry I was too quick to close this issue. I am reopening it.
That document needs an explanation about the continuous integration tool, @bigint.

[2022-02-05 21:25] #265 closed

[2022-02-05 21:40] Seroxdesign commented on #196
All issues except the total available to borrow have been resolved.

I don't want to touch the store

[2022-02-06 03:48] bigint opened #309 "Add Code Of Conduct to the repo"
Add Code Of Conduct to the repo

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-06 03:54] bigint opened #310 "ENS name and avatar are not working"
![Screenshot 2022-02-06 at 9 23 49 AM](https://user-images.githubusercontent.com/69431456/152667124-96bb9c3c-f532-4d3c-9a17-4dfbc1593fc8.png)

Also along with this I'll improve the account button

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-06 03:55] bigint opened #311 "Improve font size and icon size in sidebar"
![Screenshot 2022-02-06 at 9 24 51 AM](https://user-images.githubusercontent.com/69431456/152667147-56b168ee-7cd5-47c0-ad8b-c035602549ac.png)

We also need to use some good font site wide

@mikeghen Please assign to me if there is a bounty 🤗

[2022-02-06 03:57] bigint opened #312 "Menu button and icon button is not aligned"
![image](https://user-images.githubusercontent.com/69431456/152667171-78ee5b32-40cb-4fce-b344-e5c13a0ba867.png)

@mikeghen Please assign to me if there is a bounty I'll work on this 🤗

[2022-02-06 13:08] mikeghen commented on #310
@bigint, can you also use git blame so we know who broke this functionality? I don't like we're redoing this again 😪

[2022-02-06 13:08] mikeghen commented on #309
I think this was already done in #305

[2022-02-06 13:11] bigint commented on #309
@mikeghen  Code Of Conduct is different from contributor guide 😅

[2022-02-06 13:25] bigint commented on #310
This issue will fixed by PR: #313

[2022-02-06 13:52] bigint opened #317 "Add empty state if there is no search result"
![image](https://user-images.githubusercontent.com/69431456/152684095-35d1646d-69a2-4dc9-a69c-c6a9a90c3805.png)

@mikeghen Please assign to me if there is a bounty I'll work on this 🤗

[2022-02-06 13:56] #307 closed

[2022-02-06 13:58] #306 closed

[2022-02-06 13:58] mikeghen commented on #306
Nice work thank you 🙏

[2022-02-06 13:59] mikeghen commented on #306
Next up youll fix all the dependancy issues right @bigint 😁

[2022-02-06 14:08] bigint commented on #306
Sure @mikeghen I'll take care of breaking dependencies 🤗

[2022-02-06 14:51] bigint opened #319 "Deploy ricochet in IPFS, a path to decentralisation"
Document: https://yoginth.notion.site/Fleek-for-Ricochet-fe37071e42674c37ac5136b97e28add2

[2022-02-06 15:20] mikeghen commented on #309
Right!

[2022-02-06 15:29] bigint commented on #311
I'm working on this 🤗

[2022-02-06 15:29] bigint commented on #312
I'm working on this 🤗

[2022-02-06 15:29] bigint commented on #317
I'm working on this 🤗

[2022-02-06 15:38] #309 closed

[2022-02-06 15:38] #310 closed

[2022-02-07 01:58] zhyd1997 opened #323 "fix `undefined` values"
<img width="1278" alt="rex-launchpad" src="https://user-images.githubusercontent.com/31362988/152713182-9e15e259-3282-4193-be9f-27da9459c65d.png">

[2022-02-07 02:00] zhyd1997 commented on #323
I am glad to work on this issue.

[2022-02-07 02:09] bigint opened #324 "Add prettier and lint all the code"
I'll be happy to work on this, this will be a bit huge effort 🤗

[2022-02-07 03:07] bigint opened #328 "Add coinbase login"
@mikeghen assign it to me 🤗

[2022-02-07 04:23] zhyd1997 opened #329 "Sentry support"
Is it possible to handle errors with [Sentry](https://sentry.io/) instead of `console.error()`?

If so, I am glad to work on this issue!

[2022-02-07 04:24] bigint commented on #329
Hoe Rico gonna handle the security thing for this?

As we are decentralized protocol will sentry align with the goals?

Sentry collects user IP, User-agent etc

[2022-02-07 04:26] zhyd1997 commented on #329
Seems that someone has followed this way: https://github.com/omgnetwork/web-wallet/issues/29

[2022-02-07 04:35] zhyd1997 opened #330 "add missing `FlowTypes` and `FlowEnum` value."
glad to work on this to fix type errors.

[2022-02-07 04:38] zhyd1997 commented on #329
Of course, it depends on the team.

[2022-02-07 05:59] zhyd1997 opened #331 "Fix i18n Type Error"
https://github.com/Ricochet-Exchange/ricochet-frontend/blob/dcfe50c76d9396be53d4ec93b69cc7689f707f8e/src/i18n/utils/index.ts#L27-L43

[2022-02-07 07:03] zhyd1997 opened #332 "Fix missing `key` prop warning."
`/wallet` page

<img width="1278" alt="missing key prop" src="https://user-images.githubusercontent.com/31362988/152740246-45561713-5cc0-4769-a2db-0e246b609cf6.png">

[2022-02-07 07:52] zhyd1997 opened #333 "Some of `UserSettings` component references passed undefined props -- `isReadOnly` and `language`."
https://github.com/Ricochet-Exchange/ricochet-frontend/blob/dcfe50c76d9396be53d4ec93b69cc7689f707f8e/src/components/layout/UserSettings/index.tsx#L8-L14

[2022-02-07 07:54] zhyd1997 commented on #333
@mikeghen need double check.

[2022-02-07 08:40] zhyd1997 commented on #330
@mikeghen need double check

https://github.com/Ricochet-Exchange/ricochet-frontend/blob/dcfe50c76d9396be53d4ec93b69cc7689f707f8e/src/constants/flowConfig.ts#L11-L14

https://github.com/Ricochet-Exchange/ricochet-frontend/blob/dcfe50c76d9396be53d4ec93b69cc7689f707f8e/src/store/main/sagas/sweepQueryFlow.ts#L94-L110

[2022-02-07 08:48] zhyd1997 commented on #332
I will quickly fix this issue when there are not many PRs.

[2022-02-07 08:51] zhyd1997 commented on #331
<img width="1089" alt="type error" src="https://user-images.githubusercontent.com/31362988/152755051-808b0164-782d-4877-bbed-6879c2c7a123.png">

[2022-02-07 08:53] zhyd1997 commented on #323
I think there would assign a **default value** for **optional** props or other better solutions.

[2022-02-07 13:11] mikeghen commented on #298
Im reopening this since @vaibhavgeek's solution is hard coded, it works well so thank you @vaibhavgeek, but will open this up to someone to try to not have it hard coded, this needs to use `exchangeAddress` `inputToken` `outputToken` and other things from `constants/flowConfig.js`

Adding WBTC will have an IDA table like:

| Input token | IDA Index | IDA Token |
|------------|-----------|---------

[2022-02-07 13:12] mikeghen commented on #298
compare the `startFlow` function on this v2 branch to whats on the main branch to see how it should be done

[2022-02-07 13:13] mikeghen commented on #333
Not sure what this is but @zhyd1997, have a look and open a PR if you can fix it

[2022-02-07 13:13] mikeghen commented on #332
:+1: Thank you @zhyd1997

[2022-02-07 13:14] mikeghen commented on #330
These should be removed, those are all part of V1 contracts, we will add them back as needed

[2022-02-07 13:15] mikeghen commented on #330
I just didnt to a good job of removing all the v1 code this is why this is here

[2022-02-07 13:16] zhyd1997 commented on #333
@mikeghen I will

[2022-02-07 13:16] mikeghen commented on #329
I am familiar with sentry and yes I think this is a good idea, I would like to know if we can avoid collecting users personal information if possible

[2022-02-07 13:16] mikeghen commented on #329
Put a $1000 bounty on this, but lets confirm we can do it in a privacy minded way

[2022-02-07 13:18] zhyd1997 commented on #330
@mikeghen checking again...

[2022-02-07 13:19] zhyd1997 commented on #329
@mikeghen Pleasure 😁

[2022-02-07 21:09] Seroxdesign opened #339 "Creating a loading page."
I propose a loading screen.
Perhaps with an animation or dynamic text to give out important info.

My reasoning behind this is the bank/vault issue, when you go straight to the vaultpage it will always route you back to the Bank page first.

Also first load of the site takes time, so it would be useful to route people to the bank page first, we can have this happen behind the loading screen.

[2022-02-07 21:26] mikeghen opened #340 "Get Launchpad Stream Rates Working Again"
These rates need to be right:
<img width="1317" alt="Screen Shot 2022-02-07 at 4 24 41 PM" src="https://user-images.githubusercontent.com/5077880/152874572-2f08701f-d9cf-43a2-ba17-6a10b085c76c.png">

[2022-02-07 22:28] zhyd1997 commented on #340
@mikeghen the same as the issue #323

[2022-02-08 00:59] zhyd1997 commented on #330
@mikeghen Just comment unused `*FlowQuery` variables in PR #341, and it's friendly to reuse if needed in the future.

[2022-02-08 04:55] zhyd1997 commented on #329
Sentry supports [filtering error events](https://docs.sentry.io/platforms/javascript/guides/react/configuration/filtering/#using-platformidentifier-namebefore-send-) that can avoid collecting users' personal information.

for example:
[code]

[2022-02-08 09:02] zhyd1997 opened #343 "Fix `typecheck` pre-commit hook"
We already have `lint-staged` hook, but it does not work.

`typecheck` pre-commit hook is important for ts codebase

- reduce bugs: a couple of previous issues I submitted are related to type errors.
- we can avoid building errors on PRs, reduced time and machine resources.

It seems that our typescript version is too low (current: `4.0.8`, latest: `4.5.5`), maybe eslint config upgrade is also req

[2022-02-08 13:56] #323 closed

[2022-02-08 13:56] #330 closed

[2022-02-08 13:56] #340 closed

[2022-02-08 14:19] mikeghen opened #345 "Move "Last Distribution""
<img width="1372" alt="Screen Shot 2022-02-08 at 9 03 20 AM" src="https://user-images.githubusercontent.com/5077880/153005309-e2a50215-e347-4dfb-96e7-ed2960a1b306.png">

[2022-02-08 14:57] bigint commented on #345
@mikeghen i'll take this

[2022-02-08 15:00] josealonso commented on #345
@bigint, you might want to finish properly previous tasks before taking nwe ones, I think.

[2022-02-08 15:00] bigint commented on #345
@josealonso can you point out uncompleted tasks of mine?

[2022-02-08 15:02] josealonso commented on #345
Explanation of the continuous integration tool in *Contribute.md*

[2022-02-08 15:03] josealonso commented on #345
Explanation of the continuous integration tool in Contribute.md

[2022-02-08 15:03] bigint commented on #345
@josealonso that's in progress and it is very minor one, we need to create another PR for that, the existing one was already merged 🙇🏻

[2022-02-08 15:10] josealonso commented on #345
The developer that configured the CI tool explained you everything on discord, but you did not add a single line in the document. I honestly do not understand your behavior.

[2022-02-08 15:45] bigint opened #346 "Add CI guide to contributor guide"

[2022-02-08 15:45] bigint commented on #346
I'll work on this

cc @josealonso

[2022-02-08 16:09] #121 closed

[2022-02-08 22:15] abstractpoint commented on #145
PRs completed:

https://github.com/Ricochet-Exchange/ricochet-frontend/pull/318

and

https://github.com/Ricochet-Exchange/ricochet-frontend/pull/289

[2022-02-08 22:15] #145 closed

[2022-02-08 22:25] Seroxdesign commented on #339
Progress:

Brainstorming possible UIs, will make a mock up in figma then start working on it in app.

[2022-02-08 22:27] Seroxdesign commented on #291
Progress;

1. created a contract page to display all currently used contracts.
2. added the gitbook page in the user setting docs
3. Added links in different sections of the site (rexbank/rexvault/refer)
4. Created PR, waiting for review.

[2022-02-08 22:34] josealonso commented on #291
@Seroxdesign, where is the link to your PR ?

[2022-02-08 22:36] Seroxdesign commented on #291
PR:

https://github.com/Ricochet-Exchange/ricochet-frontend/pull/322

[2022-02-08 23:23] Seroxdesign commented on #196
Progress:

1. rexVault button not visible before opening rexBank:   Bank needs to be opened first, opening vault:   SOLVED
2.    rexVault button appears under “Tutorial” hyperlink  :  SOLVED
3. withdraw / deposit and borrow / repay buttons not aligned to the same right side position  :  SOLVED
4. Colleterazation and liquidation price titles have unnecessary large spacing in-between the numbers and

[2022-02-09 14:52] #345 closed

[2022-02-09 16:17] bigint opened #348 "Add security.md doc"
@mikeghen ill work on this I'm bug hunter in ens and snapshot, I know the process and can make a doc for it 🙏

[2022-02-09 16:43] #312 closed

[2022-02-09 16:44] #332 closed

[2022-02-09 16:45] #331 closed

[2022-02-09 16:46] #333 closed

[2022-02-09 16:47] #328 closed

[2022-02-09 16:52] josealonso commented on #16
This issue does not make any sense to me. @abstractpoint, you might want to close it.

[2022-02-09 17:12] josealonso commented on #329
Can this issue be closed, @zhyd1997 ?

[2022-02-09 17:17] zhyd1997 commented on #329
Why

[2022-02-09 19:49] josealonso commented on #319
Is that document the equivalent to a PR, @bigint ? If it is, could you link a pull request, so everyone can see it has to be reviewed ?

[2022-02-09 19:54] josealonso commented on #179
@spitko, why is this issue still opened ?

[2022-02-09 20:00] josealonso commented on #317
@bigint, this can be assign to other contributor if you are not working on this.

[2022-02-09 20:01] josealonso commented on #311
@bigint, this can be assign to other contributor if you are not working on this.

[2022-02-09 20:39] Seroxdesign commented on #339
### Progress day 2:

Drew out a mock up proposal loading page in Figma.
My thought reasoning behind this is:

We can load bank details while page is loading to solve the Vault-page not loading before the bank page issue [#192](https://github.com/Ricochet-Exchange/ricochet-frontend/issues/196)

Also, a good percentage of people click off the page 2 seconds in when nothing is visually showing progre

[2022-02-09 23:06] josealonso commented on #324
@bigint, I put this label because we already have prettier and linter for the Solidity code. I agree with you, but this decision has to be taken by a frontend team leader. I guess many of us use VSCode or an equivalent tool, where the linter plugin is already installed. Anyway, this has to be integrated by the CI tool and I think it is already done.

[2022-02-09 23:33] zhyd1997 commented on #343
Setup CI type check too, from DevOps idea.

[2022-02-10 00:46] bigint commented on #324
@josealonso I can see only linter is only available in CI, the prettier is not there and our codebase is not properly prettified.

Yes some has prettier installed in vscode but the prettier configuration should be added to make the prettier works same for all

[2022-02-10 00:47] bigint commented on #317
@josealonso this is already shipped 🚀

[2022-02-10 00:47] #317 closed

[2022-02-10 00:49] bigint commented on #311
@josealonso this is already shipped https://github.com/Ricochet-Exchange/ricochet-frontend/pull/326

[2022-02-10 00:51] bigint commented on #319
@josealonso yes there is no code associated with this, all devops works, after v2 @mikeghen told that we can move to IPFS

[2022-02-10 00:51] Seroxdesign commented on #196
Reworking this.

[2022-02-10 00:51] Seroxdesign commented on #291
Closed PRs and reworking this.

[2022-02-10 00:58] MrSquiggles13 commented on #259
I swear i already did this.... Gonna take a look

[2022-02-10 08:20] #311 closed

[2022-02-10 08:20] bigint commented on #304
Shipped 🚀

[2022-02-10 08:20] #304 closed

[2022-02-10 08:29] vaibhavgeek commented on #298
How to add markets, in `flowConfig.ts`, you need to add to this constant,
[code]

with the respective values of input, output and subsidy tokens.

[2022-02-10 09:23] abhisheknaiidu opened #353 "fix mweb design for main page"
currently, the design in mweb/tablet looks like this, no proper alignment, items are placed unorder, looks very bad.

<img width="390" alt="Screenshot 2022-02-10 at 1 59 11 PM" src="https://user-images.githubusercontent.com/55599878/153371495-b73a0630-dfde-4122-83a5-2be2d0cf5290.png">

proposed fix with proper alignment and design ✨ -

<img width="390" alt="Screenshot 2022-02-10 at 2 24 38 PM" src

[2022-02-10 09:25] abhisheknaiidu commented on #353
i've created a PR, let me know what you think 😄

[2022-02-10 10:28] josealonso commented on #353
Thanks for joining. I think this is something subjective. Personally, I don't see a major difference. What is your name on discord ?

[2022-02-10 10:33] abhisheknaiidu commented on #353
@josealonso my pleasure. yes i've done alignment and ordering changes, which i feels is looking good now compared to previous one.
btw my discord username is - NADS#6614

[2022-02-10 10:36] josealonso commented on #348
@bigint, thanks for having linked a pull request. However, bear in mind that the CI tool consumes some resources when you submit a PR. In this case it'd have been better just to leave a link to the document, because the web page is not modified.

[2022-02-10 10:40] bigint commented on #353
Looks better than previous one 🚀

[2022-02-10 10:41] josealonso commented on #343
@zhyd1997, I just went trough your PR. You have to look for reviewers before this issue can be closed.

[2022-02-10 10:43] zhyd1997 commented on #343
Thank you @josealonso
I will at next time

[2022-02-10 10:45] josealonso commented on #339
I like the mock up. When can we test this, @Seroxdesign ?

[2022-02-10 11:01] josealonso commented on #324
@bigint, I agree, but you might want to comment this on discord with other developers. We still don't have prettier configured on the main branch of the backend. It takes time. And make sure @samirsalem integrates that in the CI tool. I just removed the *invalid* label.

[2022-02-10 11:04] bigint commented on #324
We need wait for @mikeghen, this one need to handled carefully else it will cause conflicts for all open PRs in the repo.

[2022-02-10 11:37] josealonso commented on #279
This button is not present in staging, so I guess this issue can be closed. @mikeghen, @sunnyjaycer

[2022-02-10 11:40] josealonso commented on #259
@MrSquiggles13, do you have a PR for this ?

[2022-02-10 11:49] josealonso commented on #208
I just tried to repay from https://staging.ricochet.exchange/vaults and I don't see this issue. I think this can be closed, @mikeghen

[2022-02-10 12:13] josealonso commented on #60
Can this issue be closed, @mikeghen ?

[2022-02-10 12:46] josealonso commented on #353
@abhisheknaiidu, it's definitely better, sorry I didn't pay attention. You can tell I'm not a UX specialist :(

[2022-02-10 14:09] #353 closed

[2022-02-10 15:31] mikeghen commented on #353
Nice work @abhisheknaiidu :clap:

[2022-02-10 15:46] bigint commented on #179
@josealonso avatar integrations is not made by me, but yes avatar works in staging so we can close it 👍🏻

[2022-02-10 16:00] josealonso commented on #179
I know. You were not around when the other developer did it. These things happen in big projects. Closing it, thanks !!

[2022-02-10 16:00] #179 closed

[2022-02-10 16:02] MrSquiggles13 commented on #259
@josealonso  https://github.com/Ricochet-Exchange/ricochet-frontend/pull/295 and in there you can see that it was already handled even before mine

[2022-02-10 16:04] #343 closed

[2022-02-10 16:06] samirsalem commented on #346
as discussed in discord, this will be closed

[2022-02-10 16:06] #346 closed

[2022-02-10 16:07] #348 closed, assigned to bigint

[2022-02-10 16:07] samirsalem commented on #319
I'll also close this and create a new issue according to discussion in discord

[2022-02-10 16:07] #319 closed

[2022-02-10 16:30] josealonso commented on #259
Thank you. I wish people closed their issues after seeing their PRs has been merged. Closing it now.

[2022-02-10 16:30] #259 closed

[2022-02-10 17:59] sunnyjaycer commented on #339
I like the idea of a loading page, but am not a fan of the way this looks. Could you work with Feldy#3961 in our server to design it? He's the dude behind our new landing page and has a great feel for what looks good.

[2022-02-10 20:41] msoni89 opened #356 "Bug https://staging.ricochet.exchange"
# Bugs -

1: If the user is not connected with any wallet, TOTAL VALUE STREAMING is not showing any numbers.
2: For the fresh user, if the user connects wallet. User cant edit/update/withdraw streams and balances, all buttons are disabled.
3: For the fresh user, if the user tries open stream  -  TOTAL VALUE STREAMING is also showing "Loading..."
4: For the fresh user, even I connected with the wal

[2022-02-10 21:21] mikeghen commented on #356
@msoni89 its all you :+1: Thanks for your review

[2022-02-11 02:15] abhisheknaiidu opened #357 "typos and enhance docs"
there are few typos in README.md and Security.md file, like `succesful` => `successful` , `websited` => `websites`, `Github` => `GitHub` and few full stops are missing.

[2022-02-11 02:15] abhisheknaiidu commented on #357
i would like to fix them 😄

[2022-02-11 10:52] bigint opened #359 "Center align coin image in wallet page"
![Screenshot 2022-02-11 at 4 22 15 PM](https://user-images.githubusercontent.com/69431456/153579165-57aab58c-6145-4760-9cbb-046d81432b33.png)

[2022-02-11 14:05] #359 closed

[2022-02-11 14:18] samirsalem opened #361 "deploy staging.ricochet.exchange on IPFS + fleek using CI"
Workflow proposal:
- Create a new QA branch
- Create a pr against QA branch
- Automate some checks on code (audit  security, eslint checks etc)
- Create a preview env using current ci
- Once pr is merged to QA branch
- We trigger deploy to staging env using fleek
- Once staging env is validated the changes can be deployed in production

[2022-02-11 15:01] mikeghen opened #363 "USDC<>WBTC Listing"
This issue is to list the USDC<>WBTC market deployed here: https://polygonscan.com/address/0x1F001AfC25dC911fba6C86B9A81ad71Bb6DdAfD6

[2022-02-11 19:02] sunnyjaycer opened #365 "Design polishing"
1. Bottom left - the little margin between the selection shading and the white section of the app makes the app look a little scroungy
2. The coloring on the app is off. The gradient on the top of the app doesn't fit with our scheme. Could you use the color scheme from slide 14 of our slide template: https://docs.google.com/presentation/d/1li9eKNKijYsuGiSH11YZpIs9mdSADzpVSnqHmI-6gP0/edit#slide=id.

[2022-02-11 21:56] msoni89 commented on #356
Fixed tutorial icon (mobile)
![image](https://user-images.githubusercontent.com/65469737/153675334-bdee7575-3911-49c7-ac55-25a00f1d8347.png)
Fixed top padding of text (mobile)
![image](https://user-images.githubusercontent.com/65469737/153675356-ede5ec57-0323-4f9e-bd69-da176c456bc7.png)

All above are also fixed.

Not sure, but refer not visible on a mobile screen, is it intentional?

[2022-02-11 22:12] msoni89 commented on #356
![image](https://user-images.githubusercontent.com/65469737/153677452-8415350a-2da2-42be-b303-fb3fa081adbf.png)

[2022-02-12 04:33] bigint opened #367 "Hide balance while loading in rex-launchpad page"
![Screenshot 2022-02-12 at 10 02 59 AM](https://user-images.githubusercontent.com/69431456/153696590-f7dbf604-0f60-4744-88bf-30aa44ccda87.png)

[2022-02-12 04:34] bigint commented on #367
I'd like to work on this issue 🙏🏻

[2022-02-12 04:35] bigint opened #368 "Remove buggy button on token logo which affect the UI"
![Screenshot 2022-02-12 at 10 04 34 AM](https://user-images.githubusercontent.com/69431456/153696617-14328802-bda6-4305-9cbf-008112a3d5df.png)

[2022-02-12 04:35] bigint commented on #368
I'd like to work on this issue 🙏🏻

[2022-02-12 04:36] bigint opened #369 "Make account button look better like uniswap"
![Screenshot 2022-02-12 at 10 06 15 AM](https://user-images.githubusercontent.com/69431456/153696668-b6386553-c35a-4862-87eb-a831f726b0e2.png)

![Screenshot 2022-02-12 at 10 06 24 AM](https://user-images.githubusercontent.com/69431456/153696682-1a90752f-23cd-4e4f-a36a-99d7480af9ec.png)

[2022-02-12 04:36] bigint commented on #369
I'd like to work on this issue 🙏🏻

[2022-02-12 04:37] bigint opened #370 "Don't allow negative values in amount input"
![Screenshot 2022-02-12 at 10 07 26 AM](https://user-images.githubusercontent.com/69431456/153696717-97b29787-dcdb-4546-83bf-377383afc11f.png)

[2022-02-12 04:37] bigint commented on #370
@mikeghen I'd like to work on this issue 🙏🏻

[2022-02-12 04:40] bigint opened #371 "Improve menu dropdown look like uniswap"
![image](https://user-images.githubusercontent.com/69431456/153696779-0afbae18-d4c1-42fd-ae67-93c7f909d6c0.png)
![Screenshot 2022-02-12 at 10 10 00 AM](https://user-images.githubusercontent.com/69431456/153696785-3907f0a6-e570-48b6-8951-b0fb57107a75.png)

It will be very simple and have better UX

[2022-02-12 04:40] bigint commented on #371
@mikeghen I'd like to work on this issue 🙏🏻

[2022-02-12 04:45] bigint opened #372 "Add proper spacing in table on banks page"
![Screenshot 2022-02-12 at 10 15 10 AM](https://user-images.githubusercontent.com/69431456/153696926-c9e82ce5-e05c-4c5b-a1b0-5d1bc51358f7.png)

[2022-02-12 04:45] bigint commented on #372
@mikeghen I'd like to work on this issue 🙏🏻

[2022-02-12 04:47] bigint opened #373 "Add logout feature"
It would be great of we have logout feature

[2022-02-12 04:47] bigint commented on #373
@mikeghen I'd like to work on this issue 🙏🏻

[2022-02-12 05:41] abhisheknaiidu opened #374 "Modals are breaking for mweb devices"
<img width="473" alt="Screenshot 2022-02-12 at 11 08 01 AM" src="https://user-images.githubusercontent.com/55599878/153698525-5ecf60f4-12b2-4f4c-a421-a8470edbf97b.png">

<img width="473" alt="Screenshot 2022-02-12 at 11 09 16 AM" src="https://user-images.githubusercontent.com/55599878/153698547-0ca93cea-9271-4748-bdf0-e479fac9cf0b.png">

[2022-02-12 05:41] abhisheknaiidu commented on #374
@mikeghen I'd like to work on this issue 😄

[2022-02-12 05:48] abhisheknaiidu opened #375 "No proper spacing for nav items"
currently looking this -

<img width="400" alt="Screenshot 2022-02-12 at 11 15 09 AM" src="https://user-images.githubusercontent.com/55599878/153698740-82991f44-213c-42bc-bf47-4839f5d228ea.png">

ideally should look like this ✨ -

- proper spacing between `logo`, `wallet` and `navbar`
- proper spacing between`market`, `LP` , `Launchpad`, `bank` and `tutorial` items

<img width="400" alt="Screensho

[2022-02-12 05:49] abhisheknaiidu commented on #375
@mikeghen I'd like to work on this issue 😄

[2022-02-12 05:56] abhisheknaiidu opened #376 "different alignment for tutorial item on both desktop and mweb compared to other items in the list"
ideally, the icon should come first and then text same as other items. for desktop, the current alignment makes sense tho as it is an external link, but for mweb we can change, looks weird now.

<img width="128" alt="Screenshot 2022-02-12 at 11 21 33 AM" src="https://user-images.githubusercontent.com/55599878/153698945-538f5731-5a5c-4efa-9909-d9cee74911f8.png">

<img width="400" alt="Screenshot 20

[2022-02-12 05:56] abhisheknaiidu commented on #376
@mikeghen I'd like to work on this issue 😄

[2022-02-12 06:00] abhisheknaiidu opened #377 "No proper alignment b/w item title and item contents"
No proper alignment b/w item title and item content, looks weird and experience will also not good.

<img width="1597" alt="Screenshot 2022-02-12 at 11 28 13 AM" src="https://user-images.githubusercontent.com/55599878/153699119-1487a625-b21e-4477-be69-e93f3332907e.png">

[2022-02-12 06:01] abhisheknaiidu commented on #377
@mikeghen I'd like to work on this issue 😄

[2022-02-12 06:20] abhisheknaiidu opened #378 "wrong alignment of currency item in wallet page"
currently looking this -

<img width="380" alt="Screenshot 2022-02-12 at 11 48 23 AM" src="https://user-images.githubusercontent.com/55599878/153699661-3deba8e5-b9c2-4b4c-ad1d-3e8e4c6a3d81.png">

ideally should like ✨

<img width="380" alt="Screenshot 2022-02-12 at 11 48 09 AM" src="https://user-images.githubusercontent.com/55599878/153699671-03e03fa3-8093-4087-9f2e-481c0e106d68.png">

[2022-02-12 06:20] abhisheknaiidu commented on #378
@mikeghen I'd like to fix this 😄

[2022-02-12 09:36] #357 closed

[2022-02-12 11:28] adarshzpatel commented on #365
Hello is this issue still open to take or resolved ?

[2022-02-12 18:14] Seroxdesign commented on #291
Update, this is almost done should Have it 02/13

[2022-02-12 19:46] #298 closed

[2022-02-13 17:24] abhisheknaiidu commented on #279
@josealonso can i work on this, if no one is working?

[2022-02-14 01:43] Seroxdesign commented on #291
This is complete,
PR:
#381

[2022-02-14 10:43] josealonso commented on #365
I just put my avatar instead of @Seroxdesign. He's doing it, not me.

[2022-02-14 10:56] josealonso commented on #365
@Seroxdesign, I think this issue can be closed. Please let me know to make sure.

[2022-02-14 11:01] josealonso commented on #279
@abhisheknaiidu, I'm going to close it, because the button is not present in https://staging.ricochet.exchange/

[2022-02-14 11:01] #279 closed

[2022-02-14 11:11] josealonso commented on #196
@Seroxdesign, I don't understand why you closed your own PR.

[2022-02-14 13:16] zhyd1997 opened #382 "Fix: Memory Leak issue"
<img width="1263" alt="memory leak snapshot" src="https://user-images.githubusercontent.com/31362988/153871131-75aed2a7-ab89-4def-b47b-311980bbcc84.png">

[2022-02-14 13:22] Seroxdesign commented on #196
Solution wasn't done right and this branch had too many issues.

Reworking it

[2022-02-14 13:22] Seroxdesign commented on #365
@josealonso Yes this has been resolved and merged

[2022-02-14 13:49] zhyd1997 commented on #208
@josealonso maybe the same issue: https://discord.com/channels/862796510604296263/864667072357597185/942691001871515668

[2022-02-14 14:18] mikeghen commented on #376
I think its fine the way it is, I see what you're saying but I think its fine as it is, color looks different though so maybe an issue should be made for that

[2022-02-14 14:18] #376 closed

[2022-02-14 14:36] #356 closed

[2022-02-14 14:38] #365 closed

[2022-02-14 15:40] #370 closed

[2022-02-14 15:41] #368 closed

[2022-02-14 15:41] #367 closed

[2022-02-14 15:42] #291 closed

[2022-02-14 15:43] mikeghen commented on #196
it was looking good, looking forward to another PR with this in it :+1:

[2022-02-14 15:49] mikeghen commented on #249
@bigint is on it :+1:

[2022-02-14 15:57] mikeghen opened #389 "Support for Sending Streams"
Implement a send feature on the wallet page similar to how Superfluid implements this in app.superfluid.finance:

![unknown (1)](https://user-images.githubusercontent.com/5077880/153898923-297969fc-2ac1-4a9d-8429-cce6f1b9f8fb.png)

[2022-02-14 15:58] mikeghen opened #391 "Distributions Page"
Create a page that shows IDA subscriptions with all the same information that's available in app.superfluid.finance's dashboard (shown below)

<img width="1447" alt="Screen Shot 2022-02-14 at 8 27 20 AM" src="https://user-images.githubusercontent.com/5077880/153899083-61028bff-207a-4650-b917-b8286c67553b.png">

[2022-02-14 16:00] mikeghen opened #392 "Supertoken Portfolio Balance"
Show Supertoken portfolio balance at the top of the wallet page. Sum up the supertokens in the users wallet and display the balance in aggregate at the top of the wallet page

<img width="354" alt="Screen Shot 2022-02-14 at 8 28 10 AM" src="https://user-images.githubusercontent.com/5077880/153899321-75db0a21-bf21-4c4c-a64c-b4b34c34cf33.png">

[2022-02-14 16:01] mikeghen opened #393 "Recent Stream Activity"
Show recent CFA and IDA events in a "Recent Activity" page/section in the app. Probably this can be put below the tokens table on the Wallet page

<img width="634" alt="Screen Shot 2022-02-14 at 8 28 29 AM" src="https://user-images.githubusercontent.com/5077880/153899611-cbb2a589-b364-4d43-82e6-deb613d3ba3c.png">

[2022-02-14 16:03] mikeghen opened #394 "Show "Streamed so Far" metric to "Streams" page"
On the streams page in the app, add a metric to each stream to show how much has been streamed so far into the app
<img width="1816" alt="Screen Shot 2022-02-14 at 11 01 55 AM" src="https://user-images.githubusercontent.com/5077880/153900159-8e2ccc90-af03-4792-b403-f5367d905214.png">

IDK where the best place is but I highlighted two places here:
<img width="1403" alt="Screen Shot 2022-02-14 at 11

[2022-02-14 16:10] bigint commented on #394
@mikeghen I'll take this 🚀

[2022-02-14 16:53] bigint commented on #394
@mikeghen that's in progress, makes sense i'll delete the comment so other devs can pick, if no one picks it I'll do 🤗

[2022-02-14 17:46] abhisheknaiidu opened #396 "different color navbar on both desktop and mobile"
in mobile -

<img width="400" alt="Screenshot 2022-02-12 at 11 12 26 AM" src="https://user-images.githubusercontent.com/55599878/153918147-ba914812-d0d6-42e7-bc81-ef88869abc10.png">

in web -

<img width="128" alt="Screenshot 2022-02-12 at 11 21 33 AM" src="https://user-images.githubusercontent.com/55599878/153918156-f18983e1-0dee-410d-9ca2-b4ff6b43975b.png">

[2022-02-14 17:47] abhisheknaiidu commented on #396
@bigint i would like to fix it 🙏🏽

[2022-02-14 21:48] zhyd1997 commented on #393
If this issue is opened to anyone, I am glad to work on it 😀

[2022-02-15 02:29] bigint commented on #396
@abhisheknaiidu is the is happening in https://staging.ricochet.exchange/ ?

[2022-02-15 02:50] abhisheknaiidu commented on #396
@bigint yess, it's happening 😶

[2022-02-15 03:16] abhisheknaiidu opened #401 "no spacing b/w contract and create vault element"
<img width="398" alt="Screenshot 2022-02-15 at 8 44 54 AM" src="https://user-images.githubusercontent.com/55599878/153985995-1bf8899b-7604-4ad2-86ec-da1289aba302.png">

[2022-02-15 03:17] abhisheknaiidu commented on #401
@mikeghen  @bigint i would like to fix it 🙏🏽

[2022-02-15 03:25] zhyd1997 commented on #401
Hi @abhisheknaiidu
The contract copying will be removed here https://github.com/Ricochet-Exchange/ricochet-frontend/pull/400

[2022-02-15 03:32] abhisheknaiidu commented on #401
@zhyd1997 cool, closing this issue then 😄

[2022-02-15 03:32] #401 closed

[2022-02-15 12:41] sakshiverma25 commented on #394
@mikeghen I wish to take this

[2022-02-15 12:42] sakshiverma25 commented on #392
@mikeghen I wish to take this

[2022-02-15 13:40] Seroxdesign commented on #389
I would like to work on this!

[2022-02-15 13:41] Seroxdesign commented on #391
I would like to work on this!

[2022-02-15 13:46] #134 closed

[2022-02-15 17:18] josealonso commented on #116
@elvijsTDL, I'm going to close it.

[2022-02-16 16:13] #374 closed

[2022-02-16 16:14] #378 closed

[2022-02-16 16:14] #375 closed

[2022-02-16 16:16] #369 closed

[2022-02-16 16:16] #373 closed

[2022-02-16 16:18] #396 closed

[2022-02-16 16:21] josealonso commented on #396
Well done, @bigint !!

[2022-02-16 17:12] abhisheknaiidu opened #410 "modal is breaking for banks page on mweb"
![Screenshot 2022-02-16 at 10 41 10 PM](https://user-images.githubusercontent.com/55599878/154319083-cba580fc-0c91-4822-870c-ad2a1e1db397.png)

[2022-02-16 17:13] abhisheknaiidu commented on #410
@mikeghen @bigint I'd like to fix this.

[2022-02-16 17:15] abhisheknaiidu opened #411 "too much info on a small section is leading to a bad UI and UX"
![Screenshot 2022-02-16 at 10 43 39 PM](https://user-images.githubusercontent.com/55599878/154319369-b736ff7f-02d2-4e88-a0f0-e7c0f5703fd4.png)

[2022-02-16 17:17] abhisheknaiidu commented on #411
@mikeghen @bigint I'm thinking to show in 3 rows with 2 items each, it will look much better wdyt??

[2022-02-16 17:31] bigint commented on #411
We are working on bank page redesign so we will handle those there 🙇‍♂️

[2022-02-16 17:32] #411 closed

[2022-02-16 17:38] abhisheknaiidu opened #413 "redesign header, navbar and hamburger menu across all pages 🚀"
currently the UI for header and navbar looks like this -

![Screenshot 2022-02-16 at 11 01 21 PM](https://user-images.githubusercontent.com/55599878/154322434-35321e42-6bd1-497d-8f6f-1d8ad6831dbb.png)

![Screenshot 2022-02-16 at 11 01 27 PM](https://user-images.githubusercontent.com/55599878/154322443-490d0e15-1483-4623-bf2d-60d12826e708.png)

**proposed redesign/mockup with cool transition and an

[2022-02-16 17:40] abhisheknaiidu commented on #413
@mikeghen @bigint what do you guys think of this??? 😄

[2022-02-16 17:49] mikeghen commented on #413
@Seroxdesign, what do you think? I like it

[2022-02-16 17:53] Seroxdesign commented on #413
Yes! That looks so much better.

Thank you @abhisheknaiidu

[2022-02-16 18:00] abhisheknaiidu commented on #413
@mikeghen @Seroxdesign thanks, if it looks good then i would like to work on this.

[2022-02-16 22:24] josealonso commented on #392
@sakshiverma25, what is your discord name ? You can stop by Ricochet discord. We have many technical discussions there.

[2022-02-16 22:37] Seroxdesign commented on #196
This issue can be closed now.

PR: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/399

[2022-02-16 23:59] josealonso commented on #196
Thank you for your message. Try to do it for your next PRs. Closing it now.

[2022-02-16 23:59] #196 closed

[2022-02-17 00:29] #382 closed

[2022-02-17 03:16] bigint opened #418 "UI issues"
- [x] Center align external icon ($50)

![image](https://user-images.githubusercontent.com/69431456/154397088-6c21a058-aa5c-4a0c-85e0-ad124c739a46.png)

- [x] Add comma-separated values ($50)

![image](https://user-images.githubusercontent.com/69431456/154397394-59c4d09f-6593-45a2-bd60-f9713867cb30.png)

- [x] Show the number of streams in a badge instead of brackets ($150)

![image](https://user-

[2022-02-17 09:53] #410 closed

[2022-02-17 10:23] #418 closed

[2022-02-17 11:11] josealonso commented on #393
The code of the new Superfluid console is here: https://github.com/superfluid-finance/superfluid-console

[2022-02-17 11:11] josealonso commented on #392
The code of the new Superfluid console is here: https://github.com/superfluid-finance/superfluid-console

[2022-02-17 11:12] josealonso commented on #391
The code of the new Superfluid console is here: https://github.com/superfluid-finance/superfluid-console

[2022-02-17 11:13] zhyd1997 commented on #393
@josealonso seems that it's different than what we want.

[2022-02-17 11:16] josealonso opened #425 "Make the app ready for internationalization"

[2022-02-17 11:23] josealonso commented on #425
This is not a new feature since there is a *i18n* directory since many months ago. But for some component the developers forgot to use it.
Therefore, this task consists of modifying the components that are not prepared for internationalization.
Thanks to @Seroxdesign for notifying this.

[2022-02-17 12:27] bigint commented on #372
Handled in #249

[2022-02-17 12:27] #372 closed

[2022-02-17 14:15] #371 closed

[2022-02-17 14:21] #249 closed

[2022-02-17 15:49] #413 closed

[2022-02-17 20:56] mikeghen opened #429 "Round Flow Rates"
Flow rates in the app need to be truncated for division to work correctly in the smart contract.

The rule is that the amount must be divisible by the `shareScaler` * 1e3

For example, if shareScaler = 1e9, then the amount must be rounder to 1e12. The flow rate:
[code]
Must be rounded to:
[code]
The `shareScaler` can be retrieved from `getOutputPool`.

More examples of the rounding, assume 1e9 sha

[2022-02-18 02:51] bigint opened #430 "UI issues"
- Hover color is not correct for dropdown ($50)
- Remove static assets and use fontella for icons, saves a lot of size ($100)

[2022-02-18 09:33] abhisheknaiidu opened #432 "Improve UI"
- [x] Blue background in wallet page, it should be white same as all other pages

![Screenshot 2022-02-17 at 10 07 45 PM](https://user-images.githubusercontent.com/55599878/154655187-31fc2e38-c44a-4a2d-95a5-02c04739f6d0.png)

- [x] Improper aligmnent

![Screenshot 2022-02-17 at 10 00 31 PM](https://user-images.githubusercontent.com/55599878/154655402-1dfaba17-e35d-4242-b584-2fd8064cf918.png)

- [x

[2022-02-18 09:34] abhisheknaiidu commented on #432
@bigint @mikeghen i want to fix these UI bugs 🙇🏽

[2022-02-18 09:34] elvijsTDL commented on #429
I will try to do this one during the weekend

[2022-02-18 10:50] Seroxdesign commented on #389
Updating.

I'm reading through the superfluid sdk documentations.

I'll begin building and testing the feature throughout this weekend and.

Will have results on the 02/23

[2022-02-18 14:01] #432 closed

[2022-02-18 15:29] abhisheknaiidu opened #436 "Improve UI"
- [x] Show `No results found` component after the search component, looks weird now

![Screenshot 2022-02-18 at 8 51 48 PM](https://user-images.githubusercontent.com/55599878/154711264-3e20bb8f-d997-4707-a2a7-896445bf50e3.png)

- [x] Move profile to navbar in mobile

![Screenshot 2022-02-18 at 8 52 55 PM](https://user-images.githubusercontent.com/55599878/154711530-b5c98f7b-4f2b-45c0-80d8-7601dadd

[2022-02-18 17:08] #436 closed

[2022-02-19 04:24] bigint opened #438 "Add torus wallet support"
https://toruswallet.io/

[2022-02-19 04:38] bigint opened #440 "Add better font across the app"

[2022-02-19 10:26] bigint opened #442 "UI Issues, features and refactors"
- [x] Invert the price red to down and green to up ($100)

![Screenshot 2022-02-19 at 3 55 54 PM](https://user-images.githubusercontent.com/69431456/154797012-333df08e-64c0-42bc-9530-6e4c929ab62e.png)

- [x] Improve coin image size in wallet page ($50)

![Screenshot 2022-02-19 at 4 02 11 PM](https://user-images.githubusercontent.com/69431456/154797192-96caf9fe-8457-41a3-8685-c7431720b480.png)

- [

[2022-02-19 10:49] d3centra commented on #438
Is Torus Wallet integrated with any major dApp?

[2022-02-19 11:25] josealonso commented on #438
@bigint , please justify your decisions. There are many on-line wallets. Why did you choose this one ?

[2022-02-19 11:25] bigint commented on #392
![Screenshot 2022-02-19 at 4 55 40 PM](https://user-images.githubusercontent.com/69431456/154798860-063a2ae3-5287-4711-b047-4b83d6399273.png)

@mikeghen I added the total balance here

[2022-02-19 11:32] bigint commented on #438
@josealonso we will add standard ones one by one

I've seen Portris and Torus is the best non-custodial wallet provider out there

Those two are widely used in dApps out there like ENS, Superfluid etc

![image](https://user-images.githubusercontent.com/69431456/154799037-a59c04a6-cbf4-41cc-bbaf-a7e5c1c13a64.png)
![Screenshot 2022-02-19 at 5 02 07 PM](https://user-images.githubusercontent.com/69431

[2022-02-19 11:33] zhyd1997 opened #445 "Lock `node` version"
We should lock `node` version in `package.json` and `.nvmrc` for better compatible and development experience.

[2022-02-19 11:34] bigint commented on #445
cc @samirsalem

[2022-02-19 11:41] josealonso commented on #438
Thanks for making the effort to explain it, @bigint. Wanting to support the same wallets as Superfluid does is a valid reason.

[2022-02-19 11:43] josealonso commented on #438
Thanks for making the effort to explain it, @bigint. Wanting to support the same wallets as Superfluid does is a valid reason. Just try to do it every time you open an issue. @mikeghen's items are good examples of that.

[2022-02-19 11:44] bigint commented on #438
Thanks will do it next time @josealonso 🚀

[2022-02-19 13:53] #440 closed

[2022-02-19 14:00] mikeghen commented on #440
Nice work @bigint 👏

[2022-02-19 14:20] mikeghen commented on #429
@elvijsTDL, let me know if I can help you

[2022-02-19 14:34] #392 closed

[2022-02-19 14:38] mikeghen opened #446 "Total flow rate shown twice on mobile"
<img width="304" alt="Screen Shot 2022-02-19 at 7 37 00 AM" src="https://user-images.githubusercontent.com/5077880/154805464-1455f7e7-2972-49a7-90f2-6604f3c6a0c5.png">

[2022-02-19 14:38] mikeghen commented on #446
Remove the first time it appears

[2022-02-19 14:49] bigint commented on #446
will fix it @mikeghen

[2022-02-19 14:50] bigint commented on #446
love the new font 🚀

[2022-02-19 15:04] bigint opened #450 "Remove unused dependencies"
This will reduce our app bundle size

[2022-02-19 16:09] #446 closed

[2022-02-19 22:58] josealonso commented on #445
@bigint, I have the impression that @zhyd1997  wanted to solve this issue because he opened it. Please try to be more considerate with your team colleagues. Just put yourself in his shoes and imagine what you would be thinking now.

[2022-02-20 00:29] bigint commented on #445
@josealonso did they claimed anywhere in discord or GitHub?

https://docs.ricochet.exchange/business/bounty-hunters

[2022-02-20 03:23] zhyd1997 commented on #445
@bigint did you claimed anywhere?

[2022-02-20 15:45] bigint commented on #450
As a part of https://github.com/Ricochet-Exchange/ricochet-frontend/issues/94

[2022-02-21 07:12] ramprakashram commented on #425
@josealonso Can I Take up this task ??

[2022-02-21 08:09] zhyd1997 opened #456 "i18next::translator: missingKey en"
<img width="1265" alt="i18" src="https://user-images.githubusercontent.com/31362988/154913592-fe7d7700-5faf-4edc-80ee-063bbc3615ee.png">

[2022-02-21 08:09] zhyd1997 commented on #456
@josealonso Please assign to me, thank you!

[2022-02-21 08:20] zhyd1997 commented on #456
No bounty needs!

[2022-02-21 08:29] #377 closed

[2022-02-21 10:23] abhisheknaiidu opened #457 "Improve UI"
- [x] When selecting Launchpad UI is breaking

![Screenshot 2022-02-21 at 3 45 46 PM](https://user-images.githubusercontent.com/55599878/154935017-599387a4-b704-47da-9222-4283efa1a016.png)

- [x] Icons are wrongly aligned and Improve them

![Screenshot 2022-02-21 at 3 38 31 PM](https://user-images.githubusercontent.com/55599878/154934574-ab347db0-019e-4f73-bbbb-5934369b199a.png)

- [x] Link icon w

[2022-02-21 10:29] josealonso commented on #425
I just assigned it to you, thanks for joining :) You might want to stop by our discord server.

[2022-02-21 10:40] josealonso commented on #456
Sorry, I didn't understand you.

[2022-02-21 10:42] zhyd1997 commented on #456
@josealonso just adding 2 lines can fix this issue!

[2022-02-21 10:54] abhisheknaiidu commented on #457
@bigint i want to fix all of these issues 🙇🏽

[2022-02-21 10:58] josealonso commented on #456
I see, I understand now. All the texts and labels should have an entry in the *i18n* file. Good finding !!

[2022-02-21 11:05] josealonso commented on #457
Sorry to ask, @abhisheknaiidu. I think you fixed some of those issues here https://github.com/Ricochet-Exchange/ricochet-frontend/issues/436. What happened then ?

[2022-02-21 11:42] josealonso commented on #456
@zhyd1997, I noticed the github link points to the discord page. It's not your fault, but can you please fix that ? Also, when you click on "Docs", could the doc be opened in a new tab, instead of downloading it ? I put a small bounty.

[2022-02-21 11:43] zhyd1997 commented on #456
No problem @josealonso

[2022-02-21 12:12] ramprakashram commented on #425
Thanks @josealonso , I just joined there.

[2022-02-21 12:16] zhyd1997 commented on #456
@josealonso
1. github link has been fixed
2. `Docs` link will be opened in a new tab, no need to fix.
3. seems that our whitepaper file is broken.

[2022-02-21 12:28] josealonso commented on #456
It's not broken. It is downloaded, instead of being opened in a new tab. I confused `Docs` with `Whitepaper`, sorry.

[2022-02-21 12:32] zhyd1997 commented on #456
@josealonso could you open the `Whitepaper`?

I can't open it both on my local machine and online website.

But it was opened in a new tab correctly in my dev environment.

[2022-02-21 12:35] #456 closed

[2022-02-21 12:38] josealonso commented on #456
You're right, the pdf document is damaged.

[2022-02-21 12:56] #445 closed

[2022-02-21 18:11] abhisheknaiidu opened #462 "redesign cards, tables and add loading skeletons"
redesign these ugly looking cards and add loading skeletons to it same as superfluid

<img width="1094" alt="Screenshot 2022-02-21 at 11 37 21 PM" src="https://user-images.githubusercontent.com/55599878/155007732-67a97fc5-7082-4108-8b4a-f210b80be621.png">

![Screenshot 2022-02-21 at 1 57 58 PM](https://user-images.githubusercontent.com/55599878/155007240-4a161ad9-b7bb-472d-b5e6-5dd8d2785429.png)

[2022-02-21 22:48] Seroxdesign commented on #339
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/463    PR for this issue

[2022-02-22 05:45] bigint opened #464 "Don't allow to do start stream when amount is empty"
https://user-images.githubusercontent.com/69431456/155070582-4fb781d9-451c-4a99-81e0-3c609737855a.mov

[2022-02-22 11:30] zhyd1997 opened #466 "Refactor: reduce redundant code"
There are many repeat source code snippets in every pages, like so:

<img width="1189" alt="refactor" src="https://user-images.githubusercontent.com/31362988/155122776-5f0fb251-0e42-4034-ac2b-a061a15c76a3.png">

It would be better if moving them into the `MainLayout` container.

[2022-02-22 16:15] josealonso commented on #466
I just a bounty value, after going through many issues. What do you think, @Seroxdesign and @samirsalem ? I don't know the frontend code, but this refactoring tasks are really helpful for us programmers.

[2022-02-22 22:14] elvijsTDL commented on #429
Seems like I have messed up somewhere as my rounding seems off , but hoping to finish it up tomorrow

[2022-02-23 12:07] bigint opened #470 "UI Issues"
- [x] Center align down arrow in Panel change in mobile

<img width="434" alt="Screenshot 2022-02-23 at 5 37 02 PM" src="https://user-images.githubusercontent.com/69431456/155316407-27022b8a-98c3-47f2-b36f-7b76b5cba818.png">

- [x] Add more space between search and table right now it is very congested

<img width="748" alt="Screenshot 2022-02-23 at 5 39 47 PM" src="https://user-images.githubuserco

[2022-02-23 18:45] #339 closed

[2022-02-23 18:49] #466 closed

[2022-02-23 19:35] #464 closed

[2022-02-23 19:43] #462 closed

[2022-02-23 21:43] #438 closed

[2022-02-23 22:00] #470 closed

[2022-02-23 22:17] msoni89 commented on #391
![image](https://user-images.githubusercontent.com/65469737/155418327-c4ee7753-6a60-4173-97dc-1b17086c68c5.png)
![image](https://user-images.githubusercontent.com/65469737/155418383-cb35ca8f-afaf-4149-be09-aa3c5a2156a9.png)
Responsive
I will finish it tomorrow

[2022-02-23 22:42] josealonso commented on #429
@mikeghen, can I merged the PR linked to this issue ?

[2022-02-23 23:14] Seroxdesign commented on #389
Updates:

I am still working witht the superfluid Core SDK, an issue that's arised is the lack of clear documentation related to making this work with all networks.
There is a hands on tutorial the shows how to use this feature with ethers, as well as a youtube video that goes over the tutorial.
I am still trying to find the feature in use on a live website but no luck yet.

Tomorrow I will be des

[2022-02-23 23:16] Seroxdesign commented on #270
This should be grouped with #60 and #208  if you can assign these all to me @josealonso since I've been working on this bug for a week now.

[2022-02-23 23:19] Seroxdesign commented on #391
Good working, love this thank you

[2022-02-23 23:40] Seroxdesign commented on #466
All for refactoring

[2022-02-24 11:38] #442 closed

[2022-02-24 11:43] josealonso commented on #457
I think these issues have been resolved already. Let me know if this can be closed, @abhisheknaiidu, @bigint

[2022-02-24 11:49] abhisheknaiidu commented on #457
@josealonso I can still see all the issues, will fix these by today!

[2022-02-24 11:52] josealonso commented on #270
These was reported one month ago, so I appreciate you taking care of this.

[2022-02-24 11:54] josealonso commented on #60
I put my avatar on behalf of @Seroxdesign

[2022-02-24 11:55] josealonso commented on #208
I put my avatar on behalf of @Seroxdesign

[2022-02-24 12:25] #457 closed

[2022-02-24 18:16] abhisheknaiidu opened #481 "ui bugs"
- [x]  fix NAN value in supertoken balance

<img width="180" alt="Screenshot 2022-02-24 at 11 06 23 PM" src="https://user-images.githubusercontent.com/55599878/155578780-47e8de89-8b98-4b30-b610-f95143457b42.png">

- [x]  format number here

<img width="180" alt="Screenshot 2022-02-24 at 11 04 55 PM" src="https://user-images.githubusercontent.com/55599878/155578813-be19201a-7a7e-4863-8db7-2bc6058a0

[2022-02-24 18:17] ramprakashram commented on #425
Hi @josealonso , I have raised a PR for this, please check it.

[2022-02-24 18:44] abhisheknaiidu commented on #481
i would like to fix these

[2022-02-24 22:12] josealonso commented on #97
My avatar is used on behalf of @0xMihir. He's the one doing it, not me.

[2022-02-24 22:30] josealonso commented on #481
@abhisheknaiidu, I may be wrong, but I think the third issue you describe was introduced by you.

[2022-02-24 23:26] #425 closed

[2022-02-24 23:36] josealonso commented on #425
Thanks for telling me !! I left my comments in the linked PR.

[2022-02-25 03:04] bigint opened #482 "Fix alignment of plus and minus to center"
![image](https://user-images.githubusercontent.com/69431456/155645929-7b763ef9-b329-4cbd-8d08-9cfc73208fb5.png)

https://discord.com/channels/862796510604296263/916548982262620171/946540224949940234

[2022-02-25 03:21] bigint opened #484 "UI alignment bugs"
Extra space on the right

![Screenshot 2022-02-25 at 8 50 32 AM](https://user-images.githubusercontent.com/69431456/155647547-9358b27f-656b-4081-9a00-3be8cf65b8a5.png)

More padding on the right

![Screenshot 2022-02-25 at 8 50 39 AM](https://user-images.githubusercontent.com/69431456/155647562-daef85a8-f03a-48eb-bdd5-f495eb2e5d76.png)

Vertical align account button

![Screenshot 2022-02-25 at 9 1

[2022-02-25 04:11] #481 closed

[2022-02-25 11:03] #482 closed

[2022-02-25 16:55] #484 closed

[2022-02-25 17:43] #429 closed

[2022-02-25 22:13] mikeghen opened #493 "Remove comma"
The comma doesnt belong there

<img width="107" alt="Screen Shot 2022-02-25 at 5 13 24 PM" src="https://user-images.githubusercontent.com/5077880/155810243-1dd12b87-ea8d-4d96-ba54-1bba9080c265.png">

[2022-02-25 22:14] mikeghen commented on #493
This is on the wallet page

[2022-02-25 22:17] mikeghen opened #494 "Last Distributed at not working"
This was working before ETH Denver, now its not

<img width="190" alt="Screen Shot 2022-02-25 at 5 16 41 PM" src="https://user-images.githubusercontent.com/5077880/155810573-7247ae03-5b07-47e1-ac04-904dfc0fcf69.png">

[2022-02-25 22:18] mikeghen opened #495 "Add $ sign back"
This was working before ETH denver, now its not
<img width="191" alt="Screen Shot 2022-02-25 at 5 17 54 PM" src="https://user-images.githubusercontent.com/5077880/155810655-97c03875-672a-487f-bbee-33960bc39c48.png">
There should be a $ sign

[2022-02-25 22:21] #495 closed

[2022-02-25 22:28] mikeghen commented on #394
Please, someone do this

[2022-02-25 22:36] joshuasamaniego commented on #394
I can take a stab at this one!

[2022-02-25 22:37] mikeghen commented on #394
Good luck

[2022-02-25 22:54] mikeghen opened #498 "Add Link to v1.ricochet.exchange"
Once we cut over, we need to include a link to the version 1 so people still streaming there can close their streams and reopen them using the version 2 of the app. The link can go anywhere, just make it discreet and not obnoxious.

[2022-02-26 00:12] #493 closed

[2022-02-26 00:54] elvijsTDL commented on #60
@josealonso #475 #496 These PRs Fix the issue

[2022-02-26 01:14] josealonso commented on #60
Thanks, Elvis. @Seroxdesign was working on this, not me. Although the main issue with the bank is the bug when trying to repay. That's assigned to him. Closing this one.

[2022-02-26 01:14] #60 closed

[2022-02-26 06:29] bigint opened #504 "Add test GitHub workflow"
Currently, we are testing our codebase only on PRs, It would be great if we test our codebase after merging to the main branch

- We can know any regression issues occur
- Test may pass in PR if the branch is not rebased but fail in the main branch

[2022-02-26 06:29] bigint commented on #504
cc @mikeghen

[2022-02-26 06:42] bigint opened #508 "Add lighthouse CI"
This workflow will report our website quality

https://web.dev/measure/

We will be using Google's gh image to achieve this

![Screenshot 2022-02-26 at 12 12 16 PM](https://user-images.githubusercontent.com/69431456/155832843-62dbd27e-c73b-4371-8170-2c24c0afeab3.png)

[2022-02-26 16:03] mikeghen commented on #508
@aditya109, its first delivered first paid, you don't need to ask permission to do it

[2022-02-26 16:04] mikeghen opened #509 "Realign Token symbols"
I feel like we keep having to do this over and over 😪

<img width="353" alt="Screen Shot 2022-02-26 at 11 02 58 AM" src="https://user-images.githubusercontent.com/5077880/155850110-2195db58-11ba-4dc5-9337-c1e92641aafe.png">

[2022-02-26 16:34] abhisheknaiidu commented on #509
@mikeghen i would like to fix this

[2022-02-26 17:30] #509 closed

[2022-02-27 15:44] Seroxdesign opened #515 "Re - Visiting Invest/Launchpad Pages Freezes the app"
**Describe the bug**

Whenever you visit Invest and Launchpad Pages and connect your wallet the app will slow down significantly, then freeze completely and finally the browser crashes.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'https://staging.ricochet.exchange/invest/rex-market'
2. Navigate to a different page
3. Return to invest page
4. Open your browser console
5. View erro

[2022-02-27 16:04] Seroxdesign commented on #515
Update:  This only happens when you leave Invest page and go back to it

[2022-02-27 17:43] 0xMihir commented on #97
Can I be assigned this?

[2022-02-27 20:59] sunnyjaycer commented on #97
Done

[2022-02-28 00:47] Seroxdesign commented on #389
Today I designed the pop up in figma then developed the frontend for desktop:

![fhdohgldi](https://user-images.githubusercontent.com/69639595/155907641-83e97a65-f632-4bc4-b8bf-cf8fa8ac4479.jpg)

Tomorrow I will be changing the colors to match our styles, designing and building the receive pop up.
Should have it done by the end of this week

[2022-02-28 05:04] Seroxdesign commented on #515
The new contracts added in this PR are causing the app to freeze up:

https://github.com/Ricochet-Exchange/ricochet-frontend/pull/513

@mikeghen does this have anything to do with the keys?

[2022-02-28 15:13] #515 closed

[2022-02-28 15:20] mikeghen opened #519 "Bring back links to contracts in Bank UI"
These links were lost when the UI was upgraded
<img width="937" alt="Screen Shot 2022-02-28 at 10 19 45 AM" src="https://user-images.githubusercontent.com/5077880/156008805-4855a108-ca2d-4cd8-8c94-f886aeb31761.png">

[2022-02-28 16:31] mikeghen opened #520 "Approve Repay for the Bank is Broken"
Reopening #287, this issues happening in staging.ricochet.exchange

[2022-02-28 16:32] mikeghen commented on #520
Bounty for figuring out who broke this

[2022-02-28 16:32] mikeghen commented on #520
We really all need to do better and stop breaking things that other people have fixed, I believe this is the 3rd time someone broke this feature

[2022-02-28 16:36] mikeghen commented on #515
but this isnt actually an issue so no bounty should be paid

[2022-02-28 17:48] Seroxdesign commented on #515
No bounty was claimed

[2022-02-28 17:57] mikeghen opened #521 "Upgrade button opens downgrade"
<img width="732" alt="Screen Shot 2022-02-28 at 12 57 16 PM" src="https://user-images.githubusercontent.com/5077880/156033913-57d8104f-b6d1-42c7-8989-d7f45be3c389.png">

[2022-02-28 18:07] mikeghen commented on #521
Its also the wrong amount for downgrade, 1188 is how much USDC I have that I wanted to upgrade

[2022-02-28 18:45] #521 closed

[2022-02-28 21:25] mikeghen opened #525 "Delist WBTC Market"
This issue is to delist the WBTC market, there's no Superfluid registration keys and their process for making them is broken, so we won't have this market when we launch version 2

[2022-02-28 21:25] mikeghen commented on #525
<img width="1124" alt="Screen Shot 2022-02-28 at 4 25 43 PM" src="https://user-images.githubusercontent.com/5077880/156061214-5547a674-f24c-42e7-a670-057c3029d5ac.png">

[2022-02-28 21:42] mikeghen opened #527 "Upgrade button needs to be disabled if not approved"
The upgrade button isn't disabled if no approval is done, the result is a reverting transaction opening in metamask if you just click upgrade:
<img width="728" alt="Screen Shot 2022-02-28 at 4 39 59 PM" src="https://user-images.githubusercontent.com/5077880/156063330-00624ebc-16b0-4627-8740-224575323b86.png">

[2022-02-28 21:59] #525 closed

[2022-02-28 22:04] mikeghen opened #529 "V1 link not working"
Doesnt link anywhere:
<img width="280" alt="Screen Shot 2022-02-28 at 5 03 39 PM" src="https://user-images.githubusercontent.com/5077880/156066056-da05a89f-417d-431a-bdcb-af1268d993a7.png">

[2022-02-28 22:16] #529 closed

[2022-02-28 23:19] mikeghen opened #531 "Remove comma from decimal"
<img width="301" alt="Screen Shot 2022-02-28 at 6 18 53 PM" src="https://user-images.githubusercontent.com/5077880/156075037-10e604a6-874c-41c1-bfa4-b79167998a18.png">

[2022-03-01 12:51] elvijsTDL commented on #494
#528 Fixed this

[2022-03-01 22:51] #531 closed

[2022-03-01 22:51] mikeghen commented on #531
Thanks @Seroxdesign

[2022-03-01 22:51] mikeghen commented on #494
Thanks @elvijsTDL

[2022-03-01 22:51] #494 closed

[2022-03-01 22:53] mikeghen commented on #208
#520 is the same issue

[2022-03-01 22:57] mikeghen commented on #94
Im going to close this and we can revisit it later

[2022-03-01 22:57] #94 closed

[2022-03-01 22:57] mikeghen commented on #136
I dont think this is still an issue

[2022-03-01 22:57] #136 closed

[2022-03-01 23:35] samirsalem commented on #361
i would like to work on this :)

[2022-03-02 14:27] mikeghen opened #542 "Max Deposit not working at the Bank"
Two issues:
1. Approval doesn't pop up when the user has no approval
2. The max button fills in the wrong value

<img width="417" alt="Screen Shot 2022-03-02 at 9 27 22 AM" src="https://user-images.githubusercontent.com/5077880/156380794-eff8dcea-7576-46b6-9c9f-aff910d6ebbb.png">

[2022-03-02 14:45] mikeghen opened #543 "Repay/Withdraw/Borrow/Deposit button opens both form fields on the bank vaults"
On the vaults page, if you have two vaults for the two banks, clicking repay on the second bank opens up the form for both the vaults

<img width="1585" alt="Screen Shot 2022-03-02 at 9 44 08 AM" src="https://user-images.githubusercontent.com/5077880/156384339-d76f84c6-2085-45c8-a027-655ac79d7e05.png">

[2022-03-02 17:44] elvijsTDL opened #544 "Deposit/Scaler tooltips overlay each other if multiple markets are open"
Deposit and scaler tooltips overlay on top of each other if multiple markets are opened , it will show the last one opened on top of others , if you look closely into it you can see the other tooltip being shown under it
<img width="1076" alt="Screenshot 2022-03-02 at 19 41 15" src="https://user-images.githubusercontent.com/77115130/156418258-e8c74006-e451-4e04-b389-e10539252d24.png">

[2022-03-02 19:41] Seroxdesign commented on #543
All of these are actively being worked on by me. Please assign to me if possible

[2022-03-02 19:41] Seroxdesign commented on #542
Also working on this

[2022-03-02 19:42] Seroxdesign commented on #389
Still working on this, have been pretty busy with all the bugs but should still have everything before beginning of next week

[2022-03-02 19:43] Seroxdesign commented on #270
#543 is also linked to this issue, actively being worked on

[2022-03-03 11:27] zhyd1997 commented on #393
Submitted a pull request!

[2022-03-03 14:30] mikeghen opened #549 "Launchpad streaming not working"
Opening a new stream to the launchpad doesn't work. The button spins and hangs. I captured the screenshot.
<img width="1506" alt="Screen Shot 2022-03-03 at 9 29 06 AM" src="https://user-images.githubusercontent.com/5077880/156585022-abd33ad2-d2a3-4037-8638-4e675b861837.png">

[2022-03-03 16:50] mikeghen commented on #394
@joshuasamaniego, still interested in taking a look at this?

[2022-03-03 16:51] mikeghen commented on #394
#545 has some code that might be relevant for this

[2022-03-03 16:53] mikeghen opened #550 "Round Values at the bank"
Make the numbers look more round, truncate decimals to two decimal places (0.00) and use `K`, `M` for thousands and millions
<img width="147" alt="Screen Shot 2022-03-03 at 11 49 56 AM" src="https://user-images.githubusercontent.com/5077880/156612413-30938387-8e6f-478b-9057-9812257a7d07.png">
<img width="195" alt="Screen Shot 2022-03-03 at 11 49 52 AM" src="https://user-images.githubusercontent.co

[2022-03-03 17:05] joshuasamaniego commented on #394
Yes, still interested, just busy with Tellor work. Okay great, what should I be looking at with #545?

[2022-03-03 17:18] abhisheknaiidu commented on #550
@mikeghen assign me, will fix this 🙏🏽

[2022-03-03 17:25] mikeghen opened #552 "Switch to Polygon button not working"
**Describe the bug**
The "Swith to Polygon" button no longer works

**To Reproduce**

Steps to reproduce the behavior:
1. Set your wallet to Ethereum or any non-Polygon network
2. Load app.ricochet.exchange
3. Click the "Switch to Polygon" button

**Expected behavior**

This should pop something in metamask to switch the network to polygon

[2022-03-03 18:52] abhisheknaiidu commented on #519
@mikeghen added links in #553

[2022-03-03 19:43] msoni89 commented on #552
@mikeghen https://github.com/Ricochet-Exchange/ricochet-frontend/pull/554

[2022-03-03 19:47] zhyd1997 commented on #549
@mikeghen
Assign to me, I will take a look.

[2022-03-03 19:59] zhyd1997 commented on #549
( If no anyone working on this

[2022-03-03 22:27] mikeghen commented on #549
@zhyd1997 you got it, this is top priority ⛵

[2022-03-03 22:30] #550 closed, assigned to nobody

[2022-03-04 03:01] zhyd1997 commented on #549
The error is occurred because someone add hooks outside of components, after removing it, I catch the real error here:
<img width="1239" alt="error screenshot" src="https://user-images.githubusercontent.com/31362988/156691008-56bc7805-6783-4486-a39a-8bb0c7cf3cd0.png">

I will figure out how to fix it.

[2022-03-04 05:20] zhyd1997 commented on #549
USDCx/RIC is missing here:
https://github.com/Ricochet-Exchange/ricochet-frontend/blob/91ee8554718030ef95ed5e3f295e763815af384c/src/constants/flowConfig.ts#L21-L55

[2022-03-04 16:37] #549 closed

[2022-03-04 18:46] spitko commented on #520
Fixed in #557

[2022-03-04 21:19] mikeghen opened #558 "List USDC<>RIC Market"
This issue is to list USDC<>RIC market in the app, the contract address is: 0xFBF91D299db56624f46F544dc1DCD0d0da2e3327

Also, since this market uses RIC as the pair token, the subsidy token is ETHx, I believe for things to work correctly this needs to be set in the flowConfig

[2022-03-04 22:11] #520 closed

[2022-03-04 22:25] mikeghen opened #559 "List DAI<>ETH Market"
The DAI<>ETH Market contract is: 0x47F99Bf24C7f91Bc93bF3b7f0b3D65eef1583dF6

[2022-03-04 22:50] #519 closed

[2022-03-04 22:50] #552 closed

[2022-03-05 15:38] 0xSero commented on #543
Finishing this up rn

[2022-03-05 19:34] 0xSero commented on #542
Fixed:
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/562

[2022-03-05 19:35] 0xSero commented on #543
Fixed:
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/561

[2022-03-06 21:36] 0xSero commented on #389
Got this working, now I need to make it pass tests/look good + clean up

[2022-03-07 17:14] #393 closed

[2022-03-08 11:36] mindsgn commented on #391
hey @msoni89 whats the status of this?.

[2022-03-08 14:20] #391 closed

[2022-03-08 14:20] mikeghen commented on #391
All set @mindsgn

[2022-03-08 14:21] #208 closed

[2022-03-08 14:21] mikeghen commented on #270
@Seroxdesign is this all done? There was a PR right?

[2022-03-08 14:21] #270 closed

[2022-03-08 18:03] 0xSero commented on #542
This can be closed @mikeghen

[2022-03-08 21:06] msoni89 commented on #394
[Done] https://github.com/Ricochet-Exchange/ricochet-frontend/pull/569

@mikeghen Please review and merge

[2022-03-09 14:58] mikeghen opened #570 "List MATIC<>USDC"
The MATIC<>USDC contract address is: 0x7688f3efA3A19948b07c26B5B72F67a42d102C83, I'm keeping it at the top of the hour, so txns to open streams might revert since the oracle isn't updated that frequently

[2022-03-09 14:58] mikeghen commented on #570
This is getting handled in #560

[2022-03-09 14:59] #543 closed

[2022-03-09 14:59] mikeghen commented on #543
Thanks @Seroxdesign

[2022-03-09 19:40] #542 closed

[2022-03-09 19:42] mikeghen commented on #394
Nice work @msoni89

[2022-03-09 19:42] #394 closed

[2022-03-09 20:09] elvijsTDL opened #571 "Disable buttons if user is unable to start a transaction and add tooltips explaining it"
A bunch of buttons are enabled when there are negative values set in the fields or they are empty , or the user hasn't got enough balance, which can cause users some confusion and possibly transactions that just get rejected

To prevent such bad UI/UX. unnecessary confusion and messages in discord ,all buttons for upgrading/downgrading/repaying/starting a stream etc. should be disabled if users ba

[2022-03-09 20:28] mikeghen opened #572 "List MATIC<>DAI"
This is the MATIC<>DAI contract: 0xbb131E3Cd2FadE7f387c2024F04F33Ed5e6c5101

[2022-03-09 21:17] elvijsTDL opened #574 "Distribution page - Distribution so far $ column values wrong for RIC and Matic"
@msoni89 a bug missed in #545 -  Distribution page - Distributed so far values for RIC and Matic are not shown in dollars

![image](https://user-images.githubusercontent.com/77115130/157537547-1d9cdb12-d18d-478d-bfaa-12cc37414ba7.png)
![image](https://user-images.githubusercontent.com/77115130/157537562-be0720be-4eb1-4297-89ca-7e808b7bd05d.png)

[2022-03-09 21:27] mikeghen opened #575 "List WBTC<>DAI"
List the WBTC<>DAI market: 0x2cAD92C88fc424779AB53e17A948217A3Be83559

[2022-03-09 21:37] msoni89 commented on #574
@elvijsTDL https://github.com/Ricochet-Exchange/ricochet-frontend/pull/576/files

[2022-03-09 21:50] elvijsTDL opened #579 "Sent transactions not shown in the activity page and copy tooltip overlaying itself"
**Describe the bug**

Sent transactions are not shown in the activity history:
![Screenshot 2022-03-09 at 23 45 34](https://user-images.githubusercontent.com/77115130/157541668-02717144-c7a9-41ac-92e0-4bc044838261.png)

**To Reproduce**

Send some super tokens to a different address , for example , repaying some debt to the bank

**Expected behavior**

Sent transactions should be shown in the acti

[2022-03-09 21:51] elvijsTDL commented on #579
@zhyd1997

[2022-03-09 22:43] elvijsTDL opened #580 "Make Ricochet icon stick to the top of the page"
**Describe the bug**

Ricochet logo overlays the contents if user is able to scroll the page

**To Reproduce**

Open up app.ricochet.exchange
Scroll down

**Expected behavior**

Logo should stick at the top of the page and not overlay the contents of the page

**Screenshots**

https://user-images.githubusercontent.com/77115130/157551304-4e60a19e-f099-46de-ae32-4a37da7123d6.mov

[2022-03-09 23:06] zhyd1997 commented on #579
I will figure out the reason and fix it without bounty, thanks @elvijsTDL

[2022-03-09 23:45] 0xSero opened #581 "Remove 2nd transaction from Vault Creation flow"
![image](https://user-images.githubusercontent.com/69639595/157558081-1eb0bebd-a3d1-4aa3-a780-d1147a5e565b.png)

**Vault creation lags when user withdraws and deposits**

When creating a new vault the pop up will ask how much you want to deposit and how much you want to withdraw

**Describe the solution you'd like**

Remove the input field for the withdraw, only allow user to deposit on vault crea

[2022-03-10 00:23] 0xSero commented on #389
I'd like 3 more days with this if no one else needs it.

[2022-03-10 02:43] zhyd1997 commented on #579
@elvijsTDL
sent transactions work for me.
<img width="602" alt="sent transactions" src="https://user-images.githubusercontent.com/31362988/157577281-c5c1b62e-dde5-4b7a-bf9d-a9c70c5f964b.png">

[2022-03-10 13:55] mikeghen opened #584 "REX Bank Tutorial"
This task is to create a tutorial for using the REX Bank. There needs to be a video and written tutorial, these will get added to docs.ricochet.exchange, no PR required for this issue just post links to the media here.

[2022-03-10 15:02] mikeghen commented on #527
@spitko, It looks like this issue is back, probably someone else on the team broke your fix, I did test it, it worked. Could you take another look?

[2022-03-10 20:03] #558 closed

[2022-03-10 20:03] #559 closed, assigned to nobody

[2022-03-10 20:03] #570 closed, assigned to nobody

[2022-03-10 20:03] #572 closed, assigned to nobody

[2022-03-10 20:03] #575 closed, assigned to nobody

[2022-03-10 22:07] elvijsTDL commented on #579
Will re-check when polygon is back up , maybe my sent transactions were too old and didn't show up in activity history

[2022-03-10 22:09] zhyd1997 commented on #579
Waiting for your response

[2022-03-11 01:44] #574 closed, assigned to nobody

[2022-03-11 03:06] zhyd1997 opened #587 "add stylelint for scss files"
### Solution:
https://stylelint.io/user-guide/get-started/#linting-everything-else
https://github.com/stylelint-scss/stylelint-config-standard-scss/issues/5#issuecomment-1000025410
<img width="981" alt="solution" src="https://user-images.githubusercontent.com/31362988/157794522-82ff3fac-a8dc-4baf-9f9a-8328d89c78cc.png">

<img width="412" alt="stylelint config" src="https://user-images.githubuserco

[2022-03-11 03:49] zhyd1997 commented on #587
Some strategies to prevent UI break.
1. split the issue into smaller tasks(the same to bounty) and assign them to two or more contributors.
2. assign to one contributor but every commit must be tested by QA.

[2022-03-11 14:34] spitko commented on #527
Sorry, the PR was made to main branch and not v2, created a new PR into v2: #589

[2022-03-11 21:10] #527 closed

[2022-03-12 09:21] elvijsTDL commented on #579
@zhyd1997 Looks like my sent transaction was just a little bit too old to get shown in the activity history,sorry for the misleading, reviewed the tooltip changes, definitely better than before 👍

[2022-03-12 09:40] zhyd1997 commented on #579
@elvijsTDL great thanks ❤️

[2022-03-12 19:03] 0xSero commented on #389
Committed a working version! Need to make it look better and add the other options

[2022-03-14 11:19] mindsgn commented on #580
fixed: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/592

[2022-03-14 12:16] um1ng commented on #587
@mikeghen Hi mike, I have found a lot of stylelint format problems, and I have made a lot of file modifications, such as those shown in the img, but the project cannot run. I think the difficulty of this problem is very high, so I want to ask this question,  how much bounty can i get?
![SCR-20220314-ryh](https://user-images.githubusercontent.com/3151716/158169666-659e86a4-ab83-405e-95f1-6e0a943e96

[2022-03-15 11:13] mindsgn commented on #580
@elvijsTDL please review.

[2022-03-15 21:47] elvijsTDL commented on #587
@um1ng Changing stuff to kebab-case and adding spaces doesn't seem like a very hard problem , can't most of these automatically be handled with a simple command?

[2022-03-15 21:52] zhyd1997 commented on #587
Codemod needs some knowledge of AST, but not everyone knows that, including me.

I think the style lint affects many `.scss` files, we need to confirm that changes do not break the UI.

[2022-03-17 17:03] geekypandey commented on #361
Hi, what checks are required in audit security? just `npm audit`?
There are also multiple options available directly on Github like CodeQL Analysis, Codacy Security Scan etc. for static code analysis. Are they required?

[2022-03-17 18:00] geekypandey opened #593 "The lighthouse CI runs on v2 everytime"
**Describe the bug**
The lighthouse CI runs on the v2 branch everytime.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a new pull request
2. Check the logs

**Expected behavior**
Expected behaviour would be to run the CI action on the repository branch from
which the PR is made.

**Screenshots**

![image](https://user-images.githubusercontent.com/24317727/158866330-41d97f4f-1132-49

[2022-03-20 22:29] 0xSero commented on #584
What is the bounty on this task?

https://youtu.be/WXmXw3oqfBI

This is the video guide, I'm setting it here for review. If I explained things right I will move on to writing the content and getting some screenshots to explain how it works.

[2022-03-21 14:35] #593 closed, assigned to nobody

[2022-03-21 14:36] mikeghen commented on #593
Thank you @geekypandey, I labeled this so you can submit for a bounty payout

[2022-03-21 14:37] mikeghen commented on #584
@Seroxdesign I labeled it :+1:

[2022-03-21 14:50] mikeghen commented on #584
Thanks @Seroxdesign, I added this to the docs too

[2022-03-21 14:50] #584 closed, assigned to nobody

[2022-03-21 14:51] #579 closed, assigned to nobody

[2022-03-21 14:53] mikeghen commented on #361
@geekypandey, I will take a look at your PR today or tomorrow, I have to do the fleek setup and might not get to it today, thanks for working on this.

[2022-03-21 14:56] mikeghen opened #598 "Show "amount received so far" below "amount streamed so far""
As a customer, I want to see how much I streamed in so far relative to how much I received.

Right now I do this by checking both the streams page and the distributions page. It would help to have these both on the same page.

<img width="256" alt="Screen Shot 2022-03-21 at 10 49 51 AM" src="https://user-images.githubusercontent.com/5077880/159288107-86735eb4-d18a-480a-99bd-496f58f7501a.png">

[2022-03-22 14:32] mikeghen opened #599 "Stats don't load without Metamask Connection"
**Describe the bug**

Data doesn't load when metamask is not connected.

**To Reproduce**

This is in staging, you can reproduce it there using a browser without metamask (e.g. Google Chrome Incognito)

**Expected behavior**

All the statistics for the markets should appear so visitors can still see the markets volume even without having metamask

**Screenshots**

<img width="2217" alt="Screen Sho

[2022-03-22 14:33] mikeghen commented on #587
I'm all for formatting so let me know when something's ready here

[2022-03-22 14:56] um1ng commented on #587
Yeah, I am ready do these tasks.

[2022-03-22 19:51] zhyd1997 commented on #599
When I added one line of code here:

<img width="1263" alt="console.error(e)" src="https://user-images.githubusercontent.com/31362988/159563664-b850b718-5026-404f-8051-c2453cafab26.png">

the error appears:

<img width="1263" alt="error" src="https://user-images.githubusercontent.com/31362988/159563725-afdbc2c2-42ff-4202-95c9-3da80fed014d.png">

that's why the page always loading without connectin

[2022-03-24 04:31] zhyd1997 commented on #587
@um1ng
I am confirming that if you still working on it, if no, this will be picked by other devs.

If yes, you can submit a PR, and @mikeghen will put a bounty then, like this issue: https://github.com/Ricochet-Exchange/ricochet-frontend/issues/584#issuecomment-1073361626 (Task was finished and Mike put $1000 bounty on it, for example)

[2022-03-24 06:52] mindsgn commented on #580
@elvijsTDL I have made the changes you requested.

[2022-03-24 12:17] um1ng commented on #587
Okay, I'll do it as soon as possible.

[2022-03-24 13:35] mikeghen opened #600 "Create a toast for when an affilaite tries to stream"
**Describe the bug**

Affiliates are not allowed to open a stream to the app. Right now, there's no feedback that says this. It's confusing to affiliates when they try to stream they get an error in metamask. This bug is about giving the affiliates a clear message that they can't stream if they try.

**To Reproduce**

Steps to reproduce the behavior:

1. Register a wallet as an affiliate
2. Fund t

[2022-03-24 14:00] josealonso opened #601 "Issues in staging on Firefox"
**Describe the bug**

On Firefox I can connect my Metamask, but it's not loading the markets. I finally have to quit and close the web browser.

**To Reproduce**

Steps to reproduce the behavior:

Open a tab on Firefox and go to staging.ricochet.exchange

**Expected behavior**

A list with the existing markets.

**Screenshots**

**Error message**

`Uncaught (on promise) - Error: provider not set o

[2022-03-24 19:37] mikeghen opened #602 "Gas estimates not working anymore"
**Describe the bug**

When transacting on Ricochet, the gas fees are always set too low. It sets gas to 2.5 gwei. This was happening before and it was apparently fixed, for a while it was OK. It could be an issue with where the app is using to estimate gas.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the app and start/stop a stream
2. Inspect the gas price and make sure its close

[2022-03-30 16:22] #599 closed, assigned to nobody

[2022-03-30 18:11] zhyd1997 commented on #598
In Progress...

[2022-03-30 19:36] 0xSero commented on #601
This can  be closed

[2022-03-30 19:44] 0xSero commented on #581
This has been solved and the issue can be closed

[2022-03-30 19:44] #581 closed, assigned to nobody

[2022-03-30 19:48] 0xSero commented on #580
I have completed this and it has been merged, issue can be closed

[2022-03-30 22:48] MrSquiggles13 commented on #602
Im on it I am familiar with this code

[2022-03-30 22:49] josealonso commented on #601
You're right. I finally tested in Chrome and it's working fine. Few people use Firefox.

[2022-03-30 22:49] #601 closed, assigned to nobody

[2022-04-02 14:47] 0xSero opened #614 "Adding Feedback Toasts Across the app"
We have been getting a lot of requests to add feedback and fix issues that wouldn't exist if we were clearly informing users while they commit actions.

The most prominent places this feature can be added to:

### 1. Bank / Vault:   We should add this to vault creation flow and vault actions

### 2. Wallet:  We should use tooltips to inform users why they would be upgrading/downgrading items

###

[2022-04-09 20:16] mikeghen opened #618 "Let affiliates know if their ID has been approved"
The approval is still a manual process so we need some feedback in the app that tells the affiliate whether their ID has been approved or not

[2022-04-09 23:41] #580 closed, assigned to nobody

[2022-04-18 21:05] #598 closed, assigned to nobody

[2022-04-21 15:02] mikeghen commented on #602
I think this isn't a problem, might have been an issue with gas estimation endpoint used

[2022-04-21 15:02] #602 closed, assigned to nobody

[2022-04-21 21:22] #600 closed, assigned to nobody

[2022-04-21 21:53] yohanesyuen opened #625 "Enable sort by balance in wallet view"
The wallet view currently displays balance for all supertokens, a user may end up having to scroll quite a bit to see his balance for a particular token when more markets are added.

A solution to allow the user to sort the displayed tokens by balance/any other columns could be useful down the road as more markets/tokens are supported by the platform.

[2022-04-21 21:55] yohanesyuen opened #626 "Allow user to hide small/zero balances"
One can assume that tokens for which a user has a zero balance is not relevant to the user.

Proposed solution: add a checkbox for the user to be able to hide tokens for which his balance is zero

[2022-04-23 03:44] 0xSero commented on #614
I'll take care of this if no one else needs it

[2022-04-28 13:57] #618 closed, assigned to nobody

[2022-04-28 16:36] mikeghen commented on #587
@um1ng @zhyd1997, is this done? I'm adding a $250 bounty to it

[2022-04-29 08:23] hrishibhattu commented on #625
I'm almost done with this.

[2022-04-29 20:51] abhisheknaiidu commented on #571
On it.

[2022-04-29 23:34] 0xSero commented on #97
I'll take this on if I can get 25% in advance.

It'll be a long bounty so an advance would help me focus.

[2022-04-29 23:35] #389 closed

[2022-04-30 20:34] 0xSero opened #636 "Make logo scroll with navbar"
The logo on the top left corner of desktop version does not scroll with Navbar.

Change it so it scrolls with navbar.

[2022-05-01 15:44] rakhi2104 commented on #97
Hey @mikeghen
I'm interested in working on this feature.
I have previously worked on a drag and drop feature for Mattermost [here](https://github.com/mattermost/mattermost-webapp/pull/4042).

[2022-05-01 18:15] curlypoint commented on #636
Hey, I would like to start working on this.

[2022-05-01 19:47] curlypoint commented on #636
https://user-images.githubusercontent.com/104732858/166162141-a2e74184-5a83-45c7-8a1a-e9adef2f6981.mov

[2022-05-02 14:04] #636 closed, assigned to curlypoint

[2022-05-02 14:13] #625 closed, assigned to nobody

[2022-05-02 20:50] Himnashu opened #639 "On Mobile Nav/Menu top bar is scrollable | It goes out of view on scroll."
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to homepage
2. Click on hamburger icon.
3. Scroll down
4. Top bar will be removed from view port.

**Expected behavior**

On menu items should scroll, and the top bar should remain at the top always.

**Screenshots**

If applicable, add screenshots to help explain yo

[2022-05-02 21:06] #504 closed

[2022-05-02 21:07] Himnashu opened #640 "Desktop full page is scrollable. Only list and side menu should be scrollable."
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the homepage
2. Scroll down to the bottom
4. See empty space on top of left bar
5. I'm adding both video's for current UX and a better UX.

**Expected behavior**
we can keep icon and top header fixes and scroll only inner items.
If we have a large list then the us

[2022-05-02 21:09] Himnashu commented on #640
I can also do many enhancements in the style of this page on mobile and desktop. Please check and approve this first. I'll share a list of improvements in design.

[2022-05-02 21:19] Himnashu commented on #640
I can pick this and will try to solve this in 3-4 days max.

[2022-05-03 06:30] curlypoint commented on #636
Hey, where can I contact you to claim the bounty? @Seroxdesign

[2022-05-03 12:49] 0xSero commented on #636
Hey, did you complete this?
Or are you trying to reserve it?

[2022-05-03 14:58] curlypoint commented on #636
I completed this, I think you also merged it, it was PR [637](https://github.com/Ricochet-Exchange/ricochet-frontend/pull/637)

[2022-05-04 08:03] hkfasdjh commented on #639
I'll take this bounty

[2022-05-04 08:08] curlypoint commented on #614
@Seroxdesign If you've not started working on it, I'll take it.

[2022-05-05 19:20] Himnashu commented on #640
Fixed, Please review and merge.
PR :- https://github.com/Ricochet-Exchange/ricochet-frontend/pull/647

[2022-05-05 19:20] Himnashu commented on #639
Fixed, Please review and merge.
PR :- https://github.com/Ricochet-Exchange/ricochet-frontend/pull/647

[2022-05-05 19:36] 0xSero opened #648 "Create Token Swap component"
![image](https://user-images.githubusercontent.com/69639595/167008329-15b3ece0-49f1-48b2-b1ec-8071f549b540.png)

Create the frontend for this component:

- [ ] Create a container component that contains the swap feature.
- [ ] Pull supertoken data from user wallet to populate component

[2022-05-05 20:02] 0xSero commented on #648
@abhisheknaiidu

[2022-05-05 20:03] abhisheknaiidu commented on #648
On it @Seroxdesign .

[2022-05-06 20:04] #626 closed, assigned to nobody

[2022-05-10 14:36] 0xSero opened #653 "Fix mobile width issue"
On mobile the wallet page is wider than the screen containing it.

Example:
![image](https://user-images.githubusercontent.com/69639595/167654477-659cd2a7-3b81-4f0d-8158-6d7d691c655a.png)

To fix the bounty we must set a max-width of 100vw

[2022-05-10 19:05] 0xSero commented on #614
@hkfasdjh Still interested?

[2022-05-10 19:05] #614 closed, assigned to nobody

[2022-05-11 19:17] 0xSero opened #656 "Make bottom and top navbars on mobile view have a max width of 100vw"

[2022-05-12 02:49] 0xSero opened #657 "Complete Testiny tests."
# Context

We have a unit test kit for the frontend
![image](https://user-images.githubusercontent.com/69639595/167982276-4bcdf9b5-804a-4962-87f1-b9ff6e487c8d.png)

I will add you as a tester, each test will be you opening the test and following the steps in the right sidebar no code is necessary just open [the app](https://app.ricochet.exchange) and do whats in this section

- ## Step one

Choose

[2022-05-12 04:11] hrishibhattu commented on #657
I'm working on this 🙋‍♂️

[2022-05-12 08:27] curlypoint commented on #656
I'm working on this

[2022-05-12 17:50] 0xSero commented on #657
@hrishibhattu Thank you for working on this

I have reviewed and confirmed the work is done.

![image](https://user-images.githubusercontent.com/69639595/168137540-8b33435b-0db7-43ec-9b4a-3a2bde1a0796.png)

[2022-05-12 17:51] hrishibhattu commented on #657
Thank you @Seroxdesign 🚀

[2022-05-13 17:28] #657 closed, assigned to 0xSero

[2022-05-14 15:37] 0xSero opened #659 "Improve the P2P streaming feature"
Currently the p2p feature is a pop up modal

We want to have it in it's own page called "payments":

![image](https://user-images.githubusercontent.com/69639595/168437787-01d5355c-fd84-4f53-af96-564042fd10f3.png)

- [ ]  Remove pop up modal from header
- [ ]  Place the pop up form in a new page called: "payments"
- [ ]  Reorganise the "outgoing streams" table in the "streams" page
- [ ]  Clean up

[2022-05-14 17:18] abhisheknaiidu commented on #659
@Seroxdesign i'll work on this.

[2022-05-14 17:19] 0xSero commented on #659
@abhisheknaiidu You've been assigned to this issue, please update within the next 3 days

[2022-05-15 05:52] curlypoint commented on #653
I'll complete this.
Can you specify the mobile dimensions?

[2022-05-15 06:32] shubdixit commented on #653
@Seroxdesign Can you specify on how to reproduce this bug, or dimensions of the mobile view?

[2022-05-17 02:30] mikeghen opened #662 "Relist V2 Markets"
| Market | Address |
|--------|---------|
| USDC<>RIC | 0x4264eac9E9B159e8B0FE89090442e7dE4560C593 |
| USDC<>ETH | 0x77E8275E5173670D3a5D1B2ae544D7bb92f7E173 |
| DAI<>ETH | 0x1326dCc7C08B8f43E56D1F24e969D0F2403f1765 |
| USDC<>WBTC | 0x4ACA17f39A2BA3E27607A56648f8E8368dFfa42b |

Delist everything except these markets, make this order the order they list, i.e. USDC<>RIC first. More markets to follow

[2022-05-17 14:18] #662 closed, assigned to nobody

[2022-05-17 14:26] mikeghen commented on #662
Sorry @vaibhavgeek, beat you to it this AM, I had done most of this last night while testing locally

[2022-05-17 16:22] #648 closed, assigned to 0xSero

[2022-05-17 16:33] #639 closed, assigned to Himnashu

[2022-05-17 16:33] #656 closed, assigned to nobody

[2022-05-17 16:34] #653 closed, assigned to 0xSero

[2022-05-17 16:51] 0xSero commented on #640
Merged this good job

[2022-05-17 16:51] #640 closed, assigned to Himnashu

[2022-05-17 17:02] 0xSero opened #665 "Create interaction between Rexswap frontend component and swapABI smart contract."
@abhisheknaiidu and I have been working on building this out for the last week.

# We need help with the following

- [ ] Initiating a transaction to the smart contract on address: 0x0983c50085C81A7F41598Eb46a29001989102119
      Take a look at:  https://polygonscan.com/address/0x0983c50085C81A7F41598Eb46a29001989102119#code=

- [ ] Import suprtokens into frontend component /swap:   https://github

[2022-05-17 17:46] hrishibhattu commented on #665
I'm on this

[2022-05-17 21:48] mikeghen opened #666 "Use Superfluid sdk-core for ethereum.ts methods and set gas pricing"
I think it's best to replace superfluid's js-sdk with its sdk-core to fix the gas price issue depicted below. SDK-core has the gas features we need. Between what's in [src/utils/superlfuidStreams](https://github.com/Ricochet-Exchange/ricochet-frontend/tree/v2/src/utils/superfluidStreams) and [src/api/ethereum.ts](https://github.com/Ricochet-Exchange/ricochet-frontend/blob/v2/src/api/ethereum.ts)

[2022-05-17 22:26] mikeghen commented on #666
I think the js-sdk doesn't have support for this until version 0.5.13, when I try to upgrade to the latest js-sdk and run the app I get this error:
[code]
So I'm not sure how to resolve this, maybe a typescript issue

[2022-05-18 05:42] msoni89 commented on #666
@mikeghen

Raised pull request: https://github.com/superfluid-finance/protocol-monorepo/pull/829 It will fix type error of JS-sdk

[2022-05-19 13:16] #659 closed, assigned to abhisheknaiidu

[2022-05-19 14:15] #361 closed

[2022-05-19 16:30] msoni89 commented on #666
@mikeghen please assign it to me.

[2022-05-19 19:24] 0xSero opened #667 "Fixing UI issues"
![image](https://user-images.githubusercontent.com/69639595/169385601-3d94d429-57ca-4019-a35d-94b02c3e4e7a.png)
![image](https://user-images.githubusercontent.com/69639595/169385932-8ae68dbd-48b7-4360-8a12-e705634f980a.png)
![image](https://user-images.githubusercontent.com/69639595/169386093-27aebea4-1898-4d03-b816-a83eb728e5e8.png)

- [ ] Removing the SEND button from top now that we have a new

[2022-05-19 20:15] 0xSero commented on #667
On it.

[2022-05-19 23:57] mikeghen commented on #666
Thank you @msoni89 🙏

[2022-05-20 00:02] mikeghen commented on #667
:+1: thanks @Seroxdesign

[2022-05-20 11:07] Himnashu commented on #587
@mikeghen  If no one is doing this, I can pick it up this weekend.

[2022-05-20 11:28] #571 closed, assigned to nobody

[2022-05-20 19:37] mikeghen opened #671 "Show Referral name not ID"
Instead of showing `10` this should show affiliate ID 10's name, which is `carl`
<img width="625" alt="Screen Shot 2022-05-20 at 3 36 53 PM" src="https://user-images.githubusercontent.com/5077880/169599585-7ab115b6-68ea-49e5-922a-22f40340e059.png">

[2022-05-20 21:04] mikeghen commented on #324
@abhisheknaiidu, did you also lint all the code? I don't see that in the commit?

[2022-05-20 21:14] zhyd1997 commented on #671
On it

[2022-05-21 20:09] 0xSero opened #676 "Get Routing working for Fleek/IPFS"
# Bounty Requirements:

- [ ] Change our current routing package from:  react-router-dom to  https://v5.reactrouter.com/web/api/HashRouter
- [ ] Remove react-router-dom
- [ ] Test changes to see if routing works correctly on Fleek/IPFS + Vercel + current CI pipeline (staging/main)

## Why

We just got IPFS/Fleek Pipeline working, but unfortunately we have an issue, IPFS only understands hash-routi

[2022-05-21 22:51] 0xSero opened #677 "Complete Testiny run for latest deployment"

[2022-05-22 00:37] zhyd1997 commented on #676
On it.

[2022-05-22 12:50] mikeghen commented on #676
@Seroxdesign, $1000 is a lot for this bounty which just changed 1 file, @zhyd1997 would you accept $500 instead?

[2022-05-22 12:50] mikeghen commented on #676
is bear market seazon

[2022-05-22 14:28] zhyd1997 commented on #676
Sure 😃

[2022-05-22 15:00] 0xSero commented on #676
I assumed it'd be a replacement thanks @zhyd1997

[2022-05-22 16:53] msoni89 commented on #666
- src/api/gasEstimator.ts
- src/api/ethereum.ts
- src/utils/fluidSDKinstance.ts
- package.json

Only changes are in the above files, others are formatting.

https://github.com/Ricochet-Exchange/ricochet-frontend/pull/681/files#diff-db040f4db66c373dcde53b0fd9ce405cc487accace0dcc76819cd27af14ff903

[2022-05-23 18:42] #666 closed, assigned to msoni89

[2022-05-26 12:31] mikeghen opened #684 "Pull Prices from Sushi LPs rather than Coingecko AND show them in the frontend"
The coingecko price for Ricochet is wrong. This issue is about switching where the prices for tokens are pulled from. Rather than pulling the price from Coingecko, fetch the price from the Sushi liquidity pool. I believe you can get this from Sushiswap's subgraph: https://thegraph.com/hosted-service/subgraph/sushiswap/sushiswap

Additionally, expose this price in the frontend for each market, like

[2022-05-26 14:44] #677 closed, assigned to 0xSero

[2022-05-26 18:16] #671 closed, assigned to nobody

[2022-05-27 13:31] #97 closed

[2022-05-27 13:51] mikeghen commented on #667
@Seroxdesign is this completed? Im just reviewing things from this week ahead of bounty payouts

[2022-05-27 13:52] mikeghen commented on #665
@hrishibhattu, any update on this?

[2022-05-27 13:52] mikeghen commented on #587
@Himnashu, go ahead, lmk how it goes

[2022-05-27 13:58] hrishibhattu commented on #665
I'm discussing with @Seroxdesign  and planning to work on it over the weekend.

[2022-05-27 14:20] 0xSero commented on #667
I will send you screenshots of what I've accomplished so far, since this is just UI I'm taking to slow

[2022-05-27 14:20] 0xSero commented on #665
I will have something you can test out at the end of tomorrow

[2022-05-27 14:45] Seroxdesign commented on #667
![image](https://user-images.githubusercontent.com/69639595/170722783-2df11359-626d-4c94-ad54-d253a9d965e7.png)

@mikeghen

[2022-05-27 14:46] 0xSero commented on #667
![image](https://user-images.githubusercontent.com/69639595/170722925-83d4b803-f298-4de2-a7b3-cadd549c8961.png)

@mikeghen

Working on getting this to look like the rest of the app

[2022-05-27 19:39] mikeghen commented on #676
This was implemented but didn't fix the routing problem on IPFS deploy with fleek as far as I see on https://ricochetxchange.on.fleek.co/invest/rex-market, I'm reopening and renaming to "Get Routing working for Fleek/IPFS"

[2022-05-28 12:59] #676 closed, assigned to nobody

[2022-05-28 18:40] 0xSero opened #689 "Add padding to Activity and Distributions to improve overall style"
Pages we will change:

![image](https://user-images.githubusercontent.com/69639595/170838713-26fbbb00-7e9d-4d2e-9509-0714a63dc089.png)
![image](https://user-images.githubusercontent.com/69639595/170838729-dcb0efcb-2075-4885-bfdb-1ef5f2a03f91.png)

New padding to be the same as:
![image](https://user-images.githubusercontent.com/69639595/170838736-6629b405-50f8-491c-87da-78051ab3f0bd.png)

[2022-05-28 18:41] seemwavy commented on #689
Claiming

[2022-05-28 18:41] 0xSero commented on #689
You got it.

[2022-05-29 14:11] mikeghen opened #692 "Trade History Page"
As a trader, its difficult to figure out how much was streamed in and how much was received back through distriubtions. This issue is a make a "Trade History" page that show the following information in a table view:
1. Stream start date, with link to start stream txn
2. Stream end date, with link to close stream txn
3. Input amount, native token amount
4. Input amount, USD amount (at time of stre

[2022-05-30 14:29] mindsgn commented on #324
I will take this issue.

[2022-05-31 12:54] #689 closed, assigned to seemwavy

[2022-05-31 12:54] #665 closed, assigned to 0xSero

[2022-05-31 12:58] 0xSero opened #696 "Remove bank and Vault routes from Navbar."
# Bounty requirements

- [ ] Comment out the bank/vault routes from the InvestNav component
- [ ] Ensure route is still accessible by URL

[2022-05-31 13:04] 0xSero opened #697 "Complete a testiny run"
# Bounty Requirements

- [ ] Create a testiny run kit with 95%+ coverage
- [ ] Create a report including all failed/blocked tests

[2022-05-31 13:53] #696 closed, assigned to mindsgn

[2022-05-31 23:57] zhyd1997 opened #699 "new streams page bugs"
**Describe the bug**

There're some bugs on the new streams page like `Nodes` can not reset the `opacity` when connecting is canceled, and the form text field does not support the `Enter` key and refresh the page when doing it.

[2022-06-01 00:50] zhyd1997 commented on #699
I will do it with no bounties but need some time.

[2022-06-01 16:12] #699 closed, assigned to nobody

[2022-06-01 17:38] mikeghen opened #702 "Duplicated Outgoing Streams and Incorrect Stream Rates"
**Describe the bug**

The outgoing streams section shows streams twice and gives customers the appearence they have multipe streams open. This was already addressed previously so this bug is a regression. Also, the rate in outgoing streams is wrong

**To Reproduce**

Open a stream to any market and then check the streams page. You'll see it looks like there's two outgoing streams.

**Expected beha

[2022-06-02 15:12] mikeghen commented on #697
@Seroxdesign, I think this is done now right?

[2022-06-02 15:14] 0xSero commented on #697
It is yes

[2022-06-02 15:18] 0xSero commented on #697
![image](https://user-images.githubusercontent.com/69639595/171663106-c315e05e-e316-481a-a5df-5cfccd3d629c.png)

[2022-06-02 15:18] #697 closed, assigned to 0xSero

[2022-06-02 15:27] 0xSero opened #703 "Market Streams not opening due to APPROVAL issue"
The second time you start a stream, the app checks if you've already approved things, so its somehow not seeing that you already approved the subscription and its trying to batch call the approve txn with the start/edit stream txn

if you look in ethereum.ts youll see batchCall

[2022-06-03 21:36] mikeghen commented on #703
I think we need some more information about how to reproduce this issue

[2022-06-05 19:43] mikeghen opened #707 "Add and Run Testiny for MATIC<>USDC/DAI and WBTC<>DAI"
This is related to merging #706

- [ ] Create new tests in testiny for testing these new markets
- [ ] Run a test run and test these markets

[2022-06-05 20:53] mikeghen opened #708 "Round values and Show USD Amounts"
The goal is to add more information to this to make flows like this easier to balance.

- [ ] Round the values to less decimals (mind rounding ETH and WBTC isnt the same as rounding USDC/DAI or RIC)
- [ ] Show the USDC amount on the edges along side the token amount

![Jun-05-2022 16-50-41](https://user-images.githubusercontent.com/5077880/172070064-a5567637-4d40-4d3e-94cf-212d933e66df.gif)

[2022-06-06 10:26] 0xSero commented on #703
Browser:  Firefox
Wallet: Metamask

Conditions when bug started:

1. Had used streams many times in the past
2. All streams stopped opening and the error message I would get is that cannot modify flow that doesn't exist.

[2022-06-06 10:39] 0xSero commented on #667
Back to working on this now shouldn't be long

[2022-06-06 11:19] 0xSero commented on #702
Solved with

  https://github.com/Ricochet-Exchange/ricochet-frontend/pull/710

[2022-06-06 11:19] #702 closed, assigned to nobody

[2022-06-06 11:20] 0xSero commented on #587
@Himnashu

Any progrss on this?

[2022-06-06 11:20] 0xSero commented on #324
@mindsgn

Is there any progress on this?

[2022-06-06 11:21] mindsgn commented on #324
@Seroxdesign  yes, I will make a PR tomorrow.

[2022-06-06 19:52] 0xSero opened #713 "Set up cloudflare WAF"
- [ ] Deploy frontend on cloudflare

- [ ] Set up WAF to protect frontend

- [ ] activate anti XSS feature

[2022-06-06 21:17] #713 closed, assigned to nobody

[2022-06-08 14:06] mikeghen opened #715 "Flow lines reset everytime a new flow opens on interactive view"
**Describe the bug**

If you have flows open in the interactive editor, then open a new flow through the interactive editor, the flow lines get reset so only the newest flow is open.

**To Reproduce**

Steps to reproduce the behavior:

1. Start a flow (i.e.  USDC>>ETH)
2. On the interactive flow editor, start another flow (USDC>>WBTC)
3. After confirmation, there should be two flow lines on the in

[2022-06-08 15:04] mikeghen commented on #715
Only an issue on #706

[2022-06-08 15:04] #715 closed, assigned to nobody

[2022-06-08 16:03] mikeghen opened #716 "execution reverted: CFA: flow does not exist"
**Describe the bug**

After opening and closing a flow to a market, the next time you try to open the flow you'll get: `execution reverted: CFA: flow does not exist`

This is likely due to calling `updateFlow` instead of `createFlow` after the approvals have happened (probably the bug is in `ethererum.ts`)

**To Reproduce**

With a new wallet:

1. Open a stream to any market
2. Close the stream
3.

[2022-06-08 21:28] #716 closed, assigned to nobody

[2022-06-09 13:03] #684 closed, assigned to zhyd1997

[2022-06-09 13:44] mikeghen opened #718 "Activity Page Shows No Activity and throws error"
**Describe the bug**

The Activity page no longer shows activity and throws this error:
<img width="1182" alt="Screen Shot 2022-06-09 at 9 43 21 AM" src="https://user-images.githubusercontent.com/5077880/172861912-e81acf97-c96b-4359-9168-ffbdc29b54f7.png">

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the app using a wallet with a few stream activities
2. Click on the Activity nav

[2022-06-09 13:47] mikeghen commented on #707
I'm working on this and have already ran most of the tests

[2022-06-09 14:44] #707 closed, assigned to mikeghen

[2022-06-10 01:37] zhyd1997 opened #720 "launchpad can not start a stream."
**Describe the bug**

`execution reverted: !inputAccepted`.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to [Launchpad](https://staging.ricochet.exchange/).
2. Click on `Launchpad`
3. Start a stream `USDC>>RIC`.
4. See the error on the console.

**Expected behavior**

no error toast and should stream successfully.

**Screenshots**
<img width="407" alt="Screen Shot 2022-06-10 at 09 36

[2022-06-10 02:13] #720 closed, assigned to nobody

[2022-06-10 13:12] mikeghen commented on #718
It's sdk-core issue: https://discord.com/channels/752490247643725875/752493319657095168/984799652098502686

[2022-06-10 13:16] mikeghen commented on #703
@Seroxdesign, this was fixed in #717 :+1:

[2022-06-10 13:16] #703 closed, assigned to nobody

[2022-06-10 15:49] bertux commented on #667
@mikeghen  do you plan to fix the documentation links at the bottom of the left panel ? If not, I can propose a simple PR to fix them.

[2022-06-12 23:53] mikeghen opened #723 "Fix Tutorial and V1 link"
![unknown](https://user-images.githubusercontent.com/5077880/173258730-4a02ad1d-87c9-45e3-b05d-a19576046f35.png)

[2022-06-12 23:53] mikeghen commented on #723
@zhyd1997, @Seroxdesign, I think this is from adding hashrouter

[2022-06-13 00:24] #723 closed, assigned to nobody

[2022-06-13 14:56] mikeghen opened #726 "Show referral ID before stream start"
Right now if you're referred by someone the Refer page will show you as "Organic" even when the referralId cookie is set. This issue is to change this so that if the cookie is set (i.e. referralId=carl) then show who referred you even before opening a stream.

Currently, people who coming in via referral links look at this refer page to see if that referral worked. So even if the referral id cooki

[2022-06-13 14:57] abhisheknaiidu commented on #726
On it @mikeghen .

[2022-06-16 15:39] #667 closed, assigned to 0xSero

[2022-06-17 18:26] mikeghen opened #731 "Transpose Stream Info into a table view"
I think the streams page should show the info as a table, similar to the wallet view.

Each stream market right now has stats that stack up:
<img width="1440" alt="Screen Shot 2022-06-17 at 2 14 09 PM" src="https://user-images.githubusercontent.com/5077880/174355153-e6e9b8f8-ad4e-4e02-94d3-0f99084da997.png">
This issue involves transposing the values so each stream market info is in a single row l

[2022-06-22 21:40] mikeghen opened #736 "Set Referral Cookie using Query Params"
This issue is required to get Ricochet exchange into the ledger live app store.

Currently, the referralId cookie gets set by visiting https://app.ricochet/exchange/#/ref/ledgerlive

Unfortunately, ledger live's dapp browser can't handle that URL and query parameters must be used. The URL ledger will use to load the app is:
[code]
This issue involves parsing the `ref` query parameter to set the `r

[2022-06-23 13:13] 0xSero opened #739 "Optional auto-downgrade for rexmarket output"
# Bounty Requirements

Allow user to choose between automatically downgrading their received tokens supertokens, or leaving them as supertokens.

[2022-06-23 13:32] #692 closed, assigned to zhyd1997

[2022-06-23 13:43] mikeghen commented on #739
I think we need some screenshots or mockups how this would work, I envision an extra check box when closing the stream with the option:
- [ ] Downgrade WETH after stream closure

[2022-06-23 13:55] zhyd1997 commented on #731
On it!

[2022-06-23 15:47] #726 closed, assigned to nobody

[2022-06-23 17:15] abhisheknaiidu commented on #736
I'm working on it.

[2022-06-23 19:32] abhisheknaiidu opened #740 "UI Issues"
**Describe the bug**

- [x] Remove scrollbar in the left nav bar, looks weird now

<img width="179" alt="Screenshot 2022-06-24 at 12 47 00 AM" src="https://user-images.githubusercontent.com/55599878/175379787-e9263d78-b6eb-4e0f-98a5-45e1a89e486c.png">

- [x] Not aligned correctly -

<img width="333" alt="Screenshot 2022-06-24 at 12 48 20 AM" src="https://user-images.githubusercontent.com/55599878/

[2022-06-24 13:14] mikeghen commented on #740
Thanks for putting this list together

[2022-06-24 13:16] 0xSero commented on #740
@abhisheknaiidu @mikeghen Scrollbar is necessary until we change the way the nav works, don't change it.
you can style it so it looks better if you want. But leave the functionality.

[2022-06-24 13:18] abhisheknaiidu commented on #740
yes @Seroxdesign scroll will be there, i'll just hide that bar. looks weird now.

[2022-06-24 13:46] zhyd1997 commented on #718
The `Activity` page now works well as usual, so maybe the issue can be closed safety 🦺

[2022-06-24 13:48] zhyd1997 commented on #718
`Won't fix`?

[2022-06-24 15:49] mikeghen opened #744 "Referral ID doesn't allow letter `e`"
The UI won't let you enter the letter `e` here, I had to copy and paste the referral ID I wanted from a text editor and paste it in here as a work around:

<img width="635" alt="Screen Shot 2022-06-24 at 11 36 24 AM" src="https://user-images.githubusercontent.com/5077880/175571239-cb7ef5ce-9f24-40ba-a5eb-64c1211af061.png">

[2022-06-25 16:29] 0xSero opened #746 "Dark Mode"
![image](https://user-images.githubusercontent.com/69639595/175782458-fff99d54-106c-420c-b6c0-2db7f9938b18.png)

Apply new theme, refactor scss

[2022-06-27 14:46] mikeghen opened #748 "Bring back fire icons showing RIC rewards distributions"
Bring back the RIC rewards flame icon with rewards information:
![ric-flame](https://user-images.githubusercontent.com/5077880/175968799-d94cc963-5624-441a-9afe-2ab9b4a6cb96.png)

[2022-06-27 18:36] #744 closed, assigned to nobody

[2022-06-27 19:02] #740 closed, assigned to abhisheknaiidu

[2022-06-28 12:11] mindsgn commented on #324
@Seroxdesign done: https://github.com/Ricochet-Exchange/ricochet-frontend/pull/750

[2022-06-29 13:55] abhisheknaiidu commented on #748
@mikeghen on it.

[2022-07-01 07:25] blaxkspace commented on #96
Working on it, pl. confirm bounty

[2022-07-01 08:12] blaxkspace commented on #748
I can fix this if no one else is on it already

[2022-07-01 10:00] blaxkspace commented on #736
I've started working on it

[2022-07-01 11:44] #324 closed

[2022-07-01 12:05] #746 closed, assigned to 0xSero

[2022-07-01 13:50] mikeghen commented on #748
@blaxkspace, give it a try! Markets are not getting subsidies

[2022-07-01 15:43] mikeghen opened #754 "Trades page breaks for multiple trades on the same asset"
I streamed USDC>>WBTC and USDC>>ETH and then stopped the streams, the trades page displayed the correct values.

Once I started a new stream USDC>>ETH and USDC>>WBTC, the trades Pnl was incorrect, it didn't detect that I had done two trades on both WBTC and ETH. Its confusing the first trade with the second trade.

<img width="1526" alt="Screen Shot 2022-07-01 at 11 42 12 AM" src="https://user-ima

[2022-07-03 11:54] zhyd1997 commented on #754
https://console.superfluid.finance/matic/accounts/

### clearing the logic:

the trades page should display `input` data as Fig.1 and display `output` data using Fig.2 data (sum a period of distributions):

<img width="1200" alt="Screen Shot 2022-07-03 at 19 49 02 Fig.1" src="https://user-images.githubusercontent.com/31362988/177038280-9f8c61b4-52c2-470a-89a5-fdae484ed9c1.png">
<img width="1200" a

[2022-07-26 20:45] #748 closed, assigned to nobody

[2022-07-30 13:40] abhisheknaiidu opened #771 "UI Issues"
- [x] fix nav bar in mweb

<img width="411" alt="Screenshot 2022-07-30 at 7 09 16 PM" src="https://user-images.githubusercontent.com/55599878/181917000-13bf053f-99e9-4e6a-b3b6-932c46af6f48.png">

- [x] Sentences are breaking in mweb

<img width="197" alt="Screenshot 2022-07-30 at 6 22 56 PM" src="https://user-images.githubusercontent.com/55599878/181915497-487bd3cd-8518-4e09-8713-3cd700891d5a.png"

[2022-08-02 13:33] 0xSero commented on #771
## Test 1:

 - Issue:   fix nav bar in mweb

 This still doesn't work on Firefox
![image](https://user-images.githubusercontent.com/69639595/182384779-e7d5d6e3-bd2e-414a-907c-4e0e52b4e010.png)

- Issue:   Sentences are breaking in mweb

This is working well
![image](https://user-images.githubusercontent.com/69639595/182385191-ef3ef3e1-25f8-4f60-86a4-f3654a37cdae.png)

 - Issue:  gaps are present i

[2022-08-03 14:53] #771 closed, assigned to nobody

[2022-08-04 12:58] abhisheknaiidu opened #773 "UI issues"
- [x] no hover on clicking on payment in mweb

<img width="168" alt="Screenshot 2022-08-04 at 5 30 29 PM" src="https://user-images.githubusercontent.com/55599878/182842474-e11874bf-2ef5-4978-8776-1099f78bc39b.png">

- [x] make header center aligned in mweb

<img width="369" alt="Screenshot 2022-08-04 at 6 27 19 PM" src="https://user-images.githubusercontent.com/55599878/182852536-a6d24ba6-ded5-4a2

[2022-08-06 16:48] 0xSero opened #774 "Incoming and outgoing streams are calculated incorrectly"
![image](https://user-images.githubusercontent.com/69639595/183258314-f7077d2c-4e00-4f8a-bf41-017ff8ce2e00.png)

This should be 40,000 not 55k+. Please take a look in activity page

[2022-08-17 08:53] 0xSero opened #777 "Animate incoming/outgoing flowrate"
## Issue:

Our frontend could use some basic animation to improve UX, by animating the flow from one token into another we can provide users a more visually appealing and less complex application.

### How to solve this:

 - find the per second flowrate for each stream
 - create a function which updates the flowrate on frontend on a second per second basis by incrementing the total streamed so far

[2022-08-18 09:37] mindsgn commented on #587
@Seroxdesign take this on.

[2022-08-22 15:22] #773 closed, assigned to nobody

[2022-08-24 16:56] mikeghen opened #778 "Affiliate name not shown on ref link"
In the app after getting approval to be an affiliate, the link doesn't show the right ID in the link, see below it shows 0x679... but the right link is "rewards" (see the second image)

Fix this so the link is shown correctly to affiliates, the link there should be: app.ricochet.exchange/#/ref/**rewards**

<img width="1431" alt="Screen Shot 2022-08-24 at 12 54 41 PM" src="https://user-images.githu

[2022-08-24 17:16] mikeghen opened #779 "Test creating an affiliate address after starting a stream"
I'm not sure how this will behave give the share logic, so I want to have a test for this scenario. The test procedure should be:

Before test:
1. Start a stream to the rex market
2. register as an affiliate
3. approve the affiliate

Test cases:
1. Test referring another streamer, confirm share allocations are correct
2. Update the affiliates stream, confirm they still have some shares from their

[2022-08-25 18:16] mikeghen opened #780 "Remove MKR, IDLE, SUSHI"
Since we don't support these tokens anymore, please remove them from the Wallet page.
<img width="595" alt="Screen Shot 2022-08-25 at 2 16 02 PM" src="https://user-images.githubusercontent.com/5077880/186739370-13f21800-2f07-4d59-abb6-9b5230c7850d.png">

[2022-08-31 16:59] mikeghen opened #785 "Make a button to upgrade DAI or USDC, or WETH into stibAlluoUSD (and ETH to stiballuoETH)"
Something that looks like this, let the user mint ibAlluo tokens against their USDC DAI and ETH

It could also be the case that the + button looks for how much USDC/ETH they have and upgrades it directly to stibAlluoUSD/ETH without adding an extra button

<img width="1575" alt="Screen Shot 2022-09-20 at 10 15 27 AM" src="https://user-images.githubusercontent.com/5077880/191282250-980f6bb6-32dc-470

[2022-08-31 20:29] mikeghen opened #786 "Fix missing exchange rates"
Some exchange rates in the app are missing, find a fix this so they show an exchange rate:
<img width="323" alt="Screen Shot 2022-08-31 at 4 28 01 PM" src="https://user-images.githubusercontent.com/5077880/187775915-086ea631-e2fb-4b04-a37a-905ebecf3a19.png">

[2022-09-01 22:44] mikeghen opened #787 "Reorder assets, list ibAlluo at the top"
<img width="620" alt="Screen Shot 2022-09-01 at 6 43 36 PM" src="https://user-images.githubusercontent.com/5077880/188025112-aa98f8fc-7f76-4487-bad7-265a27875acf.png">

[2022-09-07 09:04] 0xSero commented on #96
This will be delivered by September 30th at the latest. If I can't deliver I will pass it on to someone who can

[2022-09-07 15:00] mikeghen opened #788 "List ibAlluoUSD<>ibAlluoWBTC market"
List ibAlluoUSD<>ibAlluoBTC market in Ricochet frontend. Follow my commit that lists ibAlluoUSD<>ETH market here: https://github.com/Ricochet-Exchange/ricochet-frontend/commit/c62cc65a354fc952820b898307f8a693ae58cf58

Addresses you will need:

Market Contract Address: 0xA46B49168f77977b36813C863984BC4c38997324
stibAlluoUSD Address: 0xE9E759B969B991F2bFae84308385405B9Ab01541 (already in polygon_con

[2022-09-08 22:30] mikeghen commented on #777
Adding screenshots highlighting where to add these animations:

<img width="1615" alt="Screen Shot 2022-09-08 at 6 03 41 PM" src="https://user-images.githubusercontent.com/5077880/189237201-43d062b1-2070-4a94-8bbd-412b5a0bee0c.png">
<img width="1371" alt="Screen Shot 2022-09-08 at 6 02 02 PM" src="https://user-images.githubusercontent.com/5077880/189237203-5391a94a-c8c0-4b38-bc95-fe991be56fc0.png"

[2022-09-16 15:29] #788 closed, assigned to abhisheknaiidu

[2022-09-16 15:56] mikeghen opened #791 "List USDCx > ibAlluoUSD market"
Market Address: 0xE53dd10d49C8072d68d48c163d9e1A219bd6852D

This market doesn't have the same indexing as the other markets

ibAlluo Output Index = 0
RIC Subsidy Index = 1

There might be some customization to get this one way market listed.

[2022-09-18 02:32] #787 closed, assigned to abhisheknaiidu

[2022-09-18 02:46] mikeghen opened #793 "Wallet header enhancements and redesigns"
- [ ] Remove the colunms that are crossed out in red, they're not important information.

- [ ] Rename the "Supertoken Balance" column to "Ricochet Balance." As far as the customers concerned they deposit/withdraw from Ricochet, even though they're really upgrading and downgrading supertokens.

- [ ] Display the total balance for the wallet balance and the ricoceht balance columns. See how "Total

[2022-09-19 03:58] #793 closed, assigned to nobody

[2022-09-19 08:32] curlypoint commented on #786
I'm taking up this issue if it's still up.

[2022-09-20 15:10] 0xSero opened #800 "Refactor payment page and related components."
## Part 1: feature request

 Improve payments page by using MUI form template that's been used in the new swap feature.

### Use the same form layout from the swap container here in the payments page:
![image](https://user-images.githubusercontent.com/69639595/191292907-74f32644-f01e-4abe-b645-119609d474a4.png)

from token, to token and input amount the fields should be:

1. recepient
2. monthly p

[2022-09-20 21:30] mikeghen opened #801 "Fix Rates on Activity Page"
Make sure the rate math is being done right.

<img width="635" alt="Screen Shot 2022-09-20 at 5 31 31 PM" src="https://user-images.githubusercontent.com/5077880/191368398-3bd77d8f-dd38-4dd8-b731-9756202aa52b.png">

[2022-09-22 14:48] #791 closed, assigned to nobody

[2022-09-23 13:33] PJijin commented on #800
It would be interesting for me to work on this issue if it is still open.  😀

[2022-09-23 14:29] hrishibhattu commented on #800
Hey @PJijin, I'm working on this and am nearly done with it 😄

[2022-09-23 14:43] mikeghen opened #804 "Remove duplicated ibAlluoUSD in the wallet page"
<img width="1664" alt="Screen Shot 2022-09-23 at 10 43 25 AM" src="https://user-images.githubusercontent.com/5077880/191987435-eed63622-cbb4-4aa9-b7b2-f62e80dcc0bc.png">

[2022-09-23 17:51] mikeghen commented on #785
An alternative would be instead of a get button, just expand this interface to detect DAI USDC balances and have the deposit button do the work to deposit the USDC/DAI to ibAlluoUSD
<img width="827" alt="Screen Shot 2022-09-23 at 1 48 18 PM" src="https://user-images.githubusercontent.com/5077880/192027485-661cf43e-5e7d-4196-8a9d-45197549a1eb.png">

[2022-09-24 01:03] #804 closed, assigned to nobody

[2022-09-29 14:04] #800 closed, assigned to hrishibhattu

[2022-10-04 14:37] mikeghen opened #809 "Autoconnect to Gnosis Safe"
This issue involves making sure that the app automatically connects to Gnosis Safe when loaded up as a browser.

To test this issue, make a Safe on Polygon that you can test with: https://gnosis-safe.io/app

When you load the app into the Gnosis safe apps interface, the safe’s wallet address should automatically connect to the app, without the user having to click “connect” in the top right.

Curr

[2022-10-04 14:53] hrishibhattu commented on #809
Hi @mikeghen , is there a bounty associated with this issue?

[2022-10-04 21:43] mikeghen commented on #809
https://app.dework.xyz/ricochet-exchange-da/main-space-32902?taskId=22fdd5e0-9c00-4f07-a640-7e6b18e6a63c

If you want to handle that issue apply in dework, we can have two people work and the bounty will go to the first to deliver.

[2022-10-05 15:24] top1st commented on #809
@mikeghen Please check my pull request
#811
https://github.com/Ricochet-Exchange/ricochet-frontend/pull/811